// Sass.
@use 'sass:list';

// Functions.
@use 'get-var.function' as *;

// The `control-width-var()` function.
@function control-width-var(
  $size: 'md',
  $adjust: null,
  $unit: false,
  $backup: null,
  $dictionary: ()
) {
  @return get-var(
    list.join(('control', 'width'), $size),
    $adjust,
    $unit,
    $backup,
    $dictionary: $dictionary
  );
}
