// Sass.
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

// Variables.
@use '../../variables/core' as *;

// Functions.
@use '../list/get/list-get-list.function' as *;

// @use '../list/remove/list-remove-list.function' as *;
// @use '../list/remove/list-remove-nth.function' as *;
@use '../list/get/list-get-bool.function' as *;
@use '../list/get/list-get-number.function' as *;

// @use '../map/map-get-default.function' as *;
// @use '../map/map-values.function' as *;
// @use 'css-var.function' as *;
@use 'var-adjust.function' as *;

// @use 'var-name.function' as *;
@use 'var-negative.function' as *;
@use 'var-unit.function' as *;

// The `get-var()` function.
@function get-var(
  $params,
  $adjust: null,
  $unit: false,
  $backup: null,
  $var: (), // Remove in favor of $dictionary.
  $dictionary: null
) {
  $var: if($dictionary, $dictionary, $var);

  @if $params == auto or type-of($params) == number {
    @return $params;
  }

  $adjust: list-get-list($params) or list-get-number($params) or $adjust;
  $negative: list.index($params, '!') != null;
  $unit: list-get-bool($params) or $unit;

  // Returns.
  @return var-negative(
    var-adjust(var-unit($params, $unit, $backup, $dictionary: $dictionary), $adjust),
    $negative
  );
}
