// Sass.
@use 'sass:list';
@use 'sass:map';

// Functions.
@use '../map/map-get-default.function' as *;
@use '../map/map-values-ignore.function' as *;
@use 'bind-module-var.function' as *;

// The `module-css-vars()` function.
@function module-css-vars($module-name, $module-var, $css-vars: ()) {
  $result: ();

  // Get which CSS variables should be set.
  @if map.get($module-var, 'css-vars', 'set') {
    // Get what type of CSS variables should be ignored.
    $ignore: map-get-default($module-var, ('css-vars', 'ignore'), ());

    // Merge each indicated css variable.
    @each $keys in map.get($module-var, 'css-vars', 'set') {
      $result: map.merge(
        $result,
        list.append(
            list.join(
              map-get-default($module-var, ('css-vars', 'prefix'), ''),
              $keys
            ),
            bind-module-var(
              $module-name,
              map-values-ignore(map.get($module-var, $keys...), $ignore)
            )
          )...
      );
    }

    $result: map.merge($result, $css-vars);
  }

  @return $result;
}
