// Sass.
@use 'sass:list';

// Functions.
@use 'var.get.function' as *;

// Status: DONE
// The `control-width-var()` function.
@function control-width-var(
  $size: md,
  $adjust: null,
  $unit: false,
  $backup: null,
  $dictionary: ()
) {
  @return get(
    list.join(control width, $size),
    $adjust,
    $unit,
    $backup,
    $dictionary
  );
}
