@use '../../variables/unit-sizes' as *;

$border-prefix: 'border';

// Border radius.
$border-radius: $unit-h !default; // --#{$var-prefix}-border-radius.

// Border width.
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default; 

// Add new size by adding new map properties.
$border-size: (
  '': $border-width,   // --#{$var-prefix}-#{$border-prefix}-width.
  'lg': $border-width-lg, // --#{$var-prefix}-#{$border-prefix}-width-lg.
) !default;
