// Sass.
@use 'sass:map';
@use 'sass:string';

// Variables.
@use '../../variables/core' as *;

// Functions.
@use 'hsla/hsla-color.function' as *;

// The function `color()` returns the `hsla()` color from a CSS variables of the given `$name`.
@function color(
  $name,
  $hue: 0deg,
  $saturation: 0%,
  $lightness: 0%,
  $alpha: 1,
  $var: (), // TODO: Remove $var in favor of $dictionary.
  $dictionary: ()
) {
  @return if(
    $name == currentcolor or type-of($name) == color,
    $name,
    hsla-color($name, $hue, $saturation, $lightness, $alpha, $var)
  );
}
