// Functions.
@use 'color.hsla.function' as *;

// Status: DONE
// The function `color()` returns the `hsla()` color from a CSS variables of the given `$name`.
@function color(
  $name,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $alpha: null,
  $dictionary: ()
) {
  @return if(
    $name == currentcolor or type-of($name) == color,
    $name,
    hsla-color($name, $hue, $saturation, $lightness, $alpha, $dictionary)
  );
}

// Examples.
// @debug color(dark); // hsla(var(--s-dark-color-h), var(--s-dark-color-s), calc(var(--s-dark-color-l) + var(--s-dark-color-l-l)), var(--s-dark-color-a))
