// Sass.
@use 'sass:list';
@use 'sass:meta';

// Modules.
@use '../map';

// Status: TODO: null
// The `combine()` function.
@function combine($values...) {
  $parameters: (bracketed: false, method: append, null: false, separator: list.separator(list.nth($values, 1)));

  @each $value in $values {
    @if type-of($value) == map and map.has-keys($value, any, separator, bracketed, method, null) {
      $parameters: map.merge($parameters, $value);
    }
  }

  $result: list.join((), (), map.get($parameters, separator), map.get($parameters, bracketed));
  @each $value in $values {
    $method: map.get($parameters, method);
    @if type-of($value) == map and map.has-keys($value, any, append, join, method) {
      @each $-method, $-value in $value {
        $method: if($-method == method, $-value, $-method);
        @if $-method == method {
          $parameters: map.set($parameters, method, $method);
        } @else {
          $value: $-value;
        }
      }
    }
    @if not ($value == null) and not (type-of($value) == map and map.has-keys($value, any, bracketed, method, separator))  {
      $result: meta.call(meta.get-function($method, $module: list), $result, $value, map.get($parameters, separator));
    }
  }
  @return $result;
}

// Examples.
// @debug combine('&', layout sidebar, primary dark, extra small); // "&" (layout sidebar) (primary dark) (extra small)

// separator
// @debug combine('&', layout sidebar, primary dark, extra small, (separator: comma)); // "&", layout, sidebar, primary, dark, extra, small

// bracketed
// @debug combine('&', layout sidebar, primary dark, extra small, (separator: comma, bracketed: true)); // ["&", layout, sidebar, primary, dark, extra, small]
// @debug combine('&', layout sidebar, primary dark, extra small, (bracketed: true)); // ["&" (layout sidebar) (primary dark) (extra small)]

// method
// @debug combine((one, two), three, (four, five), (six seven), primary dark, extra small); // (one, two), three, (four, five), six seven, primary dark, extra small
// @debug combine((one, two), three, (method: join), (four, five), (six seven), primary dark, extra small); // one, two, three, four, five, six, seven, primary, dark, extra, small

// method (join: value) (append: value)
// @debug combine((join: (one, two)), (join: three), (four, five), (six seven), primary dark, extra small); // one, two, three, (four, five), six seven, primary dark, extra small
// @debug combine((join: one two), three, (four, five), (six seven), (append: (primary dark extra small))); // one, two, three, (four, five), six seven, primary dark extra small

