// Sass.
@use 'sass:list';
@use 'sass:map';

// Modules.
@use '../function';

// Functions.
@use '../list/remove/list.remove-list.function' as *;
@use '../list/remove/list.remove-string.function' as *;

// Status: REVIEW:
// The `variant()` function.
@function variant($values...) {
  $variant: ();
  @for $i from 1 through list.length($values) {
    $value: list.nth($values, $i);
    @if not (type-of($value) == map) {
      $name: $value;
      @if type-of($value) == list {
        $name: remove-string(function.remove(remove-list($value)), '!important');
      }

      $variant: map.merge($variant, ($name: $value));
    } @else {
      $variant: map.merge($variant, $value);
    }
  }
  @return $variant;
}

// Examples.
// single
// @debug variant(left); // (left: left)
// @debug variant(--get left); // (left: --get left)
// @debug variant(--get text align); // (text align: --get text align)

// multiple
// @debug variant(right, left); // (right: right, left: left)
// @debug variant(border xs, button large); // (border xs: border xs, button large: button large)

// multiple + important
// @debug variant(left !important, right); // (left: left !important, right: right)

// multiple + adjust + important
// @debug variant(left ('+' 15px) !important, right ('+' 10)); // (left: left ("+" 15px) !important, right: right ("+" 10))
