@use 'core' as *;

// Border colors.
$border-color: ('dark-color', +65%) !default; // --#{$var-prefix}-border-color.
$border-color-dark: ('border-color', -10%) !default; // --#{$var-prefix}-border-color-dark.
$border-color-light: ('border-color', +8%) !default; // --#{$var-prefix}-border-color-light.
