@use 'core' as *;

// Link colors.
$link-color: $primary-color !default; // --#{$var-prefix}-link-color.
$link-color-dark: darken($link-color, 10%) !default; // --#{$var-prefix}-link-color-dark.
$link-color-light: lighten($link-color, 10%) !default; // --#{$var-prefix}-link-color-light.
