// Parallax.
$parallax-deg: 3deg !default; // --#{$var-prefix}-parallax-deg.
$parallax-offset: 4.5px !default; // --#{$var-prefix}-parallax-offset.
$parallax-offset-z: 50px !default; // --#{$var-prefix}-parallax-offset-z.
$parallax-perspective: 1000px !default; // --#{$var-prefix}-parallax-perspective.
$parallax-scale: 0.95 !default; // --#{$var-prefix}-parallax-scale.

// Parallax map.
$parallax-settings: (
  'deg': $parallax-deg,
  'offset': (
    '': $parallax-offset,
    'z': $parallax-offset-z,
  ),
  'perspective': $parallax-perspective,
  'scale': $parallax-scale,
) !default;
