// Sass.
@use 'sass:map';

// Variables.
@use 'parallax-settings.var' as *;

// Parallax.
$parallax-name: 'parallax' !default;
$parallax-fade-color: #fff !default; // --#{$var-prefix}-fade-color-h/s/l/a.

// Parallax map variable.
$parallax: map.merge($parallax-settings, (
  'dictionary': (
    'class': (
      'parallax': $parallax-name,
      // 'prefix': '',
      // 'suffix': '',
      // 'separator': ''
    ),
    'var': ()
  ),
  'fade': (
    'color': $parallax-fade-color
  ),
)) !default;
