$dark: (
  // Core colors variant.
  core: (
    dark: dark,
    light: light,
    accent: accent,
    primary: primary,
    primary dark: primary dark ,
    primary light: primary light ,
    secondary: secondary,
    secondary dark: secondary dark ,
    secondary light: secondary light,
  ),

  // Gray colors.
  'gray': (
    'gray': 'gray' color,
    'gray' dark: 'gray' dark,
    'gray' light: 'gray' light
  ),

  // Bg colors.
  bg: (
    bg: (bg color) 15%,
    bg dark: bg dark,
    bg light: bg light
  ),

  // Border colors.
  border: (
    border dark: border dark,
    border light: border light
  ),

  // Link colors.
  link: (
    link: link,
    link dark: link dark ,
    link light: link light
  ),

  // Control colors.
  control: (
    disabled: disabled,
    error: error,
    info: info,
    success: success,
    warning: warning
  ),

  // Body colors.
  body: (
    body bg: body bg,
    body font: body font
  ),

  // Other colors.
  other: (
    code: code,
    highlight: highlight
  )
) !default;
