$light: (
  core: (dark, light, accent, (primary (color, dark, light)), (secondary (color, dark, light))),
  +gray: (color, dark, light),
  +bg: (color, dark, light),
  +border: (color, dark, light),
  +link: (color, dark, light),
  control: (disabled, error, info, success, warning),
  +body: (bg, font),
  other: (
    code: code color,
    highlight: highlight color
  )
) !default;
