// Functions.
@use 'type/list.has-type.function' as *;
@use 'value/list.has-values.function' as *;

// Status: DONE
// The `has-bool()` function.
// ? $occurrence: all any only
// ? $operator: == !=
@function has-bool($list, $occurrence: any, $operator: null, $bools...) {
  $has: false;
  @if type-of($operator) == string {
    $has: if(
      has-type($bools, only, '==', bool),
      has-values($list, $occurrence, $operator, $bools...),
      false
    );
  } @else {
    $has: has-type($list, $occurrence, '==', bool);
  }
  @return $has;
}

// Examples.
// any
// @debug has-bool(('a', 'b', 'c')); // false
// @debug has-bool(('a', 'b', 'c', true)); // true
// @debug has-bool(('a', 'b', false, 'c'), any); // true
// @debug has-bool(('a', 'b', 'c'), any, '==', true); // false
// @debug has-bool(('a', 'b', 'c'), any, '==', false); // false

// all
// @debug has-bool((true, true, false, false), all, '==', true, false); // true
// @debug has-bool((true, true, true, true), all, '==', true); // true
// @debug has-bool((false, false, false, false), all, '==', false); // true
// @debug has-bool((true, true, true, true), all, '==', true, false); // false
// @debug has-bool((false, false, false, false), all, '==', true); // false
// @debug has-bool((true, true, true, true), all, '==', false); // false

// only
// @debug has-bool(('a', 'b', 'c'), only); // false
// @debug has-bool(('a', 'b', false, 'c'), only); // false
// @debug has-bool((true, true, false, false), only); // true
// @debug has-bool((true, true, true, true), only, '==', true); // true
// @debug has-bool((false, false, false, false), only, '==', false); // true
// @debug has-bool((true, true, false, false), only, '!=', false); // false
// @debug has-bool((true, true, true, true), only, '!=', false); // true
