// Sass.
@use 'sass:meta';

// Functions.
@use '../borders.class.function' as *;

// Modules.
@use '../../module';
@use '../../property';
@use '../../var';
@use '../../variant';

// Status: DONE
// The `variant.width()` mixin.
// @param `$variant`
// @param `$important`
// @param `$adjust`
// @param `$fallback`
// @param `$pseudo-class`
// @param `$dictionary`
@mixin width(
  $variant,
  $important: false,
  $adjust: null,
  $fallback: null,
  $pseudo-class: (),
  $dictionary: null
) {
  @include property.variant(
    // class, property
    variant.modify($variant, border, width),
    $important,

    // $pseudo-class,
    $dictionary: if($dictionary, $dictionary, module.dictionary(border, false, var)),
    $class-function: meta.get-function(class),

    // // function
    // $prefix,
    // $separator,
    $type-function: (list: --var-var),
    $functions: (var: (var: meta.get-function(var, false, var))),
  );
}

// Examples.
// div {
  // Variant (class: value)
  // @include width((large: large));
  // div.s-border-width-lg {
  //   border-width: large;
  // }


  // Variants (class: value, class: value)
  // @include width((large: large, small: small, medium: medium));
  // div.s-border-width-lg {
  //   border-width: large;
  // }
  // div.s-border-width-sm {
  //   border-width: small;
  // }
  // div.s-border-width-md {
  //   border-width: medium;
  // }


  // Variants ((class, class, class): value)
  // @include width(((small, medium, large): 20px));
  // div.s-border-width-sm, div.s-border-width-md, div.s-border-width-lg {
  //   border-width: 20px;
  // }


  // Variants (side: ((class): value))
  // @include width((top: (class large: large)));
  // div.s-border-top-width-class-lg {
  //   border-top-width: large;
  // }


  // @include width(((): (basic 100: large 1x)));
  // div.s-border-width-basic-100 {
  //   border-width: large 1x;
  // }


  // @include width(((): ((): (small: (small, medium, large)))));
  // div.s-border-width-sm {
  //   border-width: small, medium, large;
  // }


  // @include width(((top, right): (small: small, medium: medium, large: large)));
  // div.s-border-top-width-sm {
  //   border-top-width: small;
  // }
  // div.s-border-top-width-md {
  //   border-top-width: medium;
  // }
  // div.s-border-top-width-lg {
  //   border-top-width: large;
  // }
  // div.s-border-right-width-sm {
  //   border-right-width: small;
  // }
  // div.s-border-right-width-md {
  //   border-right-width: medium;
  // }
  // div.s-border-right-width-lg {
  //   border-right-width: large;
  // }


  // @include width((basic: (
  //   size small: (size small),
  //   size medium: (size medium),
  //   size large: (size large)
  // )));
  // div.s-border-basic-width-size-sm {
  //   border-basic-width: size small;
  // }
  // div.s-border-basic-width-size-md {
  //   border-basic-width: size medium;
  // }
  // div.s-border-basic-width-size-lg {
  //   border-basic-width: size large;
  // }


  // classes + size
  // @include width(((): ((basic, extended, premium): medium)));
  // div.s-border-width-basic, div.s-border-width-extended, div.s-border-width-premium {
  //   border-width: medium;
  // }


  // @include width(((basic, extended): ((small, large): medium)));
  // div.s-border-basic-width-sm, div.s-border-basic-width-lg {
  //   border-basic-width: medium;
  // }
  // div.s-border-extended-width-sm, div.s-border-extended-width-lg {
  //   border-extended-width: medium;
  // }



  // classes(list) + size
  // @include width(((): ((basic size, extended size, premium size): medium)));
  // div.s-border-width-basic-size, div.s-border-width-extended-size, div.s-border-width-premium-size {
  //   border-width: medium;
  // }



  // classes(list) + size(list)
  // @include width(((): ((basic size, extended size, premium size): extra medium)));
  // div.s-border-width-basic-size, div.s-border-width-extended-size, div.s-border-width-premium-size {
  //   border-width: extra medium;
  // }



  // class + sides + size
  // @include width(((): ((top, bottom, left, right): (medium: medium))));
  // div.s-border-top-width-md {
  //   border-top-width: medium;
  // }
  // div.s-border-bottom-width-md {
  //   border-bottom-width: medium;
  // }
  // div.s-border-left-width-md {
  //   border-left-width: medium;
  // }
  // div.s-border-right-width-md {
  //   border-right-width: medium;
  // }

  // classes + sides + size
  // @include width(((): ((top, bottom, left, right): ((basic medium, extended medium): medium))));
  // div.s-border-top-width-basic-md, div.s-border-top-width-extended-md {
  //   border-top-width: medium;
  // }
  // div.s-border-bottom-width-basic-md, div.s-border-bottom-width-extended-md {
  //   border-bottom-width: medium;
  // }
  // div.s-border-left-width-basic-md, div.s-border-left-width-extended-md {
  //   border-left-width: medium;
  // }
  // div.s-border-right-width-basic-md, div.s-border-right-width-extended-md {
  //   border-right-width: medium;
  // }

  // adjust
  // @include width(((): (basic: (large (-10px,)))));
  // @include width(((): (basic: (large ('*' 10px)))));
  // div.border-basic {
  //   border-width: calc(var(--s-border-width-lg) - 10px);
  // }
  // div.border-basic {
  //   border-width: calc(var(--s-border-width-lg) * 10px);
  // }

  // @include width((basic: (large (adjust: 10px), small (adjust: 15px))));
  // div.border-basic-lg {
  //   border-width: calc(var(--s-border-width-lg) + 10px);
  // }
  // div.border-basic-sm {
  //   border-width: calc(var(--s-border-width-sm) + 15px);
  // }

  // @include width((basic: (large (adjust: 10px))));
  // div.border-basic-lg {
  //   border-width: calc(var(--s-border-width-lg) + 10px);
  // }

  // side + adjust
  // @include width((basic: (top bottom: (large (adjust: 10px), small (adjust: 15px)))));
  // div.border-basic-top-bottom-lg {
  //   border-width: calc(var(--s-border-width-lg) + 10px);
  // }
  // div.border-basic-top-bottom-sm {
  //   border-width: calc(var(--s-border-width-sm) + 15px);
  // }

  // adjust + backup
  // @include width((basic: (large (adjust: -10px, backup: 15px))));
  // div.border-basic-lg {
  //   border-width: calc(var(--s-border-width-lg, 15px) - 10px);
  // }
// }
