// Mixins.
@use 'variant.property.mixin';

// Status: DONE
// The `variant.radius()` mixin.
// @param `$variant`
// @param `$adjust`
// @param `$important`
// @param `$fallback`
// @param `$pseudo-class`
// @param `$dictionary`
@mixin radius(
  $variant,
  $adjust: null,
  $important: false,
  $fallback: null,
  $pseudo-class: (),
  $dictionary: null,
) {
  @include variant.property(
    $variant,
    $adjust,
    $important,
    $fallback,
    $pseudo-class,
    $dictionary,
    radius
  );
}

// Examples.
// div {
  // @include radius(((): (medium: (radius 1) ())));

  // @include radius((medium: medium large));

  // @include radius(((): (medium: medium large)));
  // @include radius((top: (large: 10px solid red)));
  // @include radius(((top-left, top-right): (medium: medium large)));

  // @include radius((basic: ((): (medium: medium large))));

  // @include radius((basic: ((top-left, top-right): (medium: medium large))));
  // @include radius(((basic: outline): ((top-left, top-right): (medium: medium large))));

  // @include radius((basic: (
  //   (top-left, top-right): (medium: medium large),
  //   (bottom-left, bottom-right): (medium: medium large)
  // )));

  // @include radius((basic: ((top, right): medium)));

  // size
  // @include radius((medium: medium));
  // div.border-radius-md {
  //   border-radius: var(--s-border-radius-md);
  // }

  // @include radius(((): x medium));
  // div.border-radius-x-md {
  //   border-radius: var(--s-border-radius-x-md);
  // }

  // sizes
  // @include radius(((): (y small, x medium)));
  // div.border-radius-y-sm {
  //   border-radius: var(--s-border-radius-y-sm);
  // }
  // div.border-radius-x-md {
  //   border-radius: var(--s-border-radius-x-md);
  // }

  // class + size
  // @include radius((basic: medium));
  // div.border-basic-radius-md {
  //   border-radius: var(--s-border-radius-md);
  // }

  // @include radius((pro basic: medium));(basic: ((top-left, top-right): (medium: medium large)))
  // div.border-pro-basic-radius-md {
  //   border-radius: var(--s-border-radius-md);
  // }

  // class + sizes
  // @include radius((basic: (x small, medium, x large)));
  // div.border-basic-radius-x-sm {
  //   border-radius: var(--s-border-radius-x-sm);
  // }
  // div.border-basic-radius-md {
  //   border-radius: var(--s-border-radius-md);
  // }
  // div.border-basic-radius-x-lg {
  //   border-radius: var(--s-border-radius-x-lg);
  // }

  // classes + size
  // @include radius(((pro a, basic b): medium));
  // div.border-pro-a-radius-md, div.border-basic-b-radius-md {
  //   border-radius: var(--s-border-radius-md);
  // }

  // classes + sizes
  // @include radius(((pro a, basic b): (small, medium, large)));
  // div.border-pro-a-radius-sm, div.border-basic-b-radius-sm {
  //   border-radius: var(--s-border-radius-sm);
  // }
  // div.border-pro-a-radius-md, div.border-basic-b-radius-md {
  //   border-radius: var(--s-border-radius-md);
  // }
  // div.border-pro-a-radius-lg, div.border-basic-b-radius-lg {
  //   border-radius: var(--s-border-radius-lg);
  // }

  // empty class
  // @include radius(((): (top: medium)));
  // div.border-top-radius-md {
  //   border-top-left-radius: var(--s-border-radius-md);
  //   border-top-right-radius: var(--s-border-radius-md);
  // }

  // class
  // @include radius((basic: (right: medium)));
  // div.border-basic-right-radius-md {
  //   border-top-right-radius: var(--s-border-radius-md);
  //   border-bottom-right-radius: var(--s-border-radius-md);
  // }

  // classes
  // @include radius(((basic, extended): (bottom: medium)));
  // div.border-basic-bottom-radius-md, div.border-extended-bottom-radius-md {
  //   border-bottom-right-radius: var(--s-border-radius-md);
  //   border-bottom-left-radius: var(--s-border-radius-md);
  // }

  // class + sides
  // @include radius((pro basic: (top bottom: medium)));
  // div.border-pro-basic-top-bottom-radius-md {
  //   border-top-left-radius: var(--s-border-radius-md);
  //   border-top-right-radius: var(--s-border-radius-md);
  //   border-bottom-right-radius: var(--s-border-radius-md);
  //   border-bottom-left-radius: var(--s-border-radius-md);
  // }

  // @include radius((((top-right, bottom-left, top-left, bottom-right): (medium: medium))));
  // div.border-top-right-radius-md {
  //   border-top-right-radius: var(--s-border-radius-md);
  // }
  // div.border-bottom-left-radius-md {
  //   border-bottom-left-radius: var(--s-border-radius-md);
  // }
  // div.border-top-left-radius-md {
  //   border-top-left-radius: var(--s-border-radius-md);
  // }
  // div.border-bottom-right-radius-md {
  //   border-bottom-right-radius: var(--s-border-radius-md);
  // }

  // @include radius(((): (
  //   medium: (top: medium),
  //   small: (left: small)
  // )));
  // div.border-top-radius-md {
  //   border-top-left-radius: var(--s-border-radius-md);
  //   border-top-right-radius: var(--s-border-radius-md);
  // }
  // div.border-left-radius-sm {
  //   border-top-left-radius: var(--s-border-radius-sm);
  //   border-bottom-left-radius: var(--s-border-radius-sm);
  // }
// }
