// Sass.
@use 'sass:map';

// Functions.
@use '../borders.class.function' as *;

// Mixins.
@use '../mixins';
@use 'variant.color.mixin' as *;
@use 'variant.radius.mixin' as *;
@use 'variant.side.mixin' as *;
@use 'variant.width.mixin' as *;

// Modules.
@use '../../list';

// Status:
// The `variant.variant()` mixin.
@mixin variant(
  $class: null,
  $side: null,
  $width: null,
  $style: null,
  $color: null,
  $radius: null,
  $pseudo-class: (),
  $dictionary: null
) {
  #{class($class, $pseudo-class, $dictionary)} {
    @include mixins.core($dictionary: $dictionary);
    @if $side {
      @include side(((): $side), $pseudo-class, $dictionary);
    }
    @if $width {
      @if $side {
        $width: ((): map.deep-merge($width, (list.remove-value($side, x, y): $width)));
      } @else {
        $width: ((): $width);
      }
      @include width($width, null, false, null, (), $dictionary);
    }
    @if $radius {
      @include radius(((): $radius), null, false, null, (), $dictionary);
    }
    @if $color {
      @if type-of($color) == map and list.index(map.keys($color), variant) {
        @include color(map.deep-merge($color, (dictionary: $dictionary))...);
      } @else {
        @include color(((): $color), $dictionary: $dictionary);
      }
    }

    // Styles.
    @if $style {
      @each $style in $style {
        #{class(join('&', $style), $dictionary: $dictionary)} {
          border-style: $style;
        }
      }
    }
  }
}

// Examples.
// @include variant(
//   basic,

//   // side
//   $side: (top, right),

//   // width
//   $width: (medium: medium),

//   // style
//   $style: dotted,

//   // color
//   // $color: (variant: ((top, bottom): (primary: primary dark)), combine: false, hue: 15deg),
//   $color: ((top, bottom): (primary: primary dark)),

//   // radius
//   $radius: (start start: (high: high)),
// );

// @include variant(
//   basic primary, top, small,
//   (
//     left top primary: (left top: (primary dark) 15%),
//     primary dark: (primary dark) -15%,
//     primary light: (primary light) 15%
//   ),
// );
