// Sass.
@use 'sass:map';

// Variables.
@use 'variables/bg-theme.var' as *;

// Mixins.
@use 'mixins/bg-theme.mixin' as *;

@include bg-theme(
  $dark: map.get($bg-theme, 'dark'),
  $light: map.get($bg-theme, 'light'),
  $normal: map.get($bg-theme, 'normal')
);
