// Variables.
@use '../../variables/core' as *;
@use '../../buttons/variables' as *;

// Functions.
@use '../../avatars/functions/avatar-class.function' as *;
@use '../../buttons/functions' as *;
@use '../../functions/class/active-class.function' as *;
@use '../../functions/class/class.function' as *;
@use '../../functions/var/get-var.function' as *;
@use '../../functions/var/unit-var.function' as *;
@use '../../functions/var/var-negative.function' as *;
@use '../functions/chip-class.function' as *;

// Mixins.
@use '../../mixins/color/background.mixin' as *;
@use '../../mixins/color/color.mixin' as *;
@use '../../mixins/margin.mixins' as *;
@use '../../mixins/padding.mixins' as *;

// The `chip()` mixin.
@mixin chip($class: '', $selector: (), $dictionary: ()) {
  #{chip-class($class, $selector, $dictionary)} {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    overflow: hidden;

    // max-width: get-var('control-width', $suffix: 'sm');
    max-width: get-var(('control', 'width', 'sm'));
    height: unit-var('6');
    @include margin(('unit', 'h'));
    @include padding(('unit', '1'), ('unit', '2'));

    border-radius: 5rem;
    @include background('bg-dark');

    font-size: 90%;
    line-height: unit-var('4');
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    // &.active {
    #{active-class('&')} {
      @include background('primary');
      @include color('light');
    }

    // #{class('avatar')} {
    #{avatar-class()} {
      @include margin-right(('unit', '1'));
      @include margin-left(('!', 'unit', '2'));
    }

    #{button-class('clear')} {
      border-radius: 50%;
      transform: scale(.75);
    }
  }
}
