// Variables.
@use '../../variables/core' as *;
@use '../variables' as *;

// Functions.
@use '../functions/hero-class.function' as *;

// Mixins.
@use '../../mixins/padding.mixins' as *;
// - Hero.
@use '../mixins/hero-size-variants.mixin' as *;

@mixin hero(
  $name: $hero-name,
  $size: $hero-size,
  $var-hero: $var-hero,
  $prefix: $class-prefix
) {
  // Hero.
  .#{hero-class((), $name, $prefix)} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Default size = md.
    @include padding-bottom(('unit-16', 0.8rem));
    @include padding-top(('unit-16', 0.8rem));

    .#{hero-class(('body'), $name, $prefix)} {
      @include padding(('layout-spacing', true));
    }

    // Hero size variants.
    @include hero-size-variants($size, $name, $prefix, $var-hero);

    // View height hero.
    &.#{hero-class(('size', 'vh'), $name, $prefix)} {
      justify-content: center;
      height: 100vh;
    }
  }
}
