// Sass.
@use 'sass:list';

// Variables.
@use '../../variables/core' as *;
@use '../variables' as *;

// Functions.
@use '../../functions/class.function' as *;

@function toast-class(
  $names: (),
  $name: $toast-name,
  $prefix: $class-prefix
) {
  @return class(list.join(($name), $names), $prefix);
}
