// Variables.
@use '../../variables/core' as *;

// Functions.
@use '../functions/meter-class.function' as *;
@use '../../functions/class/class.function' as *;
@use '../../functions/var/css-var.function' as *;
@use '../../functions/var/unit-var.function' as *;

// Mixins.
@use '../../borders/mixins/radius/border-radius.mixin' as *;
@use '../../mixins/color/background.mixin' as *;

// Meters
// Credit: https://css-tricks.com/html5-meter-element/
// The `meter()` mixin.
@mixin meter($class: '', $selector: (), $dictionary: ()) {
  #{meter-class($class, $selector, $dictionary)} {
    // appearance: none; // ! disabled
    display: block;

    // Size.
    width: 100%;
    height: unit-var('4');

    // Border.
    border: 0;

    @include border-radius;
    @include background('bg');

    &::-webkit-meter-inner-element {
      display: block;
    }

    &::-webkit-meter-bar,
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      @include border-radius;
    }

    &::-webkit-meter-bar {
      @include background('bg');
    }

    &::-webkit-meter-optimum-value {
      @include background('success');
    }

    &::-webkit-meter-suboptimum-value {
      @include background('warning');
    }

    &::-webkit-meter-even-less-good-value {
      @include background('error');
    }

    &::-moz-meter-bar,
    &:-moz-meter-optimum,
    &:-moz-meter-sub-optimum,
    &:-moz-meter-sub-sub-optimum {
      @include border-radius;
    }

    &:-moz-meter-optimum::-moz-meter-bar {
      @include background('success');
    }

    &:-moz-meter-sub-optimum::-moz-meter-bar {
      @include background('warning');
    }

    &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
      @include background('error');
    }
  }
}
