// Variables.
@use '../../variables/core' as *;

// Functions.
@use '../functions/navbar-class.function' as *;
@use '../../functions/class/class.function' as *;
@use '../../functions/var/get-var.function' as *;

// Mixins.
@use '../../mixins/font-size.mixin' as *;

// Navbar.
// The `navbar()` mixin.
@mixin navbar($class: '', $selector: (), $dictionary: ()) {
  #{navbar-class($class, $selector, $dictionary)} {
    // Display.
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    // .navbar-section {
    // #{class(($navbar-name, 'section'))} {
    #{navbar-class(($class, 'section'), (), $dictionary)} {
      display: flex;
      flex: 1 0 0;
      align-items: center;

      &:not(:first-child):last-child {
        justify-content: flex-end;
      }
    }

    // .navbar-center {
    // #{class(($navbar-name, 'center'))} {
    #{navbar-class(($class, 'center'), (), $dictionary)} {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
    }

    // .navbar-brand {
    // #{class(($navbar-name, 'brand'))} {
    #{navbar-class(($class, 'brand'), (), $dictionary)} {
      // font-size: get-var('font-size', $suffix: 'lg');
      // font-size: get-var(('font-size', 'lg'));
      @include font-size('lg');

      text-decoration: none;
    }
  }
}
