// Modules.
@use '../var';

// Control.
$control: (
  icon: (
    size: 0.8rem
  ),

  // Used in: button, form.
  padding: (
    x: (
      sm: var.var(unit 2, '*' 0.75),
      md: var.unit-var(2),
      null: var.unit-var(2),
      lg: var.var(unit 2, '*' 1.5),
    ),
    y: (
      sm: calc((var.css(control size sm) - var.css(line height)) * 0.5 - var.css(border size md)),
      md: calc((var.css(control size) - var.css(line height)) * 0.5 - var.css(border size md)),
      null: calc((var.css(control size) - var.css(line height)) * 0.5 - var.css(border size md)),
      lg: calc((var.css(control size lg) - var.css(line height)) * 0.5 - var.css(border size md)),
    )
  ),

  // Used in: button, form.
  size: (
    sm: var.unit-var(7),
    md: var.unit-var(9),
    null: var.unit-var(9),
    lg: var.unit-var(10),
  ),

  // Used in: chip, menu, modal, popover, tooltip.
  width: (
    xs: 180px,
    sm: 320px,
    md: 640px,
    lg: 960px,
    xl: 1280px,
  )
) !default;
