// Modules.
@use '../var/var.css.function' as *;
@use '../var/var.var.function' as *;
@use '../var/var.unit-var.function' as *;

// Control.
$control: (
  icon: (
    size: 0.8rem
  ),

  // Used in: button, form.
  padding: (
    x: (
      sm: var(unit 2, '*' 0.75),
      md: unit-var(2),
      null: unit-var(2),
      lg: var(unit 2, '*' 1.5),
    ),
    y: (
      sm: calc((css(control size sm) - css(line height)) * 0.5 - css(border size md)),
      md: calc((css(control size) - css(line height)) * 0.5 - css(border size md)),
      null: calc((css(control size) - css(line height)) * 0.5 - css(border size md)),
      lg: calc((css(control size lg) - css(line height)) * 0.5 - css(border size md)),
    )
  ),

  // Used in: button, form.
  size: (
    sm: unit-var(7),
    md: unit-var(9),
    null: unit-var(9),
    lg: unit-var(10),
  ),

  // Used in: chip, menu, modal, popover, tooltip.
  width: (
    xs: 180px,
    sm: 320px,
    md: 640px,
    lg: 960px,
    xl: 1280px,
  )
) !default;
