// Core variables
$version: 0.0.1-alpha;

// Core features
$rtl: false !default;

// color-scheme - https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
// $color-scheme: normal !default; // TODO: change color-scheme

// Transition duration.
$transition-duration: 0.2s !default; // --#{$var-prefix}-transition-duration.

// Max Columns number.
$columns-count: 4 !default;

// Responsive breakpoint.
$responsive-breakpoint: 480px !default;

// Structure name configuration. prefix separator name separator suffix
// $name-configuration: (
//   delimiter: delimiter,
//   prefix: prefix,
//   separator: separator,
//   suffix: suffix,
// );
