// Core variables
$version: '1.0.0-beta';

// Core features
$rtl: false !default;

// Class names prefix.
$class-prefix: null !default;
$class-separator: '-' !default;

// Global CSS variable's name prefix.
$var-prefix: 's' !default; // It's used to make CSS variable names unique. --#{var-prefix}-#{name}
$var-separator: '-' !default;
$var-suffix: '' !default;

// - CSS variable name's parameters for the `hsla()` color.
$var-hue: 'h' !default; // Suffix for the hue CSS variable's name. @new
$var-saturation: 's' !default; // Suffix for the saturation CSS variable's name. // @new
$var-lightness: 'l' !default;// Suffix for the lightness CSS variable's name. @new

// - CSS variable name for the both colors opacity.
$var-alpha: 'a' !default;

// color-scheme - https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
$color-scheme: normal !default; // TODO: change color-scheme

// Transition duration.
$transition-duration: 0.2s !default; // --#{$var-prefix}-transition-duration.

// Max Columns number.
$columns-count: 4 !default;

// Map for class.
$class: (
  'prefix': $class-prefix,
  'separator': $class-separator,
  'suffix': null
) !default;

// Map for CSS variable names.
$var: (
  'prefix': $var-prefix,
  'hue': $var-hue,
  'saturation': $var-saturation,
  'lightness': $var-lightness,
  'alpha': $var-alpha,
  'separator': $var-separator,
  'size': 'size',
  // 'sm': 'small' // Can be changed to.
  'suffix': '',
) !default;

// Dictionary map.
$dictionary: (
  class: $class,
  var: $var
) !default;
