// Dictionary map.
$dictionary: (
  // Color.
  background: bg,

  // Size.
  small: sm,
  medium: md,
  large: lg,

  class: (
    prefix: s, // TODO: Remove.
    delimiter: '-',

    // suffix: null
  ),
  var: (
    // name
    prefix: s,
    // suffix: null,
    delimiter: '-',

    // color
    hue: h,
    saturation: s,
    lightness: l,
    alpha: a,

    // words
    size: size,
    // 'sm': 'small' // Can be changed to.
  )
) !default;
