// Dictionary map.
$dictionary: (
  class: (
    prefix: null,
    separator: '-',
    suffix: null
  ),
  var: (
    prefix: s,
    hue: h,
    saturation: s,
    lightness: l,
    alpha: a,
    separator: '-',
    size: size,
    // 'sm': 'small' // Can be changed to.
    suffix: null,
  )
) !default;
