$display: (
  block: block,
  flex: flex,
  grid: grid,
  inline: (
    block: block,
    flex: flex,
    grid: grid,
    inline: inline,
  ),
  (none, hide): none
) !default;

// Visibility.
$visibility: (
  visible: visible,
  (hidden, invisible): hidden
) !default;
