// Font sizes.
$html-font-size: 20px !default; // --#{$var-prefix}-html-font-size. REVIEW: it's used in the html.var.scss
$font-size: 0.8rem !default; // --#{$var-prefix}-font-size.
$font-size-sm: 0.7rem !default; // --#{$var-prefix}-font-size-sm.
$font-size-lg: 0.9rem !default; // --#{$var-prefix}-font-size-lg.

// Font map.
$font: (
  'size': (
    '': $font-size,
    'sm': $font-size-sm,
    'lg': $font-size-lg
  )
) !default;
