// Font sizes.
$html-font-size: 20px !default; // --#{$var-prefix}-html-font-size. REVIEW: it's used in the html.var.scss

// Font map.
$font-size: (
  sm: 0.7rem,
  md: 0.8rem,
  null: 0.8rem,
  lg: 0.9rem
) !default;
