@use '../variant';

// .float-right, .float-left,
$float: (right, left) !default;

// .position-absolute, .position-fixed, .position-relative, .position-sticky
$position: (absolute !important, fixed !important, relative !important, sticky !important) !default;

// .flex-direction-column, .flex-direction-row
$flex: (flex-direction: ( column, row )) !default;

// .align-items-center, .align-items-end, .align-items-start
$align: (align-items: (center: center, flex: (start: flex-start, end: flex-end))) !default;

// justify content
$justify: (
  justify-content: (
    // .justify-content-center,
    center: center,

    // .justify-content-end,
    flex end: flex-end,

    // .justify-content-space-around,
    space-around: space-around,

    // .justify-content-space-around,
    space-between: space-between,

    // .justify-content-space-evenly,
    space-evenly: space-evenly,

    // .justify-content-start,
    flex start: flex-start
  )
) !default;
