// Sass.
@use 'sass:list';

$sides: (top, right, bottom, left, x, y) !default;
$corners-y: (
  'top-right',
  'bottom-right',
  'bottom-left',
  'top-left'
) !default;
$corners-x: (
  'right-top',
  'right-bottom',
  'left-bottom',
  'left-top',
) !default;
$corners: list.join($corners-x, $corners-y) !default;
