// Unit sizes.
$unit-o: 0.05rem !default; // --#{$var-prefix}-unit-o.
$unit-h: 0.1rem !default; // --#{$var-prefix}-unit-h.
$unit-1: 0.2rem !default; // --#{$var-prefix}-unit-1.
$unit-2: 0.4rem !default; // --#{$var-prefix}-unit-2.
$unit-3: 0.6rem !default; // --#{$var-prefix}-unit-3.
$unit-4: 0.8rem !default; // --#{$var-prefix}-unit-4.
$unit-5: 1rem !default; // --#{$var-prefix}-unit-5.
$unit-6: 1.2rem !default; // --#{$var-prefix}-unit-6.
$unit-7: 1.4rem !default; // --#{$var-prefix}-unit-7.
$unit-8: 1.6rem !default; // --#{$var-prefix}-unit-8.
$unit-9: 1.8rem !default; // --#{$var-prefix}-unit-9.
$unit-10: 2rem !default; // --#{$var-prefix}-unit-10.
$unit-12: 2.4rem !default; // --#{$var-prefix}-unit-12.
$unit-16: 3.2rem !default; // --#{$var-prefix}-unit-16.
