// z-index.
$zindex-0: 1 !default; // --#{$var-prefix}-z-index-0.
$zindex-1: 100 !default; // --#{$var-prefix}-z-index-1.
$zindex-2: 200 !default; // --#{$var-prefix}-z-index-2.
$zindex-3: 300 !default; // --#{$var-prefix}-z-index-3.
$zindex-4: 400 !default; // --#{$var-prefix}-z-index-4.

$z-index: (
  '0': $zindex-0,
  '1': $zindex-1,
  '2': $zindex-2,
  '3': $zindex-3,
  '4': $zindex-4,
) !default;
