// Sass.
@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';

// Status: DONE
// The `join()` function returns the string built from the given elements separated by the given separator
// in original elements order.
@function join($separator: '', $elements...) {
  $string: '';
  $separator: $separator or '';
  @if list.length($elements) > 0 {
    @each $element in $elements {
      @if type-of($element) == list {
        @each $value in $element {
          $string: -string-join($string, $value, $separator);
        }
      } @else if list.index(string number, type-of($element)) {
        $string: -string-join($string, $element, $separator);
      }
    }
  }
  @return string.slice($string, 1, calc((string.length($separator) + 1) * -1));
}

// Private -`string-join()` function.
@function -string-join($string, $value, $separator) {
  @return if(list.index(string number, type-of($value)), '#{$string}#{$value}#{$separator}', $string);
}

// Examples.
// @debug join('-');
// @debug join('-', 'a', 'b', 'c'); // a-b-c
// @debug join('-', '', 'a', 'b', 'c'); // -a-b-c
// @debug join('-', 'a', 'b', 'c', ''); // a-b-c-
// @debug join('-', '', 'a', 'b', 'c', ''); // a-b-c-
// @debug join('-', 'a', ('b', 'c')); // a-b-c
// @debug join('-', a, b, c); // a-b-c
// @debug join('-', a, 1, b, 2, c, 3); // a-1-b-2-c-3
