// Sass.
@use 'sass:map';

// Variables.
@use 'variables/text-theme.var' as *;

// Mixins.
@use 'mixins/text-theme.mixin' as *;

// Text colors.
@include text-theme(
  $dark: map.get($text-theme, 'dark'),
  $light: map.get($text-theme, 'light'),
  $normal: map.get($text-theme, 'normal')
);
