// Variables.
@use 'variables' as *;

// Functions.
@use 'functions' as *;

// Mixins.
@use 'mixins/text-ellipsis.mixin' as *;

// Text
// Text alignment utilities
// .#{$text}-left {
.#{text-class(('left'))} {
  text-align: left;
}

// .#{$text}-right {
.#{text-class(('right'))} {
  text-align: right;
}

// .#{$text}-center {
.#{text-class(('center'))} {
  text-align: center;
}

// .#{$text}-justify {
.#{text-class(('justify'))} {
  text-align: justify;
}

// Text transform utilities
// .#{$text}-lowercase {
.#{text-class(('lowercase'))} {
  text-transform: lowercase;
}

// .#{$text}-uppercase {
.#{text-class(('uppercase'))} {
  text-transform: uppercase;
}

// .#{$text}-capitalize {
.#{text-class(('capitalize'))} {
  text-transform: capitalize;
}

// Text style utilities
// .#{$text}-normal {
.#{text-class(('normal'))} {
  font-weight: normal;
}

// .#{$text}-bold {
.#{text-class(('bold'))} {
  font-weight: bold;
}

// .#{$text}-italic {
.#{text-class(('italic'))} {
  font-style: italic;
}

// .#{$text}-large {
.#{text-class(('large'))} {
  font-size: 1.2em;
}

// .#{$text}-small {
.#{text-class(('small'))} {
  font-size: 0.9em;
}

// .#{$text}-tiny {
.#{text-class(('tiny'))} {
  font-size: 0.8em;
}

// .#{$text}-muted {
.#{text-class(('muted'))} {
  opacity: 0.8;
}

// Text overflow utilities
// .#{$text}-ellipsis {
.#{text-class(('ellipsis'))} {
  @include text-ellipsis();
}

// .#{$text}-clip {
.#{text-class(('clip'))} {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

// .#{$text}-break {
.#{text-class(('break'))} {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}

