extends ../_layout/_docs-layout.pug
include ../_layout/_docs-color.mixin.pug

block variables
  - var slug = 'dark'
  - var parent = 'colors'
  - var title = 'Dark color - Colors - Spectre.css CSS Framework'
  - var description = 'Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

block docs-content
  +docs-heading(slug, 'Dark', { parent, name: 'Colors' })
    //- +docs-menu('Theme', {parent, slug})

    p
      small.label.label-secondary CSS Variables
      small.label.label-secondary.ml-1 Dark color
      small.label.label-secondary.ml-1 Customizable
      small.label.label-secondary.ml-1 hsla

    include ../_layout/_ad-g.pug

    +docs-color(
      {
        title: 'Dark color',
        name: slug + '-color',
        code: slug,
        hex: '#303742',
        sass: '$' + slug +'-color',
        theme: {
          property: slug + '-color',
          value: '$' + slug +'-color'
        }
      }
    )

    +docs-pagination({ path: 'code', name: 'Code' }, { path: 'disabled', name: 'Disabled' })

    include ../_layout/_ad-c.pug
