// Sass.
@use 'sass:list';

// Functions.
@use 'list.remove-range.function' as *;

// Status: TODO: change functionality
// The `remove-nth()` function.
@function remove-nth($list, $search...) {
  @if list.length($search) > 0 {
    $result: ();
    $i: 1;
    @each $element in $list {
      @if not list.index($search, $element) {
        $result: list.append($result, $element, list.separator($list));
      }

      $i: $i + 1;
    }
    @return $result;
  }
  @return $list;
}

// Examples.
// @debug remove-nth(('a', 'b', 'c', ('d', 'e', 'f'), 'g', 'h', 'i', 'j', 'k'), h, g, a); // "b", "c", ("d", "e", "f"), "i", "j", "k"
