// Sass.
@use 'sass:list';
@use 'sass:meta';

// Status: DONE.
// The `remove-list()` function removes element of the list type from the given `$list`.
// $bracketed: true (remove bracketed), false (do not remove bracketed), only (remove only bracketed)
@function remove-list($list, $length: false, $bracketed: true) {
  $result: ();
  @if list.length($list) > 0 {
    @each $element in $list {
      $append: true;
      @if type-of($element) == list {
        $append: false;
        $is-bracketed: list.is-bracketed($element);
        $append-bracketed: not $bracketed and $is-bracketed;
        $only-bracketed: $bracketed == only and not $is-bracketed;
        @if $append-bracketed {
          $append: true;
        } @else {
          @if meta.type-of($length) == number {
            $append: not (list.length($element) == $length);
          }
          @if $only-bracketed {
            $append: true;
          }
        }
      }
      @if $append {
        $result: list.append($result, $element, list.separator($list));
      }
    }
  }
  @return $result;
}

// Examples.
// @debug remove-list(('a', 'b', 'c')); // "a", "b", "c"
// @debug remove-list(('a', 'b', 'c', ('d', 'e', 'f'))); // "a", "b", "c"
// @debug remove-list(('a', 'b', 'c', ('d', 'e', 'f'), 'g', 'h', (1, 2, 3))); // "a", "b", "c", "g", "h"
// @debug remove-list(('a', 'b', 'c', ('d', (1, 2, 3, (4, 5, 6)), 'e', 'f'))); // "a", "b", "c"

// length
// @debug remove-list((a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i), 2); // a, b, [d, e, f], c, g, (6, 7, 8), h, i
// @debug remove-list((a, (), (4, 5), b, (), [d, e, f], (), c, [1, 2], (), g, (6, 7, 8), h, i), 0); // a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i

// bracketed
// @debug remove-list((a, (4, 5), b, c, [d, e, f], [1, 2], g, (6, 7, 8), h, i), $bracketed: true); // a, b, c, g, h, i
// @debug remove-list((a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i), $bracketed: false); // a, b, [d, e, f], c, [1, 2], g, h, i
// @debug remove-list((a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i), $bracketed: only); // a, (4, 5), b, c, g, (6, 7, 8), h, i

// length + bracketed
// @debug remove-list((a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i), 2, false); // a, b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i
// @debug remove-list((a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i), 2, only); // a, (4, 5), b, [d, e, f], c, g, (6, 7, 8), h, i
// @debug remove-list((a, (4, 5), b, [d, e, f], c, [1, 2], g, (6, 7, 8), h, i), 2, false); // a, b, [d, e, f], c, [1, 2], g, h, i
// @debug remove-list((a, (4, 5), b, c, [d, e, f], [1, 2], g, (6, 7, 8), h, i), $bracketed: true); //

