// Modules.
@use '../translator';
@use '@angular-package/sass/color';

// The `color.background()` mixin.
@mixin background(
  $color,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $alpha: null,
  $fallback: null,
  $important: false,
  $selector: null,
  $dictionary: null,
) {
  @include color.background(
    $color,
    $hue,
    $saturation,
    $lightness,
    $alpha,
    $fallback,
    $important,
    $selector,
    if($dictionary, $dictionary, translator.dictionary(var)),
  );
}
