// Sass.
@use 'sass:list';

@use '../../variables' as *;

// Functions.
@use '../../functions/color/color.function' as *;

// Mixins.
@use '../../mixins/color/background.mixin' as *;
@use '../../mixins/color/color.mixin' as *;

// The mixin includes an extension class of name prefixed with `toast-` with a given color name that includes a toast variant of the given `$color`.
// The mixin includes toast `background` and `border` of a given `$color` CSS variable name.
@mixin toast-color-variant(
  $name: 'dark',
  $bg-color: 'dark',
  $color: 'light'
) {
  &.toast-#{$name} {
    border-color: color($bg-color);
    @include background($bg-color, $alpha: 0.95);
    @include color($color);
    a:not(.btn) {
      @include color($color, $selector: (':active', ':link', ':visited'));
    }
  }
}
