// Sass.
@use 'sass:list';

// Variables.
@use '../variables/toast.var' as *;
@use '../../variables' as *;

// Mixins.
@use 'toast-color-variant.mixin' as *;

// Toast color variants
@mixin toast-color-variants(
  $colors,
  $name: $toast-name,
  $prefix: $class-prefix
) {
  @each $row in $colors {
    @each $variant, $color in $row {
      @if list.length($color) > 1 {
        @include toast-color-variant(
          $variant,
          list.nth($color, 1),
          list.nth($color, 2),
          $name,
          $prefix
        );
      } @else {
        @include toast-color-variant(
          $variant,
          list.nth($color, 1),
          $name: $name,
          $prefix: $prefix
        );
      }
    }
  }
}
