// Sass.
@use 'sass:list';

// Variables.
@use '../../buttons/variables' as *;
@use '../../variables/core' as *;
@use '../variables/toast.var' as *;

// Functions.
@use '../../buttons/functions/button-class.function' as *;
@use '../../functions/color/color.function' as *;
@use '../functions/toast-class.function' as *;

// Mixins.
@use '../../mixins/color/background.mixin' as *;
@use '../../mixins/color/color.mixin' as *;

@mixin toast-color-variant(
  $variant: 'dark',
  $bg-color: 'dark',
  $color: 'light',
  $name: $toast-name,
  $prefix: $class-prefix
) {
  &.#{toast-class(($variant), $name, $prefix)} {
    border-color: color($bg-color);
    @include background($bg-color, $alpha: 0.95);
    @include color($color);
    a:not(.#{button-class()}) {
      @include color($color, $selector: (':active', ':link', ':visited'));
    }
  }
}
