// Functions.
@use 'type/list.has-type.function' as *;
@use 'value/list.has-values.function' as *;

// Status: DONE
// The `has-string()` function.
// ? $occurrence: all any only
// ? $operator: == != ~= !~=
@function has-string($list, $occurrence: any, $operator: null, $strings...) {
  $has: false;
  @if type-of($operator) == string {
    $has: if(
      has-type($strings, only, '==', string),
      has-values($list, $occurrence, $operator, $strings...),
      false
    );
  } @else {
    $has: has-type($list, $occurrence, '==', string);
  }
  @return $has;
}

// Examples.
// any
// @debug has-string(('a', 'b', 'c')); // true
// @debug has-string(('a', 'b', 'c'), any); // true
// @debug has-string(('a', 'b', 'c'), any, '==', 'a', 'b'); // true
// @debug has-string(('a', 'b', 'c'), any, '==', 'a', 'b', 'c'); // true
// @debug has-string(('a', 'b', 'c'), any, '==', 'a', 'b', 'c', 'd'); // true
// @debug has-string(('a', 1, 'c'), any, '==', true); // false
// @debug has-string(('a', 'b', 'c'), any, '==', 'd'); // false
// @debug has-string(('a', 'b', 'c'), any, '==', false); // false
// @debug has-string(('a', 'a2', 'a'), any, '!=', 'a'); // true
// @debug has-string(('a', 'a', 'a'), any, '!=', 'a'); // false

// only
// @debug has-string(('a', 'b', 'c'), only); // true
// @debug has-string(('a', 'b', 'c', 1), only); // false
// @debug has-string(('a', 1, 'b', 'c'), only); // false

// all
// @debug has-string(('a', 'b', 'c', 1), all, '==', 'a'); // true
// @debug has-string(('bold', 'b', 'c'), all, '==', 'a'); // false
// @debug has-string(('a', 'b', 'c'), all, '==', 'a', 'b', 'c', 'd'); // false
// @debug has-string(('a', 'b', 'c'), all, '==', 'a', 'b', 'c', 'd'); // false
// @debug has-string(('a', 'b', 'c'), all, '==', 'a', 'b', 'c', false); // false
// @debug has-string(('a', 'a', 'a'), all, '==', 'a'); // true
// @debug has-string(('a', 'a', 'a'), all, '!=', 'a'); // false
// @debug has-string(('a1', 'a2', 'a3'), all, '!=', 'a'); // true
// @debug has-string(('bold king', 'lizard big', 'big word'), all, '~=', 'bold'); // true
// @debug has-string(('bold king'), all, '!~=', 'bold'); // false
