// Variables.
@use '../variables/core' as *;

// Mixins.
@use '../mixins/border' as *;
@use '../mixins/color/background.mixin' as *;
@use '../mixins/color/color.mixin' as *;
@use '../mixins/label' as *;
@use '../mixins/padding-size-variants.mixin' as *;

// Labels
.label,
.#{$var-prefix}-label {
  display: inline-block;

  @include label-base();
  @include background('bg-dark');
  @include color(('body-font', +5%));

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  // Padding size
  @include padding-size-variants('label');
}
