// Sass.
@use 'sass:map';

// Variables.
@use '../variables/core' as *;

// Functions.
@use '../functions/var/css-var.function' as *;
@use '../functions/class/class.function' as *;

// Mixins.
@use '../borders/mixins/radius/border-radius.mixin' as *;
@use '../mixins/font-size.mixin' as *;

// Brand variable.
$brand: (
  'dictionary': (
    'class': (
      'brand': 'brand'
    ),
    'var': ()
  )
) !default;

/*! Spectre.css: brand | utilities | color-scheme: #{$color-scheme} | MIT License | github.com/angular-package/spectre.css */
#{class('brand', (), map.get($brand, 'dictionary'))} {
  #{class(('brand', 'logo'), (), map.get($brand, 'dictionary'))} {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: css-var(('unit', '10'));
    padding: css-var(('unit', '1'));

    @include border-radius;
    @include font-size('sm');

    text-decoration: none;
  }

  img {
    display: inline-block;
    width: 1.6rem;
    height: auto;
  }

  h2 {
    display: inline-block;
    margin-right: 0.3rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.5rem;
  }
}
