// Variables.
@use '../variables/core' as *;

// Functions.
@use '../functions/var/get-var.function' as *;
@use '../functions/var/unit-var.function' as *;
@use '../functions/var/var-negative.function' as *;

// Mixins.
@use '../borders/mixins/border.mixin' as *;
@use '../mixins/color/background.mixin' as *;
@use '../mixins/color/color.mixin' as *;
@use '../mixins/margin.mixins' as *;
@use '../mixins/padding-size-variants.mixin' as *;
@use '../mixins/padding.mixins' as *;

// Divider
.#{$class-prefix}divider,
.#{$class-prefix}divider-vert {
  position: relative;
  display: block;

  &[data-content]::after {
    content: attr(data-content);
    display: inline-block;
    @include padding('unit-0', 'unit-2');
    transform: translateY(calc(var-negative(get-var('font-size', $suffix: 'sm')) + get-var('border-width')));
    @include background('bg-light');
    @include color('gray');
    font-size: get-var('font-size', $suffix: 'sm');
  }

  &.divider-no-border {
    border-color: transparent;
    &::before {
      border-color: transparent;
    }
  }

  @include padding-size-variants('divider');
}

.#{$class-prefix}divider {
  @include margin('unit-2', 'unit-0');
  height: get-var('border-width');
  @include border($side: top, $color: 'border-light');

  &[data-content] {
    @include margin('unit-4', 'unit-0');
  }
}

.#{$class-prefix}divider-vert {
  display: block;
  padding: unit-var('4');

  &::before {
    position: absolute;
    top: unit-var('2');
    bottom: unit-var('2');
    left: 50%;

    content: '';
    display: block;

    transform: translateX(-50%);
    @include border($side: 'left');
  }

  &[data-content]::after {
    position: absolute;
    top: 50%;
    left: 50%;
    @include padding('unit-1', 'unit-0');
    transform: translate(-50%, -50%);
  }
}
