// Variables.
@use '../variables/core' as *;

// Functions.
@use '../functions/color/color.function' as *;
@use '../functions/var/get-var.function' as *;
@use '../functions/var/unit-var.function' as *;
@use '../functions/var/var-negative.function' as *;

// Mixins.
@use '../borders/mixins/border.mixin' as *;
@use '../mixins/z-index.mixin' as *;

// Loading
.#{$class-prefix}loading {
  position: relative;
  pointer-events: none;
  min-height: unit-var('4');
  color: transparent !important;
  &::after {
    // Position.
    @include z-index('0');
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: var-negative(unit-var('2'));
    margin-top: var-negative(unit-var('2')); // TODO: var-negative

    // Display.
    content: '';
    opacity: 1;
    display: block;

    // Size.
    width: unit-var('4');
    height: unit-var('4');
    padding: 0;

    // Border.
    @include border('lg', solid, 'primary');
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    background: transparent;

    animation: loading 500ms infinite linear;
  }

  &.loading-lg {
    min-height: unit-var('10');
    &::after {
      width: unit-var('8');
      height: unit-var('8');
      margin-left: var-negative(unit-var('4'));
      margin-top: var-negative(unit-var('4'));
    }
  }
}
