// Modules.
@use '../color/scheme';
@use '../property';

/*! Spectre.css: overflow | utilities | color-scheme: #{scheme.$color-scheme} | MIT License | github.com/angular-package/spectre.css */

@include property.class-variant((
  overflow: (
    (x, y): (
      auto: auto,
      hidden: hidden
    ),
  )
));
