// Sass.
@use 'sass:list';
@use 'sass:map';

// Variables.
@use '../../variables/control.var' as *;

// Functions.
@use 'var.get.function' as *;

// Status: DONE
// The `control-width-var()` function.
@function control-width-var(
  $width: md,
  $adjust: null,
  $unit: false,
  $backup: null,
  $dictionary: ()
) {
  $available-sizes: map.keys(map.get($control, width));
  @if not list.index($available-sizes, list.nth($width, 1)) {
    @warn 'Control width #{$width} is not set. Try: #{$available-sizes}';
  }
  @return get(
    list.join(control width, $width),
    $adjust,
    $unit,
    $backup,
    $dictionary
  );
}

// Examples.
// @debug control-width-var(sm); // var(--s-control-width-sm)
// @debug control-width-var(md); // var(--s-control-width-md)
// @debug control-width-var(lg); // var(--s-control-width-lg)
// @debug control-width-var(xl); // var(--s-control-width-xl)

// Warning.
// @debug control-width-var(sms); // Control width sms is not set. Try: xs, sm, md, lg, xl
