// Sass.
@use 'sass:map';

// Variables.
@use '../../../variables/core' as *;

// Functions.
@use '../../../functions/var/var-adjust.function' as *;
@use '../../map/values-map.function' as *;
@use '../../map/map-get-default.function' as *;
@use '../alpha-var.function' as *;
@use 'lightness-var.function' as *;
@use 'hue-var.function' as *;
@use 'lightness-level-var.function' as *;
@use 'saturation-var.function' as *;

// The function `get-hsla-color()` returns the `hsla()` color from a CSS variables of the given `$name`.
// ('primary', -35.5%, 0.95);
// ('primary-dark', ('lightness': -35.5%, 'alpha': 0.95));
@function hsla-color(
  $name,
  $hue: 0deg,
  $saturation: 0%,
  $lightness: 0%,
  $alpha: 1,
  $var: ()
) {
  $color: values-map($name, 'name', 'lightness', 'alpha', 'hue', 'saturation');
  @return hsla(
    hue-var(map.get($color, 'name'), map-get-default($color, 'hue', $hue), $var: $var),
    saturation-var(map.get($color, 'name'), map-get-default($color, 'saturation', $saturation), $var: $var),
    lightness-var(map.get($color, 'name'), calc(map-get-default($color, 'lightness', 0%) + $lightness), $var: $var),
    alpha-var(map.get($color, 'name'), map-get-default($color, 'alpha', $alpha), $var: $var)
  );
}
