// Sass.
@use 'sass:list';
@use 'sass:map';

// Functions.
@use '../map/map.pick.function' as *;
@use 'dictionary.get.function' as *;

// Status: REVIEW: Simplify code
// The `merge()` function.
@function merge($keys: (), $dictionary...) {
  $result: get($keys) or ();
  @each $dictionary in $dictionary {
    @if type-of($dictionary) == list and list.length($dictionary) > 0 {
      $-keys: list.nth($dictionary, 2);
      $-dictionary: get(null, list.nth($dictionary, 1));
      @if $-dictionary {
        $result: map.merge($result, pick($-dictionary, list.nth($dictionary, 2)...));
      }
    } @else {
      $result: map.merge($result, map.get(get(null, $dictionary), $keys...) or $dictionary);
    }
  }
  @return $result;
}

// Examples.
// @debug merge(class, (test: 1)); // ("prefix": null, "separator": "-", "suffix": null, test: 1)
// @debug merge(class, (prefix: spectre)); // ("prefix": spectre, "separator": "-", "suffix": null)
// @debug merge(class, (prefix: spectre, suffix: big)); // ("prefix": spectre, "separator": "-", "suffix": big)

// multiple
// @debug merge(
//   class,
//   (test: 1),
//   (test-5: 5, test-4: 4, test-3: 3) (test-3, test-4)
// ); // (prefix: null, separator: "-", suffix: null, test: 1, test-3: 3, test-4: 4)
