// Sass.
@use 'sass:list';

// Status: DONE
// The `translate.string()` function.
@function string($string, $dictionary: ()) {
  @if type-of($string) == string {
    @each $value, $translation in $dictionary {
      @if list.index($value, $string) {
        @return $translation;
      }
    }
  }
  @return null;
}

// Examples.
$-dictionary: (
  general: (word: słowo, (wrapper, wrap): owijka, (technology, technologia): tech),
  class: (calendars: (calendar: cal), labels: (label: lab))
);

// @debug string(word, map.get($-dictionary, general)); // słowo
// @debug string(wrapper, map.get($-dictionary, general)); // owijka
// @debug string(calendar, map.get($-dictionary, class, calendars)); // cal
