// Modules.
@use '../../module';
@use '../../property/margin';
@use '../../property/padding';
@use '@angular-package/sass/color';

// Status: DONE
// The `breadcrumbs.breadcrumb()` mixin.
// @param `$class`
// @param `$pseudo-class`
// @param `$dictionary`
@mixin breadcrumb(
  $class: (),
  $pseudo-class: (),
  $dictionary: module.dictionary(breadcrumb, true, class, var),
) {
  #{module.class(breadcrumb, $class, $pseudo-class, $dictionary)} {
    @include margin.margin((unit 1) (unit 0), $dictionary: $dictionary);
    @include padding.padding((unit 1) (unit 0), $dictionary: $dictionary);

    list-style: none;

    // .breadcrumb-item {
    #{module.class(breadcrumb, join($class, item), (), $dictionary)} {
      display: inline-block;
      margin: 0;
      @include padding.padding((unit 1) (unit 0), $dictionary: $dictionary);
      @include color.color(gray dark, $dictionary: $dictionary);

      &:not(:last-child) {
        @include margin.right((unit 1) (), $dictionary: $dictionary);

        a {
          @include color.color(gray dark, $dictionary: $dictionary);
        }
      }

      &:not(:first-child) {
        &::before {
          content: '/';
          @include padding.right((unit 2) (), $dictionary: $dictionary);
          @include color.color(gray dark, $dictionary: $dictionary);
        }
      }
    }
  }
}
