// Sass.
@use 'sass:list';

// Status: DONE
// The `get-bool()` function.
@function get-bool($list, $occurrence: first, $value: null) {
  $result: ();
  @each $element in $list {
    @if type-of($element) == bool {
      @if type-of($value) == bool {
        @if $value == $element {
          $result: list.append($result, $element, list.separator($list));
        }
      } @else {
        $result: list.append($result, $element, list.separator($list));
      }
      @if list.length($result) > 0 and list.index((any, first), $occurrence) {
        @return list.nth($result, 1);
      }
    }
  }
  @if list.length($result) > 0 and $occurrence == last {
    @return list.nth($result, list.length($result));
  }
  @return null;
}

// Examples.
// @debug get-bool(('a', 'b', false, 'c', 2)); // `false`
// @debug get-bool(('a', 'b', true, 'c', 2)); // `true`
// @debug get-bool(('a', 'b', 'c', (true, '5', (6,)))); // `null`
// @debug get-bool(('a', 'b', true, 'c', 2), any, false); // `null`
// @debug get-bool(('a', 'b', true, 'c', 2), first, true); // `true`
// @debug get-bool(('a', 'b', false, 'c', 2, true), any, false); // `false`
// @debug get-bool(('a', 'b', false, 'c', 2, true), last); // `true`
// @debug get-bool(('a', 'b', false, 'c', 2, true), first); // `false`
