// Sass.
@use 'sass:meta';

// Functions.
@use '../../color/functions/color.color.function' as *;
@use '../../selector/selector.class.function' as *;
@use '../../selector/selector.nest.function' as *;
@use '../../values/values.combine.function' as *;
@use '../../var/functions/var.get.function' as *;

$function: (
  class: meta.get-function(class),
  color: meta.get-function(color),
  combine: meta.get-function(combine),
  default: meta.get-function(get),
  get: meta.get-function(get),
  nest: meta.get-function(nest),
) !default;
