// Sass.
@use 'sass:list';
@use 'sass:map';

// Set the `map-values-ignore()` function.
@function map-values-ignore($map, $ignore) {
  $result: ();

  // Ignore map value types specified by the `$ignore` list.
  @if type-of($map) == map {
    @if type-of($ignore) == list and list.length($ignore) > 0 {
      $result: ();
      @each $key, $value in $map {
        @if not list.index($ignore, type-of($value)) {
          $result: map.merge($result, ($key: $value));
        }
      }

      $map: $result;
    }
  }

  @return $map;
}
