// Functions.
@use 'color.color.mixin' as *;

// Status: DONE
// The `background()` mixin.
@mixin background(
  $color,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $alpha: null,
  $backup: null,
  $important: false,
  $selector: null,
  $dictionary: (),
) {
  @include color(
    (background: $color),
    $hue,
    $saturation,
    $lightness,
    $alpha,
    $backup,
    $important,
    $selector,
    $dictionary
  );
}

// Examples.
// :host {
//   @include background(primary dark);
// }
