// Dictionary.
$dictionary: (
  class: (
    // 'menu': '',
    // 'prefix': '',
    // 'suffix': '',
    // 'separator': ''
  ),
  var: ()
) !default;

// Menus.
$menu: (dictionary: $dictionary) !default;
