// Variables.
@use '../../../variables/sides.var';

// Variants.
$class: () !default;
$color: border !default;
$radius: (
  (top-right, bottom-left, top-left, bottom-right): (medium: (border radius medium) ())
) !default;
$side: sides.$sides !default;
$style: (dashed, dotted) !default;
$width: (
  medium: (border width medium) (),
  large: (border width large) (),
) !default;
