// Variables.
@use '../../../variables/sides.var';

// Variants.
$class: () !default;
$color: normal !default;
$radius: ((top, right, bottom, left, top-right, bottom-left, top-left, bottom-right): medium) !default;
$side: sides.$sides !default;
$style: (dashed, dotted) !default;
$width: (
  small: small,
  // medium: (top bottom: (medium (adjust: 10px))), // TODO
  medium: medium,
  large: large
) !default;
