// Sass.
@use 'sass:list';
@use 'sass:map';

// Variables.
@use '../../variables/core' as *;

// Functions.
@use '../map/map-get-default.function' as *;

// The `dictionary()` function.
@function dictionary($name: null, $dictionary: $dictionary) {
  @if type-of($dictionary) == map {
    $dictionary: map-get-default($dictionary, 'dictionary', $dictionary);
  } @else if type-of($dictionary) == list {
    $name: list.nth($dictionary, 2);
    $dictionary: list.nth($dictionary, 1);
  } @else {
    $dictionary: ();
  }
  @return if($name, map-get-default($dictionary, $name), $dictionary); // REVIEW: Check.
}

// The `dictionary-merge()` function.
@function dictionary-merge($keys: (), $dictionary: ()) {
  @return map.merge(dictionary($keys), $dictionary);
}

// The `merge()` function.
@function merge($keys: (), $dictionary: ()) {
  @return dictionary-merge($keys, $dictionary);
}

// Examples.
$-dictionary: (
  'general': ('word': 'słowo', ('wrapper', 'wrap'): 'owijka', 'technology': ('action': 'akcja')),
  'class': ('calendars': ('calendar': 'cal'), 'labels': ('label': 'lab'))
);

// Examples.
// @debug dictionary('general', $-dictionary); // ("word": "słowo", ("wrapper", "wrap"): "owijka", "technology": ("action": "akcja"))
// @debug dictionary('class', $-dictionary); // ("calendars": ("calendar": "cal"), "labels": ("label": "lab"))
// @debug dictionary(('class', 'calendars'), $-dictionary); // ("calendar": "cal")
