// Variables.
@use '../../variables/core' as *;

// Functions.
@use '../../functions/var/css-var.function' as *;

// Mixins.
@use '../../mixins/padding.mixins' as *;

// Button Action
@mixin button-action($prefix: $class-prefix) {
  .#{$prefix}btn {
    &.btn-action {
      // Size.
      width: css-var('control-size');
      @include padding-left('unit-0');
      @include padding-right('unit-0');

      &.btn-sm {
        width: css-var('control-size', $suffix: 'sm');
      }

      &.btn-lg {
        width: css-var('control-size', $suffix: 'lg');
      }
    }
  }
}
