@use 'sass:map';

@use '../variables/button-theme.var' as *;

@use 'button-theme-dark.mixin' as *;
@use 'button-theme-light.mixin' as *;
@use 'button-theme-normal.mixin' as *;

@mixin button-theme(
  $dark: map.get($button-theme, 'dark'),
  $light: map.get($button-theme, 'light'),
  $normal: map.get($button-theme, 'normal')
) {
  @if $dark {
    @include button-theme-dark($dark...);
  }
  @if $light {
    @include button-theme-light($light...);
  }
  @if $normal {
    @include button-theme-normal($normal...);
  }
}
