// Modules.
@use '../translator';

// Dictionary.
$dictionary: (
  class: (
    // Customize the class name specific words.
    // 'accordion': 'accordion-1',
    // 'header': 'header-2',
    // 'body': 'body-3',
    // 'delimiter': '_'
  ),

  // Customize the var name specific words.
  var: (),
);

// Merge.
$debug: translator.dictionary-merge(accordion, $dictionary);
