/* Customize CSS variable names and class names. Naming convention https://getbem.com/naming/ */

// Variables.
@use 'badges.dictionary';

// Modules.
@use '../translator';

// Dictionary.
$debug: translator.dictionary-merge(badge, (
  class: (
    // badge: badge-basic,
    // header: header-basic,
    // body: body,
  ),
  var: (
    // prefix: spectre // No CSS variables.
  )
));
