extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'installation'
  - var name = 'Installation'
  - var parent = 'getting-started'
  - var title = 'Installation - Getting started - Spectre.css CSS Framework'
  - var description = 'Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

block docs-content
  +docs-heading(slug, name, { parent, name: 'Getting Started' })
    +docs-menu(name, {parent, slug},
      {
        anchor: 'install',
        name: 'Install',
        items: [
          { anchor: 'manually', name: 'Manually' },
          { anchor: 'cdn', name: 'From CDN' },
          { anchor: 'npm' , name: 'With NPM' },
          { anchor: 'yarn', name: 'From Yarn' }
        ]
      }
    )
    include ../_layout/_ad-g.pug
    
    p
      | There are 4 ways to get started with Spectre CSS framework in your projects. You can either install manually, from CDN or use package managers.

    +docs-subheading('install-manually', 'Install manually', {slug})
    p
      | Download the compiled and minified 
      a(href='https://github.com/angular-package/spectre.css/releases', target='_blank') Spectre CSS file
      |  (core ~#[b 25kB] min+zipped):
    p
      a.btn.btn-primary(href='https://github.com/angular-package/spectre.css/releases', target='_blank') Download Spectre.css
    p
      | Include 
      code spectre.min.css
      |  located in 
      strong /dist
      |  in your website or Web app #[code head]. Also, you can add 
      code spectre-icons.min.css
      |  and 
      code spectre-exp.min.css
      |  accordingly.

    //- install manually
    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <link rel="stylesheet" href="spectre.min.css">
          <link rel="stylesheet" href="spectre-exp.min.css">
          <link rel="stylesheet" href="spectre-icons.min.css">
      
    +docs-subheading('install-cdn', 'Install from CDN', {slug})
    p
      | Alternatively, you can use the 
      a(href='https://unpkg.com/', target='_blank') unpkg
      |  to load compiled #[b Spectre.css].

    //- install from CDN
    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <link rel="stylesheet" href="https://unpkg.com/@angular-package/spectre.css/dist/spectre.min.css">
          <link rel="stylesheet" href="https://unpkg.com/@angular-package/spectre.css/dist/spectre-exp.min.css">
          <link rel="stylesheet" href="https://unpkg.com/@angular-package/spectre.css/dist/spectre-icons.min.css">

    +docs-subheading('install-npm', 'Install with NPM', {slug})

    //- install with npm
    pre.code.c-select-all(data-lang='Bash')
      code
        :highlight(lang="Bash")
          npm install @angular-package/spectre.css --save

    +docs-subheading('install-yarn', 'Install with Yarn', {slug})

    //- install with yarn
    pre.code.c-select-all(data-lang='Bash')
      code
        :highlight(lang="bash")
          yarn add @angular-package/spectre.css

    +docs-pagination({parent, name: 'Getting started'}, { path: 'variables', name: 'Variables' })

    include ../_layout/_ad-c.pug

