// Variables.
@use '../buttons/variables' as *;
@use '../variables/core' as *;
@use 'variables' as *;

// Functions.
@use '../buttons/functions/button-class.function' as *;
@use 'functions/toast-class.function' as *;

// Mixins.
@use '../borders/mixins/border.mixin' as *;
@use '../mixins/color/background.mixin' as *;
@use '../mixins/color/color.mixin' as *;
@use '../mixins/margin.mixins' as *;
@use '../mixins/padding.mixins' as *;

@use 'mixins/toast-theme.mixin' as *;

// Toasts
.#{toast-class()} {
  // Display.
  display: block;

  // Size.
  width: 100%;
  @include padding(('layout-spacing', true));

  // Theme.
  @include border($color: 'dark', $radius: 'border-radius');
  @include background('dark');
  @include color('light');

  a:not(.#{button-class()}) {
    @include color('light');
    text-decoration: underline;
    @include color(
      'light',
      $alpha: 0.75,
      $selector: ('.active', ':active', ':focus', ':hover')
    );
  }

  &.#{toast-class(('icon'))} {
    display: flex;
    > div {
      flex: 1 1 100%;
      @include padding-left('unit-2');
    }
  }

  // Button clear.
  // .#{$button}-clear {
  .#{button-class(('clear'))} {
    @include margin('unit-h');
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
