// Variables.
@use '../../variables/core' as *;

// Functions.
@use '../../functions/class/active-class.function' as *;
@use '../../functions/class/class.function' as *;
@use '../../functions/var/css-var.function' as *;
@use '../functions/modal-class.function' as *;

// Mixins.
@use '../../borders/mixins/radius/border-radius.mixin' as *;
@use '../../mixins/color/background.mixin' as *;
@use '../../mixins/color/color.mixin' as *;
@use '../../mixins/padding.mixins' as *;
@use '../../mixins/box-shadow.mixins' as *;
@use '../../mixins/z-index.mixin' as *;

// Modals
// .#{$class-prefix}modal {
// #{class($modal-name)} {
@mixin modal($class: '', $selector: (), $dictionary: ()) {
  #{modal-class($class, $selector, $dictionary)} {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    // Size.
    @include padding(('layout', 'spacing', true));

    opacity: 0;

    &:target,
    // &.active {
    #{active-class('&')} {
      @include z-index('4');

      display: flex;
      opacity: 1;

      // .modal-overlay {
      // #{class(($modal-name, 'overlay'))} {
      #{modal-class(($class, 'overlay'), (), $dictionary)} {
        // Position.
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        // Display.
        display: block;
        cursor: default;

        @include background('bg', $alpha: 0.75); // TODO: Check.
      }

      // .modal-container {
      // #{class(($modal-name, 'container'))} {
      #{modal-class(($class, 'container'), (), $dictionary)} {
        @include z-index('0');

        animation: slide-down 0.2s ease 1;
      }
    }

    // &.modal-sm {
    // #{class(('&', $modal-name, 'sm'), ('.', $modal-name, 'container'))} {
    #{modal-class(('&', $class, 'sm'), (), $dictionary)} {
      // .modal-container {
      #{modal-class(($class, 'container'), (), $dictionary)} {
        // max-width: css-var('control-width', $suffix: 'sm');
        max-width: css-var(('control', 'width', 'sm'));
        @include padding(('unit', '0'), ('unit', '2'));
      }
    }

    // &.modal-lg {
    // #{class(('&', $modal-name, 'lg'))} {
    #{modal-class(('&', $class, 'lg'), (), $dictionary)} {
      // .modal-overlay {
      // #{class(($modal-name, 'overlay'))} {
      #{modal-class(($class, 'overlay'), (), $dictionary)} {
        @include background('bg-light');
      }

      // .modal-container {
      // #{class(($modal-name, 'container'))} {
      #{modal-class(($class, 'container'), (), $dictionary)} {
        // max-width: css-var('control-width', $suffix: 'lg');
        max-width: css-var(('control', 'width', 'lg'));
        box-shadow: none;
      }
    }
  }

  // .modal-container {
  // #{class(($modal-name, 'container'))} {
  #{modal-class(($class, 'container'), (), $dictionary)} {
    // Display.
    display: flex;
    flex-direction: column;

    // Size.
    width: 100%;

    // max-width: css-var('control-width', $suffix: 'md');
    max-width: css-var(('control', 'width', 'md'));
    max-height: 75vh;
    @include padding(('unit', '0'), ('unit', '4'));

    // border-radius: css-var('border-radius');
    @include border-radius;
    @include background('bg-light');
    @include shadow-variant(0.2rem);

    // &.modal-fullheight {
    // #{class(('&', $modal-name, 'fullheight'))} {
    #{modal-class(('&', $class, 'fullheight'), (), $dictionary)} {
      max-height: 100vh;
    }

    // .modal-header {
    // #{class(($modal-name, 'header'))} {
    #{modal-class(($class, 'header'), (), $dictionary)} {
      @include padding(('unit', '4'));
      @include color('dark');
    }

    // .modal-body {
    // #{class(($modal-name, 'body'))} {
    #{modal-class(($class, 'body'), (), $dictionary)} {
      position: relative;
      overflow-y: auto;
      @include padding(('unit', '4'));
    }

    // .modal-footer {
    // #{class(($modal-name, 'footer'))} {
    #{modal-class(($class, 'footer'), (), $dictionary)} {
      @include padding(('unit', '4'));

      text-align: right;
    }
  }
}
