// Sass.
@use 'sass:list';

// Functions.
@use '../../compare.function' as *;
@use 'list.nth-first.function' as *;

// Status: DONE.
// The `nth-type()` function.
// Returns the list of elements of the given types.
@function nth-type($list, $occurrence: any, $types...) {
  $result: ();
  @each $type in $types {
    $nth: -nth-of-type($list, $occurrence, $type);
    $result: -result-append($result, if(list.length($nth) > 0, nth-first($nth), null), $list);
  }
  @return nth-first($result);
}

// Private `-result-append()` function.
@function -result-append($result, $value, $list) {
  @return list.append($result, $value, list.separator($list));
}

// Private `-nth-of-type()` function.
@function -nth-of-type($list, $occurrence, $type) {
  $result: ();

  // Occurrence any and first.
  @if list.index((any, first), $occurrence) {
    @each $element in $list {
      @if compare($element, ':==', $type) {
        @return $element;
      }
    }
    @return null;

  // Occurrence all and last.
  } @else if list.index((all, last), $occurrence) {
    @each $element in $list {
      @if compare($element, ':==', $type) {
        $result: -result-append($result, $element, $list);
      }
    }

    // Occurrence last.
    @if $occurrence == last {
      $result: list.nth($result, list.length($result));
    }
  }
  @return $result;
}
