include _docs-footer-list.mixin.pug

#copyright.docs-footer.footer.container.grid-lg
  .columns
    .column.col-3
      +docs-footer-list('Documentation',
        {path: 'getting-started', name: 'Getting started' },
        {path: 'elements', name: 'Elements' },
        {path: 'layout', name: 'Layout' },
        {path: 'components', name: 'Components' },
        {path: 'utilities', name: 'Utilities' },
        {path: 'experimentals', name: 'Experimentals' }
      )

    .column.col-3
      +docs-footer-list('Project',
        {icon: 'fa-solid fa-fw fa-shield', url: 'https://angular-package.dev/ui-kit/dashboard', target: '_blank', name: 'Demonstration' },
        {icon: 'fa-brands fa-fw fa-npm', url: 'https://www.npmjs.com/package/@angular-package/spectre.css', target: '_blank', name: 'npm' },
        {icon: 'fa-brands fa-fw fa-github', url: 'https://github.com/angular-package/spectre.css', target:'_blank', name: 'GitHub' }

      )

    .column.col-3
      +docs-footer-list('Community',
        {icon: 'fa-solid fa-fw fa-broom', url: 'https://gettr.com/user/angularpackage', target: '_blank', name: 'Gettr' },
        {icon: 'fa-brands fa-fw fa-twitter', url: 'https://twitter.com/angularpackage', target: '_blank', name: 'Twitter' },
        {icon: 'fa-brands fa-fw fa-youtube', url: 'https://www.youtube.com/channel/UC_AfUapk36KbBoROeA8a_lg', target:'_blank', name: 'YouTube' },
        {icon: 'fa-brands fa-fw fa-discord', url: 'https://discord.com/channels/925168966098386944/998970323607228436', target: '_blank', name: 'Discord' },
        {icon: 'fa-brands fa-fw fa-gitter', url: 'https://gitter.im/angularpackage/Lobby', target:'_blank', name: 'Gitter' }
      )

    .column.col-3.text-right
      +docs-footer-list('Donate',
        {icon: 'fa-brands fa-fw fa-paypal', url: 'https://www.paypal.me/picturepan2', target:'_blank', name: 'PayPal Yan Zhu' },
        {icon: 'fa-brands fa-fw fa-patreon', url: 'https://www.patreon.com/spectrecss', target:'_blank', name: 'Patreon Yan Zhu' },
        {icon: 'fa-solid fa-fw fa-dollar-sign', url: 'https://spectrecss.angular-package.dev/donate/usd-fiat', target:'_blank', name: 'angular package' }
      )

  div.divider.divider-no-border.divider-lg

  .columns
    .column.col-12
      | Designed and built with 
      span.text-error &hearts; 
      | by 
      a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu
      | . Modified by the 
      a(href='https://angular-package.dev' target='_blank') @angular-package
      | . 

  div.divider

  .columns
    .column.col-12
      | Version 
      span.version
      | . Licensed under the 
      a(href='https://github.com/angular-package/spectre.css/blob/master/LICENSE' target='_blank') MIT License
