#copyright.docs-footer.container.grid-lg
  p
    a(href='https://github.com/angular-package/spectre.css' target='_blank') GitHub 
    |  路 
    a(href='https://twitter.com/angularpackage' target='_blank') Twitter 
    |  路 
    a(href='https://www.paypal.me/picturepan2' target='_blank') PayPal Donate 
    |  路 
    a(href='https://www.patreon.com/spectrecss' target='_blank') Patreon Sponsor 
    |  路 Version 
    span.version
  p
    | Designed and built with 
    span.text-error &hearts; 
    | by 
    a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu
    | . Modified by the 
    a(href='https://angular-package.dev' target='_blank') @angular-package
    | . Licensed under the 
    a(href='https://github.com/angular-package/spectre.css/blob/master/LICENSE' target='_blank') MIT License
    | .
