// Sass.
@use 'sass:list';
@use 'sass:map';
@use 'sass:selector';

// Variables.
@use '../../variables/core' as *;

// Functions.
@use 'class.function' as *;

// The `classes()` function.
@function classes($name, $variants: (), $selector: (), $dictionary: ()) {
  // Define class variants with pseudo selectors.
  @if list.length($variants) > 0 {
    $i: 1;
    @each $variant in $variants {
      $variants: list.set-nth($variants, $i, class(list.join($name, $variant), $selector, $dictionary));
      $i: $i + 1;
    }
    @return $variants;
  }
  @return class($name, $dictionary, $selector);
}

// Example 1.
// @debug classes(('border', 'width'), ( 'xl', 'lg', 'md', 'sm', 'xs'), ('&:hover', ':visited', ':link'), ('xl': 'BBBBB'));
// @debug classes(('border', 'width'), ( 'xl', 'lg', 'md', 'sm', 'xs'), ('&:hover', ':visited', ':link'));
// @debug classes(('&', 'border', 'width'), ( '1', '2', '3', '4', '5'), ('&:hover', '&:visited', '&:link'));
// @debug classes(('&', 'border', 'width', '>', 'lg'), ( '1', '2', '3', '4', '5'), ('&:hover', '&:visited', '&:link'));
// @debug classes(('&', 'border', 'width'), ( '1', '2', '3', '4', '5'), ('&:hover', '&:visited', '&:link'))
