// Sass.
@use 'sass:list';
@use 'sass:map';

// Functions.
@use '../dictionary' as *;
@use '../list/remove/list-remove-list.function' as *;
@use '../map/map-get-default.function' as *;
@use 'class.function' as *;

// Status: WARNING: Check it's working fine.
// The `module-class` function defines  class names.
@function module-class(
  $name,
  $class: (),
  $selector: (),
  $module-dictionary: null,
  $dictionary: ()
) {
  // @debug list.length(list-remove-list(list.join($name, $class), 0));
  // @debug list-remove-list(list.join($name, $class), 0);
  @return class(
    list-remove-list(list.join($name, $class), 0),
    $selector,
    map.merge(
      if(
        $module-dictionary,
        dictionary('class', $module-dictionary),
        module-dictionary($name, 'class')
      ),
      dictionary('class', $dictionary)
    )
  );
}

// Examples.
// @debug module-class('btn', 'dark');
// @debug module-class('btn', ('&', 'dark', 'xs'));
// @debug module-class('btn', (('&', 'dark', 'xs'), ('&', 'light', 'lg')));
// @debug module-class('btn', (('horizontal', 'xs'), ('vertical', 'lg')));
// @debug module-class('btn', (('&', 'dark', 'xs'), ('&', 'dark', 'lg')));
// @debug class(('card', ('header', 'a'), ('body', )));
// @debug class(('card', ('&', 'header', 'a'), ('&', 'body')));
