// Variables.
@use '../variables/core' as *;
@use 'variables/border-sizes.var' as *;

// Functions.
@use '../mixins/set-var.mixin' as *;
@use '../functions/var/css-var.function' as *;

// Mixins.
@use 'mixins/border-color-variants.mixin' as *;
@use 'mixins/border-size-variants.mixin' as *;
@use 'mixins/border.mixin' as *;

// Default border.
.#{$class-prefix}border {
  @include border();
  @include border-size-variants($border-sizes...);

  // Style.
  &.border-dashed {
    border-style: dashed;
  }
  &.border-dotted {
    border-style: dotted;
  }

  // Radius.
  &.border-radius {
    // Add the CSS variable to set custom border radius in the style='--s-border-radius: '
    @include set-var('custom-border-radius', css-var('border-radius'));
    border-radius: css-var('custom-border-radius');
  }
}
