// Variables.
@use '../../buttons/variables' as *;
@use '../../variables/core' as *;

// Functions.
@use '../../avatars/functions/avatar-class.function' as *;
@use '../../buttons/functions/button-class.function' as *;
@use '../../functions/color/color.function' as *;
@use '../functions/badge-class.function' as *;

// Mixins.
@use '../../mixins/color/background.mixin' as *;
@use '../../mixins/color/color.mixin' as *;
@use '../../mixins/font-size.mixin' as *;
@use '../../mixins/z-index.mixin' as *;

// The `badge()` mixin.
@mixin badge($class: '', $selector: (), $dictionary: ()) {
  // Badges
  // .#{$class-prefix}badge {
  // #{class('badge')} {
  #{badge-class($class, $selector, $dictionary)} {
    position: relative;
    white-space: nowrap;

    &[data-badge],
    &:not([data-badge]) {
      &::after {
        content: attr(data-badge);
        display: inline-block;
        border-radius: 0.5rem;
        @include background('primary');

        background-clip: padding-box;
        @include color('light');

        box-shadow: 0 0 0 0.1rem color('bg-light');
        transform: translate(-0.05rem, -0.5rem);
      }
    }

    &[data-badge] {
      &::after {
        min-width: 0.9rem;
        height: 0.9rem;
        padding: 0.1rem 0.2rem;

        // font-size: get-var('font-size', $suffix: 'sm');
        // font-size: get-var(('font', 'size', 'sm'));
        @include font-size('sm');

        line-height: 1;
        text-align: center;
        white-space: nowrap;
      }
    }

    &:not([data-badge]),
    &[data-badge=''] {
      &::after {
        width: 6px;
        min-width: 6px;
        height: 6px;
        padding: 0;
      }
    }

    // Badges for Buttons
    #{button-class('&', '&::after', $dictionary)} {
      // &.btn {
      // &::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      // }
    }

    // Badges for Avatars
    #{avatar-class('&', '&::after', $dictionary)} {
      // &.avatar {
      // &::after {
      position: absolute;
      top: 14.64%;
      right: 14.64%;
      @include z-index('1');

      transform: translate(50%, -50%);
      // }
    }
  }
}
