@use '../variables' as *;
@use 'sass:list';

// The function `color()` returns the `hsla()` color from a CSS variables of the given `$name`.
// The `$name` parameter can be passed as two-index list, where the second item is the `$lightness`,
// or can be passed as three-index list, where the third item is the `$alpha`.
@function color(
  $name,
  $hue: 0deg,
  $saturation: 0%,
  $lightness: 0%,
  $alpha: 1,
  $prefix: $var-prefix
) {
  @if list.length($name) > 1 {
    @if list.length($name) == 3 {
      $alpha: list.nth($name, 3);
    }

    $lightness: list.nth($name, 2);
    $name: list.nth($name, 1);
  }
  @return hsla(
    calc(var(--#{$prefix}-#{$name}-h) + #{$hue}),
    calc(var(--#{$prefix}-#{$name}-s) + #{$saturation}),
    calc(var(--#{$prefix}-#{$name}-l) + #{$lightness}),
    calc(var(--#{$prefix}-#{$name}-a) * #{$alpha})
  );
}
