@use 'color/color.function' as *;
@use 'var/get-var.function' as *;

@function get-border(
  $width: 'border-width',
  $style: solid,
  $color: 'border-color'
) {
  @return #{get-var($width)} #{$style} #{color($color)};
}
