// Sass.
@use 'sass:list';

// Functions.
@use 'list/list-replace-string.function' as *;
@use 'list/is/is-list.function' as *;
@use 'list/index/list-index-type.function' as *;

// Status: DONE
// The `replace-parent-placeholder()` function.
@function replace-parent-placeholder($selector, $placeholder: __PARENT__) {
  @if is-list($selector, 0) {
    // If first element of the list is string type.
    @if list-index-type($selector, 1) == string {
      $selector: list-replace-string($selector, $placeholder, '&');

    // If first element of the list is list type.
    } @else {
      $i: 1;
      @each $value in $selector {
        @if is-list($value, 0) {
          $selector: list.set-nth($selector, $i, list-replace-string($value, $placeholder, '&'));
        }

        $i: $i + 1;
      }
    }
  }
  @return $selector;
}

// Examples.
// @debug replace-parent-placeholder(('__PARENT__', 'card'));
// @debug replace-parent-placeholder(('__PARENT__', 'card'), __OTHER__);
// @debug replace-parent-placeholder(('__OTHER__', 'card'), __OTHER__);
// @debug replace-parent-placeholder((('__PARENT__', 'bla'), 'card'));
// @debug replace-parent-placeholder((('__PARENT__', 'bla'), (__PARENT__, 'card')));
