// Sass.
@use 'sass:list';
@use 'sass:string';

// Status: DONE
// The `split()` function.
@function split($string, $separator) {
  $result: ();
  @if type-of($string) == string {
    $index: 0;
    @while $index != null {
      $index: string.index($string, $separator);
      @if $index {
        $result: list.append($result, string.slice($string, 1, $index - 1));
        $string: string.slice($string, $index + 1);
      } @else {
        $result: list.append($result, $string);
      }
    }
  }

  @return $result;
}

// Examples.
// @debug split('aaa bbb ccc', ' '); // "aaa" "bbb" "ccc"
// @debug split('aaa-bbb-ccc', '-'); // "aaa" "bbb" "ccc"
// @debug split('aaa/bbb/ccc', '/'); // "aaa" "bbb" "ccc"
