@use 'sass:string';

// Variables.
@use '../../../variables' as *;

// Functions.
@use '../../../functions/color/color-name.function' as *;
@use '../../../functions/var/css-var.function' as *;
@use '../../../functions/var/var-adjust.function' as *;
@use '../../set-var.mixin' as *;

// The mixin sets CSS variable lightness for the hsla form from the given hex `$color`.
@mixin set-var-lightness(
  $name,
  $color,
  $lightness: 0%,
  $prefix: $var-prefix,
  $suffix: $var-lightness
) {
  @if type-of($color) != 'string' {
    @include set-var($name, calc(lightness($color) + $lightness), $prefix, $suffix);
  } @else {
    @include set-var($name, var-adjust(css-var(color-name($color), $suffix: $suffix), $lightness), $prefix, $suffix);
  }
  // Lightness level.
  @include set-var($name, 0%, $prefix, '#{$suffix}-l');
}
