// Variables.
@use '../variables/core' as *;

// Functions.
@use 'functions/code-class.function' as *;
@use '../functions/class/class.function' as *;
@use '../functions/color/scheme/is-scheme-dark.function' as *;
@use '../functions/color/scheme/is-scheme-light.function' as *;
@use '../functions/color/scheme/is-scheme-normal.function' as *;

// Mixins.
@use '../labels/mixins/label-base.mixin' as *;
@use '../mixins/color/background.mixin' as *;
@use '../mixins/color/color.mixin' as *;
@use 'mixins/code.mixin' as *;

// Codes
code {
  @include label-base;
  @include color('code');
  @include background((
    scheme: (
      dark: ('code', -42.5%),
      light: ('code', 42.5%),
      normal: ('code', 42.5%)
    )
  ));

  font-size: 85%;
}

@include code;
