/* Customize CSS variable names and class names. Naming convention https://getbem.com/naming/ */

// Sass.
@use 'sass:map';

// Variables.
@use 'breadcrumbs.dictionary';

// Modules.
@use '../translator';

// Dictionary.
$debug: translator.dictionary-merge(breadcrumb, (
  class: (
    // breadcrumb: breadcrumb-basic,
    // header: header-basic,
    // body: body,
  ),
  var: (
    // prefix: spectre,
    // suffix: end
  )
));
