extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'buttons'
  - var name = 'Buttons'
  - var parent = 'elements'
  - var title = 'Buttons - Elements - Spectre.css CSS Framework'
  - var description = 'Buttons include simple button styles for actions in different types and sizes. Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading(slug, name, { parent, name: 'Elements' })
    +docs-menu(name, {parent, slug},
      {
        anchor: 'colors',
        name: 'Colors',
        items: [
          { anchor: 'available', name: 'Available colors' },
          { anchor: 'dark', name: 'Dark' },
          { anchor: 'light', name: 'Light' },
          { anchor: 'accent', name: 'Accent' },
          { anchor: 'primary', name: 'Primary' },
          { anchor: 'secondary', name: 'Secondary' },
          { anchor: 'gray', name: 'Gray' },
          { anchor: 'bg', name: 'Bg' },
          { anchor: 'border', name: 'Border' },
          { anchor: 'link', name: 'Link' },
          { anchor: 'control', name: 'Control' },
          { anchor: 'body', name: 'Body'},
          { anchor: 'other', name: 'Other' }
        ]
      },
      {
        anchor: 'sizes',
        name: 'Sizes',
        items: [
          { anchor: 'available', name: 'Available sizes' },
          { anchor: 'large', name: 'Large ' },
          { anchor: 'small', name: 'Small' },
          { anchor: 'full-width', name: 'Full width' },
          { anchor: 'action', name: 'Action' },
        ]
      },
      {
        anchor: 'states',
        name: 'States',
        items: [
          { anchor: 'active', name: 'Active' },
          { anchor: 'disabled', name: 'Disabled' },
          { anchor: 'loading', name: 'Loading' },
        ]
      },
      { anchor: 'groups', name: 'Groups' }
    )
    include ../_layout/_ad-g.pug

    p Buttons include simple button styles for actions in different types and sizes.

    .docs-demo.columns
      .column.col-12
        button.btn default button
        button.btn.btn-primary primary button
        button.btn.btn-link link button

    p
      | Add the #[code btn] class to #[code #{'<a>'}], #[code #{'<input>'}] or #[code #{'<button>'}] elements for a default button. 
      | There are classes #[code btn-primary] and #[code btn-link] for predefined primary and link buttons.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <button class="btn">default button</button>
          <button class="btn btn-primary">primary button</button>
          <button class="btn btn-link">link button</button>

    +docs-subheading('colors', 'Button colors', {slug})

    p There are buttons of all the #[b Spectre.css] colors, and to use them add the #[code btn-] class with a color name, for example #[code btn-primary-dark].

    +docs-subheading('colors-available', 'Available button colors', { slug, tag: 'h5' })

    p
      | The following table contains the available colors for the buttons and outline buttons.

    table.docs-table.table.table-striped.text-center
      thead
        tr
          th
          th Available
          th Dark 
          th Light
          th Outline
      tbody
        tr
          th.text-left
            a(href="#buttons-colors-dark") Dark
          td
            .bg-primary.docs-dot
          td 
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-light") Light
          td
            .bg-primary.docs-dot
          td 
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-accent") Accent
          td
            .bg-primary.docs-dot
          td 
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-primary") Primary
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-secondary") Secondary
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-gray") Gray
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-bg") Bg
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-border") Border
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-link") Link
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-control") Disabled
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-control") Error
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-control") Info
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-control") Success
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-body") Body-bg
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-body") Body-font
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-other") Code
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot
        tr
          th.text-left
            a(href="#buttons-colors-other") Highlight
          td
            .bg-primary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-secondary.docs-dot
          td
            .bg-primary.docs-dot

  
    div.divider.divider-no-border.divider-size-xl

    +docs-subheading('colors-dark', 'Dark color', { slug, tag: 'h5' })
    p
      | Add the #[code btn-dark] class for the button color of CSS variable #[code --s-dark-color].
    .docs-demo.columns
      .column.col-12
        button.btn.btn-dark Dark button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-dark">dark button</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-dark.btn-outline dark outline button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-dark btn-outline">dark outline button</button>

    +docs-subheading('colors-light', 'Light color', { slug, tag: 'h5' })
    p
      | Add the #[code btn-light] class for the button color of CSS variable #[code --s-light-color].
    .docs-demo.columns
      .column.col-12
        button.btn.btn-light Light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-light">light button</button>

    +docs-subheading('colors-accent', 'Accent color', { slug, tag: 'h5' })
    p
      | Add the #[code btn-accent] class for the button color of CSS variable #[code --s-accent-color].
    .docs-demo.columns
      .column.col-12
        button.btn.btn-accent accent button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-accent">accent button</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-accent.btn-outline accent outline button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-accent btn-outline">accent outline button</button>

    +docs-subheading('colors-primary', 'Primary colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-primary], #[code btn-primary-dark] or #[code btn-primary-light] class for the button color of CSS variable #[code --s-primary-color] and its shades.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary primary button
        button.btn.btn-primary-dark primary button dark
        button.btn.btn-primary-light primary button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-primary">primary button</button>
              <button class="btn btn-primary-dark">primary button dark</button>
              <button class="btn btn-primary-light">primary button light</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-primary.btn-outline primary outline button
        button.btn.btn-primary-dark.btn-outline primary outline button dark
        button.btn.btn-primary-light.btn-outline primary outline button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-primary btn-outline">primary outline button</button>
              <button class="btn btn-primary-dark btn-outline">primary outline button dark</button>
              <button class="btn btn-primary-light btn-outline">primary outline button light</button>

    +docs-subheading('colors-secondary', 'Secondary colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-secondary], #[code btn-secondary-dark] or #[code btn-secondary-light] class for the button color of CSS variable #[code --s-secondary-color] and its shades.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-secondary secondary button
        button.btn.btn-secondary-dark secondary button dark
        button.btn.btn-secondary-light secondary button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-secondary">secondary button</button>
              <button class="btn btn-secondary-dark">secondary button dark</button>
              <button class="btn btn-secondary-light">secondary button light</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-secondary.btn-outline secondary outline button
        button.btn.btn-secondary-dark.btn-outline secondary outline button dark
        button.btn.btn-secondary-light.btn-outline secondary outline button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-secondary btn-outline">secondary outline button</button>
              <button class="btn btn-secondary-dark btn-outline">secondary outline button dark</button>
              <button class="btn btn-secondary-light btn-outline">secondary outline button light</button>

    +docs-subheading('colors-gray', 'Gray colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-gray], #[code btn-gray-dark] or #[code btn-gray-light] class for the button color of CSS variable #[code --s-gray-color] and its shades.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-gray gray button
        button.btn.btn-gray-dark gray button dark
        button.btn.btn-gray-light gray button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-gray">gray button</button>
              <button class="btn btn-gray-dark">gray button dark</button>
              <button class="btn btn-gray-light">gray button light</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-gray.btn-outline gray outline button
        button.btn.btn-gray-dark.btn-outline gray outline button dark
        button.btn.btn-gray-light.btn-outline gray outline button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-gray btn-outline">gray outline button</button>
              <button class="btn btn-gray-dark btn-outline">gray outline button dark</button>
              <button class="btn btn-gray-light btn-outline">gray outline button light</button>

    +docs-subheading('colors-bg', 'Bg colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-bg], #[code btn-bg-dark] or #[code btn-bg-light] class for the button color of CSS variable #[code --s-bg-color] and its shades.
    .docs-demo.columns
      .column.col-12
        p
          button.btn.btn-bg.btn-text-dark-10 bg button
          button.btn.btn-bg-dark.btn-text-dark-10 bg button dark
          button.btn.btn-bg-light.btn-text-dark-10 bg button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-bg">bg button</button>
              <button class="btn btn-bg-dark">bg button dark</button>
              <button class="btn btn-bg-light">bg button light</button>
        p
          | Add the #[code text-gray] class to have the button font color of CSS variable #[code --s-gray-color].
        p
          button.btn.btn-bg.btn-text-dark-10 bg button
          button.btn.btn-bg-dark.btn-text-dark-10 bg button dark
          button.btn.btn-bg-light.btn-text-dark-10 bg button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-bg btn-text-dark-10">bg button</button>
              <button class="btn btn-bg-dark btn-text-dark-10">bg button dark</button>
              <button class="btn btn-bg-light btn-text-dark-10">bg button light</button>
        p
          | Add the #[code text-gray-dark] class to have the button font color of CSS variable #[code --s-gray-color-dark].
        p
          button.btn.btn-bg.text-gray-dark bg button
          button.btn.btn-bg-dark.text-gray-dark bg button dark
          button.btn.btn-bg-light.text-gray-dark bg button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-bg text-gray-dark">bg button</button>
              <button class="btn btn-bg-dark text-gray-dark">bg button dark</button>
              <button class="btn btn-bg-light text-gray-dark">bg button light</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-bg.btn-outline bg outline button
        button.btn.btn-bg-dark.btn-outline bg outline button dark
        button.btn.btn-bg-light.btn-outline bg outline button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-bg btn-outline">bg outline button</button>
              <button class="btn btn-bg-dark btn-outline">bg outline button dark</button>
              <button class="btn btn-bg-light btn-outline">bg outline button light</button>

    +docs-subheading('colors-border', 'Border colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-border], #[code btn-border-dark] or #[code btn-border-light] class for the button color of CSS variable #[code --s-border-color] and its shades.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-border border button
        button.btn.btn-border-dark border button dark
        button.btn.btn-border-light border button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-border">border button</button>
              <button class="btn btn-border-dark">border button dark</button>
              <button class="btn btn-border-light">border button light</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-border.btn-outline border outline button
        button.btn.btn-border-dark.btn-outline border outline button dark
        button.btn.btn-border-light.btn-outline border outline button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-border btn-outline">border outline button</button>
              <button class="btn btn-border-dark btn-outline">border outline button dark</button>
              <button class="btn btn-border-light btn-outline">border outline button light</button>

    +docs-subheading('colors-link', 'Link colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-link], #[code btn-link-dark] or #[code btn-link-light] class for the button color of CSS variable #[code --s-link-color] and its shades.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-link link button
        button.btn.btn-link-dark link button dark
        button.btn.btn-link-light link button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-link">link button</button>
              <button class="btn btn-link-dark">link button dark</button>
              <button class="btn btn-link-light">link button light</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-link.btn-outline link button
        button.btn.btn-link-dark.btn-outline link button dark
        button.btn.btn-link-light.btn-outline link button light
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-link btn-outline">link button</button>
              <button class="btn btn-link-dark btn-outline">link button dark</button>
              <button class="btn btn-link-light btn-outline">link button light</button>

    +docs-subheading('colors-control', 'Control colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-disabled], #[code btn-error], #[code btn-info], #[code btn-success] or #[code btn-warning] class for disabled (gray), error (red), info (blue), success (green) or warning (orange) button color.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-disabled disabled button
        button.btn.btn-error error button
        button.btn.btn-info info button
        button.btn.btn-success success button
        button.btn.btn-warning warning button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-disabled">disabled button</button>
              <button class="btn btn-error">error button</button>
              <button class="btn btn-info">info button</button>
              <button class="btn btn-success">success button</button>
              <button class="btn btn-warning">warning button</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-disabled.btn-outline disabled outline button
        button.btn.btn-error.btn-outline error outline button
        button.btn.btn-info.btn-outline info outline button
        button.btn.btn-success.btn-outline success outline button
        button.btn.btn-warning.btn-outline warning outline button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-disabled btn-outline">disabled outline button</button>
              <button class="btn btn-error btn-outline">error outline button dark</button>
              <button class="btn btn-info btn-outline">info outline button dark</button>
              <button class="btn btn-success btn-outline">success outline button dark</button>
              <button class="btn btn-warning btn-outline">warning outline button dark</button>

    +docs-subheading('colors-body', 'Body colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-body-bg] or #[code btn-body-font] class for body colors button.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-body-bg body-bg button
        button.btn.btn-body-font body-font button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-body-bg">body-bg button</button>
              <button class="btn btn-body-font">body-font button</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-body-font.btn-outline body-font outline button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-body-font btn-outline">body-font outline button dark</button>

    +docs-subheading('colors-other', 'Other colors', { slug, tag: 'h5' })
    p
      | Add the #[code btn-code] or #[code btn-highlight] class for code (red) or highlight (yellow) button color.
    .docs-demo.columns
      .column.col-12
        button.btn.btn-code code button
        button.btn.btn-highlight highlight button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-code">code button</button>
              <button class="btn btn-highlight">highlight button</button>
        p
          | Add the #[code btn-outline] class for the #[b outline] button style.
        button.btn.btn-code.btn-outline code outline button
        button.btn.btn-highlight.btn-outline highlight outline button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-code btn-outline">code outline button</button>
              <button class="btn btn-highlight btn-outline">highlight outline button dark</button>

    p
      | If you need more button colors, please use 
      a(href="../getting-started/custom.html#customizable-buttons") button mixins
      |  to create your own button color variants.

    +docs-subheading('sizes-available', 'Button sizes', {slug})

    .docs-demo.columns
      .column.col-12
        table.docs-table.table.text-center
          thead
            tr
              th xs 
              th sm 
              th md  
              th lg  
              th xl 
              th 2x 
          tbody
            tr
              td
                .bg-secondary.docs-dot
              td
                .bg-primary.docs-dot
              td
                .bg-primary.docs-dot
              td
                .bg-primary.docs-dot
              td
                .bg-secondary.docs-dot
              td
                .bg-secondary.docs-dot

    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary.btn-lg
          | large 
          i.icon.icon-arrow-down
        button.btn.btn-primary.btn-lg large button
      .column.col-12
        button.btn.btn-primary
          | normal 
          i.icon.icon-arrow-down
        button.btn.btn-primary normal button
      .column.col-12
        button.btn.btn-primary.btn-sm
          | small 
          i.icon.icon-arrow-down
        button.btn.btn-primary.btn-sm small button


    p
      | Add the #[code btn-sm] or #[code btn-lg] class for small or large button size. 
      | Also, you can add the #[code btn-block] class for a full-width button.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <button class="btn btn-lg">large button</button>
          <button class="btn btn-sm">small button</button>

          <button class="btn btn-block">block button</button>

          <button class="btn btn-primary btn-lg"><i class="icon icon-arrow-left"></i> large</button>
          <button class="btn btn-primary"><i class="icon icon-arrow-left"></i> normal</button>
          <button class="btn btn-primary btn-sm"><i class="icon icon-arrow-left"></i> small</button>

    p
      | Please note that you could use the #[code btn-action] class for a square button, or add another #[code s-circle] class for a round button, which is often used as a Float Action Button (FAB).

    +docs-subheading('sizes-large', 'Button sizes - Large button', {slug})

    +docs-subheading('sizes-large-colors-primary', 'Large button - Primary colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary.btn-lg large primary button
        button.btn.btn-primary-dark.btn-lg large primary dark button
        button.btn.btn-primary-light.btn-lg large primary light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-primary btn-lg">large primary button</button>
              <button class="btn btn-primary-dark btn-lg">large primary dark button</button>
              <button class="btn btn-primary-light btn-lg">large primary light button</button>

    +docs-subheading('sizes-large-colors-secondary', 'Large button - Secondary colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-secondary.btn-lg large secondary button
        button.btn.btn-secondary-dark.btn-lg large secondary dark button
        button.btn.btn-secondary-light.btn-lg large secondary light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-secondary btn-lg">large secondary button</button>
              <button class="btn btn-secondary-dark btn-lg">large secondary dark button</button>
              <button class="btn btn-secondary-light btn-lg">large secondary light button</button>

    +docs-subheading('sizes-large-colors-gray', 'Large button - Gray colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-gray.btn-lg large gray button
        button.btn.btn-gray-dark.btn-lg large gray dark button
        button.btn.btn-gray-light.btn-lg large gray light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-gray btn-lg">large gray button</button>
              <button class="btn btn-gray-dark btn-lg">large gray dark button</button>
              <button class="btn btn-gray-light btn-lg">large gray light button</button>

    +docs-subheading('sizes-large-colors-bg', 'Large button - Bg colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-bg.btn-lg large bg button
        button.btn.btn-bg-dark.btn-lg large bg dark button
        button.btn.btn-bg-light.btn-lg large bg light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-bg btn-lg">large bg button</button>
              <button class="btn btn-bg-dark btn-lg">large bg dark button</button>
              <button class="btn btn-bg-light btn-lg">large bg light button</button>

    +docs-subheading('sizes-large-colors-other', 'Large button - Control colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-disabled.btn-lg large disabled button
        button.btn.btn-error.btn-lg large error button
        button.btn.btn-info.btn-lg large info button
        button.btn.btn-success.btn-lg large success button
        button.btn.btn-warning.btn-lg large warning button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-disabled btn-lg">large disabled button</button>
              <button class="btn btn-error btn-lg">large error button</button>
              <button class="btn btn-info btn-lg">large info button</button>
              <button class="btn btn-success btn-lg">large success button</button>
              <button class="btn btn-warning btn-lg">large warning button</button>

    +docs-subheading('sizes-large-colors-other', 'Large button - Other colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-code.btn-lg large disabled button
        button.btn.btn-highlight.btn-lg large highlight button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-code btn-lg">large code button</button>
              <button class="btn btn-highlight btn-lg">large highlight button</button>

    +docs-subheading('sizes-small', 'Button sizes - Small button', { slug, tag: 'h5' })

    +docs-subheading('sizes-small-colors-primary', 'Small button - Primary colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary.btn-sm small primary button
        button.btn.btn-primary-dark.btn-sm small primary dark button
        button.btn.btn-primary-light.btn-sm small primary light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-primary btn-sm">small primary button</button>
              <button class="btn btn-primary-dark btn-sm">small primary dark button</button>
              <button class="btn btn-primary-light btn-sm">small primary light button</button>

    +docs-subheading('sizes-small-colors-secondary', 'Small button - Secondary colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-secondary.btn-sm small secondary button
        button.btn.btn-secondary-dark.btn-sm small secondary dark button
        button.btn.btn-secondary-light.btn-sm small secondary light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-secondary btn-sm">small secondary button</button>
              <button class="btn btn-secondary-dark btn-sm">small secondary dark button</button>
              <button class="btn btn-secondary-light btn-sm">small secondary light button</button>

    +docs-subheading('sizes-small-colors-gray', 'Small button - Gray colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-gray.btn-sm small gray button
        button.btn.btn-gray-dark.btn-sm small gray dark button
        button.btn.btn-gray-light.btn-sm small gray light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-gray btn-sm">small gray button</button>
              <button class="btn btn-gray-dark btn-sm">small gray dark button</button>
              <button class="btn btn-gray-light btn-sm">small gray light button</button>

    +docs-subheading('sizes-small-colors-bg', 'Small button - Bg colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-bg.btn-sm small bg button
        button.btn.btn-bg-dark.btn-sm small bg dark button
        button.btn.btn-bg-light.btn-sm small bg light button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-bg btn-sm">small bg button</button>
              <button class="btn btn-bg-dark btn-sm">small bg dark button</button>
              <button class="btn btn-bg-light btn-sm">small bg light button</button>

    +docs-subheading('sizes-small-control-colors', 'Small button - Control colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-disabled.btn-sm small disabled button
        button.btn.btn-error.btn-sm small error button
        button.btn.btn-info.btn-sm small info button
        button.btn.btn-success.btn-sm small success button
        button.btn.btn-warning.btn-sm small warning button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-disabled btn-sm">small disabled button</button>
              <button class="btn btn-error btn-sm">small error button</button>
              <button class="btn btn-info btn-sm">small info button</button>
              <button class="btn btn-success btn-sm">small success button</button>
              <button class="btn btn-warning btn-sm">small warning button</button>

    +docs-subheading('sizes-small-colors-other', 'Other colors', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-code.btn-sm small disabled button
        button.btn.btn-highlight.btn-sm small highlight button
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-code btn-sm">small code button</button>
              <button class="btn btn-highlight btn-sm">small highlight button</button>

    +docs-subheading('sizes-full-width', 'Button sizes - Full-width button', { slug, tag: 'h5' })

    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary.btn-block Confirm
        button.btn.btn-link.btn-block.btn-sm Cancel
        button.btn.btn-disabled.btn-block.btn-lg Disabled
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-primary btn-block">
                Confirm
              </button>
              <button class="btn btn-link btn-block btn-sm">
                Cancel
              </button>
              <button class="btn btn-disabled btn-block btn-lg">
                Disabled
              </button>

    +docs-subheading('sizes-action', 'Button sizes - Action button', {slug})

    .docs-demo.columns
      .column.col-xs-12
        button.btn.btn-action.btn-primary.btn-lg
          i.icon.icon-menu
        button.btn.btn-action.btn-primary
          i.icon.icon-menu
        button.btn.btn-action.btn-primary.btn-sm
          i.icon.icon-menu
      .column.col-xs-12
        button.btn.btn-action.btn-primary.btn-lg.s-circle
          i.icon.icon-arrow-up
        button.btn.btn-action.btn-primary.s-circle
          i.icon.icon-arrow-up
        button.btn.btn-action.btn-primary.btn-sm.s-circle
          i.icon.icon-arrow-up
      .column.col-xs-12
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <button class="btn btn-action"><i class="icon icon-arrow-left"></i></button>
              <button class="btn btn-action s-circle"><i class="icon icon-arrow-left"></i></button>

    +docs-subheading('states', 'Button states', {slug})

    p
      | Add the #[code active] class for active button state style.

    +docs-subheading('states-active', 'Button states - active', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.active default active
        button.btn.btn-accent.active accent active
        button.btn.btn-primary.active primary active
        button.btn.btn-link.active link active
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <!-- buttons with active state -->
              <button class="btn btn-active" tabindex="-1">default active</button>
              <button class="btn btn-accent btn-active" tabindex="-1">accent active</button>
              <button class="btn btn-primary btn-active" tabindex="-1">primary active</button>
              <button class="btn btn-link btn-active" tabindex="-1">link active</button>

    p
      | Add the #[code disabled] class or the #[code disabled] attribute for disabled button state style.

    +docs-subheading('states-disabled', 'Button states - disabled', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.btn-accent.disabled(tabindex="-1") accent disabled
        button.btn.disabled(tabindex="-1") default disabled
        button.btn.btn-primary(disabled="" tabindex="-1") primary disabled
        button.btn.btn-link(disabled="" tabindex="-1") link disabled
        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <!-- buttons with disabled state -->
              <button class="btn btn-accent disabled" tabindex="-1">accent disabled</button>
              <button class="btn" disabled tabindex="-1">default button</button>
              <button class="btn btn-primary disabled" tabindex="-1">primary button</button>
              <button class="btn btn-link disabled" tabindex="-1">link button</button>

    p
      | A button with the #[code loading] class can show loading indicator.

    +docs-subheading('states-loading', 'Button states - loading', { slug, tag: 'h5' })
    .docs-demo.columns
      .column.col-12
        button.btn.loading default button
        button.btn.btn-primary.loading primary button
        button.btn.btn-link.loading link button

        pre.code(data-lang='HTML')
          code
            :highlight(lang="html")
              <!-- buttons with loading state -->
              <button class="btn loading">button</button>
              <button class="btn btn-primary loading">primary button</button>

    +docs-subheading('groups', 'Button groups', {slug})

    .docs-demo.columns
      .column.col-6.col-md-12
        .btn-group
          button.btn first button
          button.btn second button
          button.btn third button
      .column.col-6.col-md-12
        .btn-group.btn-group-block
          button.btn.btn-primary first button
          button.btn.btn-primary second button
          button.btn.btn-primary third button
      .column.col-6.col-md-12
        .btn-group
          button.btn.btn-sm.active first button
          button.btn.btn-sm second button
          button.btn.btn-sm third button
      .column.col-6.col-md-12
        .btn-group.btn-group-block
          button.btn.btn-primary.btn-sm.active first button
          button.btn.btn-primary.btn-sm second button
          button.btn.btn-primary.btn-sm third button
        
    p
      | If you want to use buttons as a group, add the #[code btn-group] class to the container.
      | You can add the #[code btn-group-block] class for a full-width button group.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="btn-group btn-group-block">
            <button class="btn">first button</button>
            <button class="btn">second button</button>
            <button class="btn">third button</button>
          </div> 

    +docs-pagination({parent: parent, name: 'Elements'}, {path: 'code', name: 'Code'})

    include ../_layout/_ad-c.pug

  include ../_layout/_footer.pug
