// Mixins.
@use '../../mixins/color/background.mixin' as *;

@mixin dot-base {
  // Display.
  display: inline-block;
  // Size.
  width: .5rem;
  height: .5rem;
  padding: 0;

  border-radius: 50%;

  @include background('gray');
}
