// Functions.
@use '../functions/color/color.function' as *;

// Mixins.
@use 'color/background.mixin' as *;
@use 'color/color.mixin' as *;
@use 'color/color-active.mixin' as *;
@use 'color/color-focus.mixin' as *;
@use 'color/color-hover.mixin' as *;
@use 'color/color-visited.mixin' as *;

@use 'shadow' as *;

// Button variant mixin
// @mixin button-variant($color: $primary-color) { // old spectre.css
@mixin button-variant($name, $bg-color, $color: 'light', $lightness: -2%) {
  &.btn-#{$name} {
    @include background($bg-color);
    border-color: color($bg-color, $lightness: $lightness - 1%);
    @include color($color);
    @include color-visited($color);
    &:focus {
      @include control-shadow($bg-color);
    }
    &:focus,
    &:hover {
      @include background($bg-color, $lightness: $lightness);
      border-color: color($bg-color, $lightness: $lightness - 3%);
    }
    @include color-focus($color);
    @include color-hover($color);

    &:active,
    &.active {
      @include background($bg-color, $lightness: $lightness - 5%);
      border-color: color($bg-color, $lightness: $lightness - 8%);
    }
    @include color-active($color);

    &.loading {
      &::after {
        border-bottom-color: color($color);
        border-left-color: color($color);
      }
    }
  }
}

@mixin button-outline-variant($name, $color: 'primary', $lightness: -2%) {
  &.btn-#{$name} {
    @include background('light');
    border-color: color($color);
    @include color($color);
    &:focus {
      @include control-shadow($color);
    }
    &:focus,
    &:hover {
      @include background($color);
      border-color: color($color, $lightness: $lightness);
      @include color($color, $lightness: 100%);
    }
    &:active,
    &.active {
      @include background($color);
      border-color: color($color, $lightness: $lightness - 3%);
      @include background($color, $lightness: 100%);
    }
    &.loading {
      &::after {
        border-bottom-color: color($color);
        border-left-color: color($color);
      }
    }
  }
}

@mixin button-link($color: 'link', $hover-color: 'link-dark') {
  background: transparent;
  border-color: transparent;
  color: color($color);
  &:visited,
  &:focus,
  &:hover,
  &:active,
  &.active {
    border-color: transparent;
    background: transparent;
    @include color($hover-color);
  }
}

@mixin button-link-variant(
  $name: 'link',
  $color: 'link',
  $hover-color: 'link-dark'
) {
  &.btn-#{$name} {
    @include button-link($color, $hover-color);
  }
}

@mixin button-link-outline-variant(
  $name: 'link',
  $color: 'link',
  $hover-color: 'link-dark'
) {
  &.btn-#{$name} {
    @include button-link($color, $hover-color);

    &:visited,
    &:focus,
    &:hover,
    &:active,
    &.active {
      border-color: color($hover-color);
    }
  }
}
