// Sass.
@use 'sass:list';

// Modules.
@use '../class';
@use '../color';
@use '../selector';

// Status:
// The `disabled()` mixin extends the given element with the disabled attribute, pseudo selector, class, and class with the prefix given name.
@mixin disabled($selector: (), $pseudo-class: (), $opacity: 0.5, $background: null, $dictionary: ()) {
  $result: ();
  @include class.content($selector, $pseudo-class, $dictionary) {
    opacity: $opacity;
    cursor: not-allowed;
    pointer-events: none;
    @if $background {
      @include color.background-color($background);
    }
  }
}

// Examples.
// div { @include disabled; }
// div {
//   opacity: 0.5;
//   cursor: not-allowed;
//   pointer-events: none;
// }

// @include disabled('disabled');
// .disabled {
//   opacity: 0.5;
//   cursor: not-allowed;
//   pointer-events: none;
// }

// @include disabled(disabled, '&:hover');
// .disabled, .disabled {
//   opacity: 0.5;
//   cursor: not-allowed;
//   pointer-events: none;
// }

// @include disabled((('.disabled', '.pagination-disabled'),), $background: primary dark);
// .disabled, .pagination-disabled {
//   opacity: 0.5;
//   cursor: not-allowed;
//   pointer-events: none;
//   background-color: var(--s-primary-color-dark);
// }

// @include disabled((('.disabled', '.disabled'),), ('&:hover'));
