@use '../functions/get-var' as *;

@mixin padding-size-variant($name: padding) {
  &.#{$name}-xs {
    padding: calc(get-var('control-padding-y', $suffix: 'sm') + get-var('unit-1')) calc(get-var('control-padding-x', $suffix: 'sm') + get-var('unit-1'));
  }

  &.#{$name}-sm {
    // padding: $control-padding-y-sm + $unit-2 $control-padding-x-sm + $unit-2;
    padding: calc(get-var('control-padding-y', $suffix: 'sm') + get-var('unit-2')) calc(get-var('control-padding-x', $suffix: 'sm') + get-var('unit-2'));
  }

  &.#{$name}-md {
    padding: calc(get-var('control-padding-y') + get-var('unit-2')) calc(get-var('control-padding-x') + get-var('unit-2'));
  }

  &.#{$name}-none {
    padding: 0;
  }

  &.#{$name}-lg {
    // padding: $control-padding-y-lg + $unit-2 $control-padding-x-lg + $unit-2;
    padding: calc(get-var('control-padding-y', $suffix: 'lg') + get-var('unit-2')) calc(get-var('control-padding-x', $suffix: 'lg') + get-var('unit-2'));
  }

  &.#{$name}-xl {
    // padding: $control-padding-y-lg + $unit-4 $control-padding-x-lg + $unit-4;
    padding: calc(get-var('control-padding-y', $suffix: 'lg') + get-var('unit-4')) calc(get-var('control-padding-x', $suffix: 'lg') + get-var('unit-4'));
  }
}
