// Functions.
@use '../functions/var/get-var.function' as *;

// Margin utility mixin
@mixin margin-variant($id: 1, $size: 'unit-1') {
  .m-#{$id} {
    margin: get-var($size) !important;
  }

  .mb-#{$id} {
    margin-bottom: get-var($size) !important;
  }

  .ml-#{$id} {
    margin-left: get-var($size) !important;
  }

  .mr-#{$id} {
    margin-right: get-var($size) !important;
  }

  .mt-#{$id} {
    margin-top: get-var($size) !important;
  }

  .mx-#{$id} {
    margin-left: get-var($size) !important;
    margin-right: get-var($size) !important;
  }

  .my-#{$id} {
    margin-bottom: get-var($size) !important;
    margin-top: get-var($size) !important;
  }
}

// Padding utility mixin
@mixin padding-variant($id: 1, $size: 'unit-1') {
  .p-#{$id} {
    padding: get-var($size) !important;
  }

  .pb-#{$id} {
    padding-bottom: get-var($size) !important;
  }

  .pl-#{$id} {
    padding-left: get-var($size) !important;
  }

  .pr-#{$id} {
    padding-right: get-var($size) !important;
  }

  .pt-#{$id} {
    padding-top: get-var($size) !important;
  }

  .px-#{$id} {
    padding-left: get-var($size) !important;
    padding-right: get-var($size) !important;
  }

  .py-#{$id} {
    padding-bottom: get-var($size) !important;
    padding-top: get-var($size) !important;
  }
}
