@use 'sass:list';
@use '../functions/get-var' as *;

@mixin transition-duration($properties...) {
  $transition: '';
  @each $property in $properties {
    @if list.length($property) > 1 {
      $transition: #{$transition}, #{list.nth($property, 1)} calc(get-var('transition-duration') + list.nth($property, 2));
    } @else {
      $transition: #{$transition}, #{$property} get-var('transition-duration');
    }
  }
  transition: $transition;
}
