// Sass.
@use 'sass:list';

// Modules.
@use '../var';

// Status: REVIEW: Check.
// The `transition()` mixin.
@mixin transition($properties...) {
  $transition: '';
  @each $property in $properties {
    @if list.length($property) > 1 {
      $timing-function: '';
      @if list.length($property) == 3 {
        $timing-function: list.nth($property, 3);
      }

      $transition: #{$transition}, #{list.nth($property, 1)} calc(var.get(transition duration) + list.nth($property, 2)) #{$timing-function}; // REVIEW: Check
    } @else {
      $transition: #{$transition}, #{$property} var.get(transition duration);
    }
  }

  transition: $transition;
}

// Examples.
// div { @include transition(width, border 1s); }
