// Modules.
@forward '../../translator';
@use '../../translator';

// Dictionary.
@if not translator.dictionary-get(border) {
  $debug: translator.dictionary-merge(border, (
    class: (
      border: border,
      extra-small: xs,
      small: sm,
      medium: md,
      large: lg,
      extra-large: xl,
    ),
    var: (
      border: border,
      color: color,
      radius: radius,
      width: width,
      extra-small: xs,
      small: sm,
      medium: md,
      large: lg,
      extra-large: xl,
    ),
  ));
}
