// Sass.
@use 'sass:list';

// Variables.
@use '../../variables' as *;

// Functions.
@use '../../functions/color/color.function' as *;
@use '../../functions/important.function' as *;

// The mixin contains the `background-color` style of the given `$color` CSS variable name without the prefix.
@mixin background-color(
  $color,
  $lightness: 0%,
  $alpha: 0,
  $important: false,
  $prefix: $var-prefix,
  $selector: ()
) {
  @if list.length($selector) > 0 {
    $class: '';
    @each $value in $selector {
      $class: $class + '&#{$value}, ';
    }
    #{$class} {
      background-color: color(
        $color,
        $lightness: $lightness,
        $alpha: $alpha,
        $prefix: $prefix
      )
      important($important);
    }
  } @else {
    background-color: color(
      $color,
      $lightness: $lightness,
      $alpha: $alpha,
      $prefix: $prefix
    )
    important($important);
  }

}
