@use '../../variables' as *;

// Functions.
@use '../../functions/color' as *;
@use '../../functions/important.function' as *;

// The mixin contains the `background` style of the given `$color` CSS variable name without the prefix.
@mixin background(
  $color,
  $lightness: 0%,
  $alpha: 1,
  $important: '',
  $prefix: $var-prefix
) {
  background: color(
      $color,
      $lightness: $lightness,
      $alpha: $alpha,
      $prefix: $prefix
    )
    important($important);
}
