@use '../../functions/color' as *;
@use '../../variables' as *;

// The mixin contains the `background-color` style of the given `$color` CSS variable name without the prefix.
@mixin background-color(
  $color,
  $lightness: 0%,
  $important: false,
  $prefix: $var-prefix
) {
  @if $important {
    background-color: color(
      $color,
      $lightness: $lightness,
      $prefix: $prefix
    ) !important;
  } @else {
    background-color: color($color, $lightness: $lightness, $prefix: $prefix);
  }
}
