// Sass.
@use 'sass:meta';

// Functions.
@use '../../module/module.class.function' as *;

// Modules.
@use '../../mixins/margin';
@use '../../mixins/padding';

// Mixins.
@use '../../mixins/transition.mixin' as *;

// Status: DONE
// The `accordion()` mixin.
@mixin accordion($class: (), $pseudo-class: (), $dictionary: ()) {
  #{class(accordion, $class, $pseudo-class, $dictionary)} {
    input:checked ~,
    &[open] {
      & #{class(accordion, join($class, header), (), $dictionary)} > {
        svg,
        #{class(icon, (), '&:first-child', $dictionary)} {
          transform: rotate(90deg);
        }
      }

      & #{class(accordion, join($class, body), (), $dictionary)} {
        overflow: visible;
        max-height: 60rem;
      }
    }

    #{class(accordion, join($class, header), (), $dictionary)} {
      display: block;
      @include padding.padding((unit 1) (unit 2));

      > svg,
      > #{class(icon, $dictionary: $dictionary)} {
        @include transition(transform 0.05s);
        @include margin.right((unit 2) ());
      }
    }

    #{class(accordion, join($class, body), (), $dictionary)} {
      overflow: hidden;
      max-height: 0;
      @include margin.bottom((layout spacing true) ());
      @include transition(max-height 0.05s);
      #{class(menu, item)} > a {
        align-items: center;
      }
    }
  }

  // Remove default details marker in Webkit
  summary#{class(accordion, join($class, header), '&::-webkit-details-marker', $dictionary)} {
    display: none;
  }
}
