// Sass.
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

// Modules.
@use '../../translator';
@use '../../var';
@use '@angular-package/sass/function';
@use '@angular-package/sass/property';

// Set var functions.
function.$functions: map.deep-merge(function.$functions, (var: meta.module-functions(var)));

// Status: DONE
// The `margin()` mixin.
// @param `$margin`
// @param `$important`
// @param `$dictionary`
// @param `$prefix`
// @param `$separator`
// @param `$type-function`
// @param `$execute`
@mixin margin(
  $margin,
  $important: false,
  $dictionary: null,
  $prefix: null,
  $separator: null,
  $type-function: (list: --var-var),
  $execute: true
) {
  @include property.set(
    (margin: list.append($margin, ())),
    $important,
    $prefix,
    $separator,
    $type-function,
    $execute: $execute,
    $arguments: (dictionary: if($dictionary, $dictionary, translator.dictionary(var)))
  );
}

// Examples.
// div {
  // @include margin(1px); // margin: 1px
  // @include margin(1px 2px); // margin: 1px 2px;
  // @include margin((layout spacing true) (unit 2)); // margin: 1px

  // @include margin((unit 1) ()); // margin: var(--s-unit-1);
  // @include margin((unit 1) (unit 2)); // margin: var(--s-unit-1) var(--s-unit-2);
  // @include margin((unit 1) (unit 2) (unit 5)); // margin: var(--s-unit-1) var(--s-unit-2) var(--s-unit-5);

  // @include top(--var-get (unit 10)); // margin-top: var(--s-unit-10);
  // @include top((unit 10) ()); // margin-top: var(--s-unit-10);

  // @include right(--get unit 5); // margin-right: var(--s-unit-5);
  // @include right((unit 5) ()); // margin-right: var(--s-unit-5);

  // @include bottom(--get unit 3); // margin-bottom: var(--s-unit-3);
  // @include bottom((unit 3) ()); // margin-bottom: var(--s-unit-3);

  // @include left(--get unit 4); // margin-left: var(--s-unit-4);
  // @include left((unit 4) ()); // margin-left: var(--s-unit-4);

  // @include x((unit 7) (unit 10)); // margin-left: var(--s-unit-7); margin-right: var(--s-unit-10);
  // @include y((unit 9) (unit 5)); // margin-bottom: var(--s-unit-5); margin-top: var(--s-unit-9);

  // @include x(2px);
  // @include y(2px);

  // dictionary
  // @include margin((unit 1) (unit 2), $dictionary: (prefix: spectre, suffix: basic, unit: u)); // margin: var(--spectre-u-1-basic) var(--spectre-u-2-basic);
// }
