// Sass.
@use 'sass:list';

// Functions.
@use 'list-remove-range.function' as *;

// Status: DONE
// The `list-remove-index()` function.
@function list-remove-index($list, $indexes...) {
  @if list.length($indexes) > 0 {
    $result: ();

    // Range.
    @if list.index($indexes, '...') {
      $result: list-remove-range($list, list.nth($indexes, 1), list.nth($indexes, 3));

    // Indexes.
    } @else {
      $i: 1;
      @each $element in $list {
        @if not list.index($indexes, $i) {
          $result: list.append($result, $element, list.separator($list));
        }

        $i: $i + 1;
      }
    }
    @return $result;
  }
  @return $list;
}

// Examples.
// @debug list-remove-index(('a', 'b', 'c', ('d', 'e', 'f'), 'g', 'h', 'i', 'j', 'k'), 2, 4, 7); // Returns ("a", "c", "g", "h", "j", "k")
// @debug list-remove-index(('a', 'b', 'c', ('d', (1, 2, 3, (4, 5, 6)), 'e', 'f'))); // Returns ("a", "b", "c", ("d", (1, 2, 3, (4, 5, 6)), "e", "f"))

// Range.
// @debug list-remove-index(('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'), 2, '...', 5); // "a", "f", "g", "h", "i"
