// Sass.
@use 'sass:map';

// Variables.
@use '../../variables/core' as *;
@use '../variables' as *;

// Functions.
@use '../functions/label-class.function' as *;
@use '../../functions/color/color.function' as *;

// Mixins.
@use '../../mixins/color/background.mixin' as *;
@use '../../mixins/color/color.mixin' as *;

// The mixin contains the `color` and `background` style of the values given respectively by `$color` and `$bg-color` CSS variable name.
// Both parameters can be passed as two-index list where the second item in the list refers to the lightness, and parameter `$bg-color` can be passed using the three-index list where the third item is a label background alpha.
// For example `$color: ('primary', -10%)` when font color `primary` should be darker by 10%, and `$bg-color: ('primary-dark', +10%)` when label background color is `primary-dark` lighter by 10%
@mixin label-color-variant(
  $variant: 'light',
  $bg-color: 'primary',
  $color: 'light',
  $class: (),
  $var: ()
) {
  $var: map.merge(map.get($label, 'var'), $var);

  // &.#{$label-name}-#{$name} {
  &#{label-class($variant, (), $class)} {
    @include background($bg-color, $var: $var);
    @include color($color, $var: $var);
  }
}

// @deprecated
// The mixin contains `color` and `background` color of the given respectively `$color` and `$bg-color` sass variables.
// It is created to pass color by using the `color()` function, to have the ability to customize all color parameters.
@mixin label--variant(
  $color: color('light-color'),
  $bg-color: color('primary-color')
) {
  @warn "The label--variant() mixin is deprecated to simplify the spectre.css";
  color: $color;
  background: $bg-color;
}

// @deprecated
// The mixin contains an extending class of the name prefixed with `label-` with the given color `$name` that includes a label variant of the given CSS variable names `$color` and `$bg-color`.
// Both `$color` and `$bg-color` parameters can be passed as two-index list where the second item in the list refers to the lightness.
// For example `$color: ('primary', -10%)` when primary color should be darker by 10%.
@mixin label-class-variant(
  $name: 'light',
  $color: 'light-color',
  $bg-color: 'primary-color',
  $color-lightness: 0%,
  $bg-lightness: 0%
) {
  @warn 'label-class-variant() mixin is deprecated to simplify spectre.css';
  &.#{$label-name}-#{$name} {
    @include label-color-variant(
      $color,
      $bg-color,
      $color-lightness,
      $bg-lightness
    );
  }
}

// @deprecated
// The mixin contains an extending class of the name prefixed with `label-` with the given color `$name` that includes a label variant of the given sass variable names `$color` and `$bg-color`.
// It is created to pass color by using the `color()` function, to have the ability to customize its parameters like lightness.
@mixin label-class--variant(
  $name: 'light',
  $color: color('light-color'),
  $bg-color: color('primary-color')
) {
  @warn 'label-class--variant() mixin is deprecated to simplify spectre.css';
  &.#{$label-name}-#{$name} {
    @include label--variant($color, $bg-color);
  }
}
