// Sass.
@use 'sass:map';

// Variables.
@use '../variables/border.var' as *;

// Modules.
@use '../../color/functions/color.color.function' as *;

// Functions.
@use 'border.size-var.function' as border;

// Status: DONE
// The `border()` function.
@function border(
  $size: md,
  $adjust: null,
  $style: map.get($border, style),
  $color: map.get($border, color),
  $dictionary: ()
) {
  @return #{border.size-var($size, $adjust, null, $dictionary)} #{$style} #{color($color, $dictionary: $dictionary)};
}

// Examples.
// @debug border(); // var(--s-border-size-md) solid var(--s-border-color)

// size
// @debug border(sm); // var(--s-border-size-sm) solid var(--s-border-color)

// size adjust
// @debug border(sm, 15); // calc(var(--s-border-size-sm) + 15) solid var(--s-border-color)

// style
// @debug border(sm, null, dotted); // var(--s-border-size-sm) dotted var(--s-border-color)

// hsla color
// @debug border(sm, $color: border ':hsla'); // var(--s-border-size-sm) solid hsla(var(--s-border-color-h), var(--s-border-color-s), var(--s-border-color-l), var(--s-border-color-a))

// dictionary
// @debug border(basic small, null, dotted, $dictionary: (small: sm)); // var(--s-border-size-basic-sm) dotted var(--s-border-color)
