@use '../../functions/color/color.function' as *;
@use '../../functions/var/get-var.function' as *;

@function get-border(
  $width: 'border-width',
  $style: solid,
  $color: 'border-color'
) {
  @return #{get-var($width)} #{$style} #{color($color)};
}
