// Variables.
@use 'variables/core' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;

// Accordions
.#{$class-prefix}accordion {
  input:checked ~,
  &[open] {
    & .accordion-header > {
      .icon:first-child {
        transform: rotate(90deg);
      }
    }

    & .accordion-body {
      max-height: 50rem;
    }
  }

  .accordion-header {
    display: block;
    @include padding('unit-1', 'unit-2');

    .icon {
      @include transition((transform, 0.05s));
    }
  }

  .accordion-body {
    max-height: 0;
    overflow: hidden;
    @include margin-bottom(('layout-spacing', true));
    @include transition((max-height, 0.05s));
  }
}

// Remove default details marker in Webkit
summary.accordion-header {
  &::-webkit-details-marker {
    display: none;
  }
}

.#{$class-prefix}accordion {
  &.accordion-menu {
    .menu {
      .menu-item {
        a {
          @media (prefers-color-scheme: dark) {
            @include color('gray-dark');
          }
          @media (prefers-color-scheme: light) {
            @include color('gray-dark');
          }

          &:hover,
          &.active {
            @media (prefers-color-scheme: dark) {
              @include background('secondary-light');
              @include color('body-font-color');
            }
            @media (prefers-color-scheme: light) {
              @include background('secondary');
              @include color('primary');
            }
          }
          &.active {
            @media (prefers-color-scheme: dark) {
              @include control-shadow('secondary-light');
            }
            @media (prefers-color-scheme: light) {
              @include background('secondary');
            }
          }

          border-radius: get-var('border-radius');
          @include transition(background, color, box-shadow);
        }
      }
    }
  }
}
