// Functions.
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Animations
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(var-negative(unit-var('8'))); // TODO: negative
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
