/*! Spectre.css fonts | MIT License | github.com/angular-package/spectre.css */

// Variables.
@use 'variables/fonts';

// Mixins.
@use './borders/mixins';

// Optimized for East Asian CJK
html:lang(zh),
html:lang(zh-Hans),
.lang-zh,
.lang-zh-hans {
  font-family: fonts.$cjk-zh-hans-font-family;
}

html:lang(zh-Hant),
.lang-zh-hant {
  font-family: fonts.$cjk-zh-hant-font-family;
}

html:lang(ja),
.lang-ja {
  font-family: fonts.$cjk-jp-font-family;
}

html:lang(ko),
.lang-ko {
  font-family: fonts.$cjk-ko-font-family;
}

:lang(zh),
:lang(ja),
.lang-cjk {
  ins,
  u {
    @include mixins.border($side: bottom);

    text-decoration: none;
  }

  del + del,
  del + s,
  ins + ins,
  ins + u,
  s + del,
  s + s,
  u + ins,
  u + u {
    margin-left: 0.125em;
  }
}
