// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;

// Autocomplete
.#{$class-prefix}form-autocomplete {
  position: relative;

  .form-autocomplete-input {
    // Display.
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    // Size.
    height: auto;
    min-height: unit-var('8');
    @include padding('unit-h');

    &.is-focused {
      border-color: color('primary');
      @include control-shadow();
    }

    .form-input {
      // Display.
      display: inline-block;
      flex: 1 0 auto;

      // Size.
      width: auto;
      height: unit-var('6');

      @include margin('unit-h');
      border-color: transparent;
      box-shadow: none;

      line-height: unit-var('4');
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &.autocomplete-oneline {
    .form-autocomplete-input {
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .chip {
      flex: 1 0 auto;
    }
  }
}
