// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;

// Autocomplete
.form-autocomplete,
.#{$var-prefix}-form-autocomplete {
  position: relative;

  .form-autocomplete-input {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: unit-var('8');
    @include padding('unit-h');

    &.is-focused {
      @include control-shadow();
      border-color: color('primary');
    }

    .form-input {
      border-color: transparent;
      box-shadow: none;
      display: inline-block;
      flex: 1 0 auto;
      height: unit-var('6');
      line-height: unit-var('4');
      @include margin('unit-h');
      width: auto;
    }
  }

  .menu {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &.autocomplete-oneline {
    .form-autocomplete-input {
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .chip {
      flex: 1 0 auto;
    }
  }
}
