// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/avatar' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/z-index.mixin' as *;

// Avatars
.#{$class-prefix}avatar {
  @include avatar-base();
  position: relative;
  display: inline-block;
  line-height: 1.25;
  margin: 0;
  vertical-align: middle;
  border-radius: 50%;
  @include background('primary');
  @include color('light', $alpha: 0.85);
  font-weight: 300;

  &.avatar-xs {
    @include avatar-base('unit-4');
  }
  &.avatar-sm {
    @include avatar-base('unit-6');
  }
  &.avatar-lg {
    @include avatar-base('unit-12');
  }
  &.avatar-xl {
    @include avatar-base('unit-16');
  }

  img {
    @include z-index('0');
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .avatar-icon,
  .avatar-presence {
    // Position.
    @include z-index('0', 1);
    position: absolute;
    right: 14.64%;
    bottom: 14.64%;

    // Size.
    width: 50%;
    height: 50%;
    @include padding('border-width-lg');

    transform: translate(50%, 50%);
    @include background('bg');
  }

  .avatar-presence {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    @include background('gray');
    box-shadow: 0 0 0 get-var('border-width', $suffix: 'lg') color('light');

    &.online {
      @include background('success');
    }

    &.busy {
      @include background('error');
    }

    &.away {
      @include background('warning');
    }
  }

  &[data-initial]::before {
    @include z-index('0');
    position: absolute;
    top: 50%;
    left: 50%;
    content: attr(data-initial);
    transform: translate(-50%, -50%);
    color: currentColor;
  }
}
