// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// Badges
.#{$class-prefix}badge {
  position: relative;
  white-space: nowrap;

  &[data-badge],
  &:not([data-badge]) {
    &::after {
      display: inline-block;
      content: attr(data-badge);
      transform: translate(-0.05rem, -0.5rem);
      border-radius: 0.5rem;
      background-clip: padding-box;
      @include background('primary');
      @include color('light');
      box-shadow: 0 0 0 0.1rem color('bg-color-light');
    }
  }
  &[data-badge] {
    &::after {
      min-width: 0.9rem;
      height: 0.9rem;
      line-height: 1;
      padding: 0.1rem 0.2rem;
      font-size: get-var('font-size', $suffix: 'sm');
      text-align: center;
      white-space: nowrap;
    }
  }
  &:not([data-badge]),
  &[data-badge=''] {
    &::after {
      width: 6px;
      min-width: 6px;
      height: 6px;
      padding: 0;
    }
  }

  // Badges for Buttons
  &.btn {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  // Badges for Avatars
  &.avatar {
    &::after {
      @include z-index('1');
      position: absolute;
      top: 14.64%;
      right: 14.64%;
      transform: translate(50%, -50%);
    }
  }
}
