// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/color/color.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/z-index.mixin' as *;

// Bars
.bar,
.#{$var-prefix}-bar {
  @include background('bg-dark');
  border-radius: get-var('border-radius');
  display: flex;
  flex-wrap: nowrap;
  height: unit-var('4');
  width: 100%;

  &.bar-sm {
    height: unit-var('1');
  }

  // TODO: attr() support
  .bar-item {
    @include background('primary');
    @include color('light');
    display: block;
    font-size: get-var('font-size', $suffix: 'sm');
    flex-shrink: 0;
    line-height: unit-var('4'); // old @angular-package/spectre.css
    height: 100%;
    position: relative;
    text-align: center;
    width: 0;

    &:first-child {
      border-bottom-left-radius: get-var('border-radius');
      border-top-left-radius: get-var('border-radius');
    }
    &:last-child {
      border-bottom-right-radius: get-var('border-radius');
      border-top-right-radius: get-var('border-radius');
      flex-shrink: 1;
    }
  }
}

// Slider bar
.bar-slider {
  height: get-var('border-width', $suffix: 'lg');
  @include margin(('layout-spacing', true), 'unit-0');

  position: relative;

  .bar-item {
    left: 0;
    padding: 0;
    position: absolute;
    &:not(:last-child):first-child {
      @include background('bg-dark');
      @include z-index('0');
    }
  }

  .bar-slider-btn {
    @include background('primary');
    border: 0;
    border-radius: 50%;
    height: unit-var('3'); // old @angular-package/spectre.css
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: unit-var('3');

    &:active {
      box-shadow: 0 0 0 0.1rem color('primary');
    }
  }
}
