// Variables.
@use 'variables/fonts' as *;

// Modules.
@use 'color';
@use 'property';
@use 'var';

// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var.css(html font size);
  line-height: var.css(html line height);
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  @include color.background(body bg);
  @include color.color(body font);

  font-family: $body-font-family;

  @include property.font-size;

  text-rendering: optimizelegibility;
}

a {
  outline: none;
  @include color.color(link);

  text-decoration: none;

  &:focus {
    @include property.control-shadow;
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    @include color.color(link dark);

    text-decoration: underline;
  }

  &:visited {
    @include color.color(link light);
  }
}
