// Variables.
@use 'variables/fonts' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/css-var.function' as *;

// Mixins.
@use 'mixins/color/color.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/shadow' as *;

// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: css-var('html-line-height');
  font-size: css-var('html-font-size');
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  @include background('body-bg');
  @include color('body-font');
  font-family: $body-font-family;
  font-size: css-var('font-size');
  text-rendering: optimizeLegibility;
}

a {
  outline: none;
  @include color('link');
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    @include color('link-dark');
    text-decoration: underline;
  }

  &:visited {
    @include color('link-light');
  }
}
