// Variables.
@use 'variables' as *;

// Mixins.
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;

// Breadcrumbs
.breadcrumb,
.#{$var-prefix}-breadcrumb {
  list-style: none;
  @include margin('unit-1', 'unit-0');
  @include padding('unit-1', 'unit-0');


  .breadcrumb-item {
    @include color('gray-dark');
    display: inline-block;
    margin: 0;
    @include padding('unit-1', 'unit-0');

    &:not(:last-child) {
      @include margin-right('unit-1');

      a {
        @include color('gray-dark');
      }
    }

    &:not(:first-child) {
      &::before {
        @include color('gray-dark');
        content: '/';
        @include padding-right('unit-2');
      }
    }
  }
}
