// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/css-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'borders/mixins/border.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;

// Calendars
.#{$class-prefix}calendar {
  display: block;
  min-width: 280px;
  @include border($radius: 'border-radius');

  .calendar-nav {
    display: flex;
    align-items: center;
    @include padding(('layout-spacing', true));
    border-top-left-radius: css-var('border-radius');
    border-top-right-radius: css-var('border-radius');
    @include background('bg');
    font-size: css-var('font-size', $suffix: 'lg');
  }

  .calendar-header,
  .calendar-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include padding(('layout-spacing', true), 'unit-0');

    .calendar-date {
      flex: 0 0 14.28%; // 7 calendar-items each row
      max-width: 14.28%;
    }
  }

  .calendar-header {
    @include border($side: 'bottom');
    @include background('bg');
    @include color('gray');
    font-size: css-var('font-size', $suffix: 'sm');
    text-align: center;
  }

  .calendar-body {
    @include color('gray-dark');
  }

  .calendar-date {
    @include padding('unit-1');
    border: 0;

    .date-item {
      position: relative;
      appearance: none;
      cursor: pointer;

      // Size.
      width: unit-var('7');
      height: unit-var('7');
      @include padding('unit-h');

      // Border.
      border: css-var('border-width') solid transparent;
      border-radius: 50%;
      outline: none;

      background: transparent;
      @include color('gray-dark');

      font-size: css-var('font-size', $suffix: 'sm');
      line-height: unit-var('5');
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;

      @include transition(background, border, box-shadow, color);

      &.date-today {
        border-color: color('secondary-dark');
        @include color('primary');
      }

      &:focus {
        @include control-shadow();
      }

      &:focus,
      &:hover {
        border-color: color('secondary-dark');
        @include background('secondary-light');
        @include color('primary');
        text-decoration: none;
      }
      &:active,
      &.active {
        border-color: color('primary-dark', $lightness: -5%);
        @include background('primary-dark');
        @include color('light');
      }

        // Calendar badge support
      &.badge {
        &::after {
          position: absolute;
          top: 3px;
          right: 3px;
          transform: translate(50%, -50%);
        }
      }
    }

    .date-item,
    .calendar-event {
      &:disabled,
      &.disabled {
        opacity: 0.25;
        pointer-events: none;
        cursor: default;
      }
    }

    &.prev-month,
    &.next-month {
      .date-item,
      .calendar-event {
        opacity: 0.25;
      }
    }
  }

  .calendar-range {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      content: '';
      height: unit-var('7');
      transform: translateY(-50%);
      @include background('secondary');
    }
    &.range-start {
      &::before {
        left: 50%;
      }
    }
    &.range-end {
      &::before {
        right: 50%;
      }
    }

    &.range-start,
    &.range-end {
      .date-item {
        border-color: color('primary-dark', $lightness: -5%);
        @include background('primary-dark');
        @include color('light');
      }
    }

    .date-item {
      @include color('primary');
    }
  }

  // Calendars size
  &.calendar-lg {
    .calendar-body {
      padding: 0;

      .calendar-date {
        display: flex;
        flex-direction: column;
        height: 5.5rem;
        padding: 0;
        @include border($side: 'right');
        @include border($side: 'bottom');

        &:nth-child(7n) {
          border-right: 0;
        }
        &:nth-last-child(-n + 7) {
          border-bottom: 0;
        }
      }
    }

    .date-item {
      align-self: flex-end;
      height: unit-var('7');
      @include margin-top(('layout-spacing', ('unit': true, 'suffix': 'sm')));
      @include margin-right(('layout-spacing', ('unit': true, 'suffix': 'sm')));
    }

    .calendar-range {
      &::before {
        top: 19px;
      }
      &.range-start {
        &::before {
          width: 19px;
          left: auto;
        }
      }
      &.range-end {
        &::before {
          right: 19px;
        }
      }
    }

    .calendar-events {
      flex-grow: 1;
      overflow-y: auto;
      @include padding(('layout-spacing', ('unit': true, 'suffix': 'sm')));
      line-height: 1;
    }

    .calendar-event {
      display: block;
      overflow: hidden;
      padding: 3px 4px;
      margin: unit-var('h') auto;
      border-radius: css-var('border-radius');
      font-size: css-var('font-size', $suffix: 'sm');
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
