@use 'variables' as *;

// Functions.
// @use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/border/border.mixin' as *;
@use 'mixins/color/color-picker.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;

// Cards
.card,
.#{$var-prefix}-card {
  // background: $bg-color-light; // old spectre.css
  // background: color('bg-color-light'); // old @angular-package/spectre.css
  @include background('bg-light');
  // border: $border-width solid $border-color; // old spectre.css
  // border: get-var('border-width') solid color('border-color'); // old @angular-package/spectre.css
  // border-radius: $border-radius; // old spectre.css
  // border-radius: get-var('border-radius'); // old @angular-package/spectre.css
  @include border();
  display: flex;
  flex-direction: column;

  .card-header,
  .card-body,
  .card-footer {
    // padding: $layout-spacing-lg; // old spectre.css
    // padding: get-var('layout-spacing', $suffix: 'lg', $unit: true); // old @angular-package/spectre.css
    @include padding(('layout-spacing', ('suffix': 'lg', 'unit': true)));
    padding-bottom: 0;

    &:last-child {
      // padding-bottom: $layout-spacing-lg; // old spectre.css
      // padding-bottom: get-var('layout-spacing', $suffix: 'lg', $unit: true); // old @angular-package/spectre.css
      @include padding-bottom(('layout-spacing', ('suffix': 'lg', 'unit': true)));
    }
  }

  .card-body {
    flex: 1 1 auto;
  }

  .card-image {
    // padding-top: $layout-spacing-lg; // old spectre.css
    // padding-top: get-var('layout-spacing', $suffix: 'lg', $unit: true); // old @angular-package/spectre.css
    @include padding-top(('layout-spacing', ('suffix': 'lg', 'unit': true)));

    &:first-child {
      padding-top: 0;

      img {
        // border-top-left-radius: $border-radius; // old spectre.css
        border-top-left-radius: get-var('border-radius');
        // border-top-right-radius: $border-radius; // old spectre.css
        border-top-right-radius: get-var('border-radius');
      }
    }

    &:last-child {
      img {
        // border-bottom-left-radius: $border-radius; // old spectre.css
        border-bottom-left-radius: get-var('border-radius');
        // border-bottom-right-radius: $border-radius; // old spectre.css
        border-bottom-right-radius: get-var('border-radius');
      }
    }
  }

  &.card-shadow {
    @include shadow-variant(0.1rem);
    border: 0;
  }
}

.card {
  // Color card.
  &.card-color {
    position: relative;
    flex-direction: column;
    justify-content: end;

    // Size.
    height: fit-content;
    padding: 5rem 0.5rem 0.75rem;

    // Animations.
    // @include transition(0.05s); // TODO: transition

    // Color name.
    .card-color-name {
      font-weight: 500;
    }

    .card-color-code {
      position: absolute;
      top: 0.25rem;
      right: 0.5rem;
      font-size: small;
    }

    // Color card picker.
    input[type='color'].card-color-picker {
      border-color: transparent;
      @include color-picker;
    }
  }
}
