// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/z-index.mixin' as *;
@use 'mixins/transition.mixin' as *;

// Carousels
// The number of carousel images
$carousel-number: 8;

%carousel-image-checked {
  animation: carousel-slidein 0.75s ease-in-out 1;
  opacity: 1;
  @include z-index('1');
}

%carousel-nav-checked {
  @include color('gray-light');
}

.#{$class-prefix}carousel {
  @include z-index('0');
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  @include background('bg');
  -webkit-overflow-scrolling: touch;

  .carousel-container {
    position: relative;
    height: 100%;
    left: 0;
    &::before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
    }

    .carousel-item {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      animation: carousel-slideout 1s ease-in-out 1;

      &:hover {
        .item-prev,
        .item-next {
          opacity: 1;
        }
      }
    }

    .item-prev,
    .item-next {
      @include z-index('1');
      position: absolute;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      border-color: color('gray-light', $alpha: 0.5);
      @include background('gray-light', $alpha: 0.25);
      @include color('gray-light');
      @include transition((all, 0.2s));
    }
    .item-prev {
      left: 1rem;
    }
    .item-next {
      right: 1rem;
    }
  }

  .carousel-locator {
    @for $i from 1 through ($carousel-number) {
      &:nth-of-type(#{$i}):checked ~ .carousel-container .carousel-item:nth-of-type(#{$i}) {
        @extend %carousel-image-checked;
      }
    }

    @for $i from 1 through ($carousel-number) {
      &:nth-of-type(#{$i}):checked ~ .carousel-nav .nav-item:nth-of-type(#{$i}) {
        @extend %carousel-nav-checked;
      }
    }
  }

  .carousel-nav {
    @include z-index('1');
    position: absolute;
    left: 50%;
    bottom: get-var('layout-spacing', $unit: true);
    display: flex;
    justify-content: center;
    width: 10rem;
    transform: translateX(-50%);

    .nav-item {
      position: relative;
      @include margin('unit-1');
      display: block;
      flex: 1 0 auto;
      max-width: 2.5rem;
      height: unit-var('8');
      @include color('gray-light', $alpha: 0.5);

      &::before {
        position: absolute;
        top: 0.5rem;
        content: '';
        display: block;
        width: 100%;
        height: unit-var('unit-h');
        background: currentColor;
      }
    }
  }
}

@keyframes carousel-slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes carousel-slideout {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
