// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/css-var.function' as *;

// Mixins.
@use 'borders/mixins/border.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color-picker.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *; // TODO: transition

// Cards
.#{$class-prefix}card {
  display: flex;
  flex-direction: column;
  @include border($radius: 'border-radius');
  @include background('bg-light');

  .card-header,
  .card-body,
  .card-footer {
    @include padding(('layout-spacing', ('suffix': 'lg', 'unit': true)));
    padding-bottom: 0;

    &:last-child {
      @include padding-bottom(('layout-spacing', ('suffix': 'lg', 'unit': true)));
    }
  }

  .card-body {
    flex: 1 1 auto;
  }

  .card-image {
    @include padding-top(('layout-spacing', ('suffix': 'lg', 'unit': true)));

    &:first-child {
      padding-top: 0;

      img {
        border-top-left-radius: css-var('border-radius');
        border-top-right-radius: css-var('border-radius');
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: css-var('border-radius');
        border-bottom-right-radius: css-var('border-radius');
      }
    }
  }

  // Color card.
  &.card-color {
    // Position.
    position: relative;

    // Display.
    flex-direction: column;
    justify-content: end;

    // Size.
    height: fit-content;
    padding: 5rem 0.5rem 0.75rem;

    // Animations.
    // @include transition(0.05s); // TODO: transition

    // Color name.
    .card-color-name {
      font-weight: 500;
    }

    .card-color-code {
      position: absolute;
      top: 0.25rem;
      right: 0.5rem;
      font-size: small;
    }

    // Color card picker.
    input[type='color'].card-color-picker {
      border-color: transparent;
      @include color-picker;
    }
  }

  &.card-shadow {
    border: 0;
    @include shadow-variant(0.1rem);
  }
}
