// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;

// Chips
.chip,
.#{$var-prefix}-chip {
  align-items: center;
  @include background('bg-dark');
  border-radius: 5rem;
  display: inline-flex;
  font-size: 90%;
  height: unit-var('6');
  line-height: unit-var('4');
  @include margin('unit-h');
  max-width: get-var('control-width', $suffix: 'sm');
  overflow: hidden;
  @include padding('unit-1', 'unit-2');
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &.active {
    @include background('primary');
    @include color('light');
  }

  .avatar {
    // TODO: margin-left mixin should work with the negative.
    margin-left: var-negative(get-var('unit-2')); // old @angular-package/spectre.css
    @include margin-right('unit-1');
  }

  .btn-clear {
    border-radius: 50%;
    transform: scale(.75);
  }
}
