// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/label' as *;

// Codes
code {
  @include label-base();
  @include color('code');

  @media (prefers-color-scheme: light) {
    @include background(('code', 42.5%));
  }

  @media (prefers-color-scheme: dark) {
    @include background(('code', -42.5%));
  }
  font-size: 85%;
}

.#{$class-prefix}code {
  position: relative;
  border-radius: get-var('border-radius');
  @include color('body-font');

  &::before {
    position: absolute;
    top: unit-var('h');
    right: get-var(('layout-spacing', true));
    content: attr(data-lang);
    @include color('gray');
    font-size: get-var('font-size', $suffix: 'sm');
  }

  code {
    display: block;
    overflow-x: auto;
    width: 100%;
    padding: 1rem;
    @include background('bg');
    color: inherit;
    line-height: 1.5;
  }
}
