// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/z-index.mixin' as *;

// Image comparison slider
// Credit: http://codepen.io/solipsistacp/pen/Gpmaq
.#{$class-prefix}comparison-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  -webkit-overflow-scrolling: touch;

  .comparison-before,
  .comparison-after {
    // Position.
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    // Display.
    overflow: hidden;

    // Size.
    height: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left center;
    }
  }

  .comparison-before {
    z-index: 1;
    width: 100%;

    .comparison-label {
      right: unit-var('4');
    }
  }

  .comparison-after {
    z-index: 2;
    max-width: 100%;
    min-width: 0;

    &::before {
      @include z-index('0');
      position: absolute;
      top: 0;
      right: unit-var('4');
      left: 0;
      content: '';
      cursor: default;
      height: 100%;
      background: transparent;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: unit-var('2');
      content: '';
      pointer-events: none;
      width: 3px;
      height: 3px;
      transform: translate(50%, -50%);
      border-radius: 50%;
      background: currentColor;
      @include color('light');
      box-shadow: 0 -5px, 0 5px;
    }

    .comparison-label {
      left: unit-var('4');
    }
  }

  .comparison-resizer {
    position: relative;
    top: 50%;
    left: 0;
    opacity: 0;
    cursor: ew-resize;
    resize: horizontal;
    max-width: 100%;
    min-width: unit-var('4');
    height: unit-var('4');
    width: 0;
    transform: translateY(-50%) scaleY(30);
    outline: none;
    animation: first-run 1.5s 1 ease-in-out;
  }

  .comparison-label {
    position: absolute;
    bottom: unit-var('4');
    user-select: none;
    @include padding('unit-1', 'unit-2');
    @include background('dark', $alpha: 0.5);
    @include color('light');
  }
}

@keyframes first-run {
  0% {
    width: 0;
  }
  25% {
    width: unit-var('12');
  }
  50% {
    width: unit-var('4');
  }
  75% {
    width: unit-var('6');
  }
  100% {
    width: 0;
  }
}
