// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/css-var.function' as *;

// Dropdown
.#{$class-prefix}dropdown {
  position: relative;
  display: inline-block;

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow-y: auto;
    max-height: 50vh;
    animation: slide-down .15s ease 1;
  }

  &.dropdown-right {
    .menu {
      left: auto;
      right: 0;
    }
  }

  &.active .menu,
  .dropdown-toggle:focus + .menu,
  .menu:hover {
    display: block;
  }

  // Fix dropdown-toggle border radius in button groups
  .btn-group {
    .dropdown-toggle:nth-last-child(2) {
      border-bottom-right-radius: css-var('border-radius');
      border-top-right-radius: css-var('border-radius');
    }
  }
}
