// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/border/border.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/background-color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// $transition: .2s;

// Forms
.form-group {
  &:not(:last-child) {
    @include margin-bottom(('layout-spacing', true));
  }
}

fieldset {
  @include margin-bottom(('layout-spacing', ('suffix': 'lg', unit: true)));
}

legend {
  font-size: get-var('font-size', $suffix: 'lg');
  font-weight: 500;
  @include margin-bottom(('layout-spacing', ('suffix': 'lg', unit: true)));
}

// Form element: Label
.form-label {
  display: block;
  line-height: get-var('line-height');
  padding: calc(get-var('control-padding-y') + get-var('border-width')) 0; // TODO: use adjust / update adjust to use CSS vars

  &.label-sm {
    font-size: get-var('font-size', $suffix: 'sm');
    padding: calc(get-var('control-padding-y', $suffix: 'sm') + get-var('border-width')) 0;
  }

  &.label-lg {
    font-size: get-var('font-size', $suffix: 'lg');
    padding: calc(get-var('control-padding-y', $suffix: 'lg') + get-var('border-width')) 0;
  }
}

// Form element: Input
.form-input {
  appearance: none;
  @include background('bg-light');
  background-image: none;
  @include border($color: 'border-dark');
  @include color('body-font');
  display: block;
  font-size: get-var('font-size');
  height: get-var('control-size');
  line-height: get-var('line-height');
  max-width: 100%;
  outline: none;
  @include padding('control-padding-y', 'control-padding-x');
  position: relative;
  @include transition(background, border, box-shadow, color);
  width: 100%;
  &:focus {
    @include control-shadow();
    border-color: color('primary');
  }
  &::placeholder {
    @include color('gray');
  }

  // Input sizes
  &.input-sm {
    font-size: get-var('font-size', $suffix: 'sm');
    height: get-var('control-size', $suffix: 'sm');
    @include padding('control-padding-y-sm', 'control-padding-x-sm');
  }

  &.input-lg {
    font-size: get-var('font-size', $suffix: 'lg');
    height: get-var('control-size', $suffix: 'lg');
    @include padding('control-padding-y-lg', 'control-padding-x-lg');
  }

  &.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  // Input types
  &[type="file"] {
    height: auto;
  }
}

// Form element: Textarea
textarea.form-input {
  &,
  &.input-lg,
  &.input-sm {
    height: auto;
  }
}

// Form element: Input hint
.form-input-hint {
  @include color('gray');
  font-size: get-var('font-size', $suffix: 'sm');
  @include margin-top('unit-1');

  .has-success &,
  .is-success + & {
    @include color('success');
  }

  .has-error &,
  .is-error + & {
    @include color('error');
  }
}

// Form element: Select
.form-select {
  appearance: none;
  @include border($color: 'border-dark');
  border-radius: get-var('border-radius');
  color: inherit;
  font-size: get-var('font-size');
  height: get-var('control-size');
  line-height: get-var('line-height');
  outline: none;
  @include padding('control-padding-y', 'control-padding-x');
  vertical-align: middle;
  width: 100%;
  @include background('bg-light');
  &:focus {
    @include control-shadow();
    border-color: color('primary');
  }
  &::-ms-expand {
    display: none;
  }

  // Select sizes
  &.select-sm {
    font-size: get-var('font-size', $suffix: 'sm');
    height: get-var('control-size', $suffix: 'sm');
    padding: get-var('control-padding-y', $suffix: 'sm') calc(get-var('control-icon-size') + get-var('control-padding-x', $suffix: 'sm')) get-var('control-padding-y', $suffix: 'sm') get-var('control-padding-x', $suffix: 'sm'); // TODO: Use the padding mixin
  }

  &.select-lg {
    font-size: get-var('font-size', $suffix: 'lg');
    height: get-var('control-size', $suffix: 'lg');
    padding: get-var('control-padding-y', $suffix: 'lg') calc(get-var('control-icon-size') + get-var('control-padding-x', $suffix: 'lg')) get-var('control-padding-y', $suffix: 'lg') get-var('control-padding-x', $suffix: 'lg');
  }

  // Multiple select
  &[size],
  &[multiple] {
    height: auto;
    @include padding('control-padding-y', 'control-padding-x');

    option {
      @include padding('unit-h', 'unit-1');
    }
  }
  &:not([multiple]):not([size]) {
    background: color('bg-color-light') url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.35rem center / 0.4rem 0.5rem;
    padding-right: calc(get-var('control-icon-size') + get-var('control-padding-x')); // TODO: Use the padding mixin
  }
}

// Form Icons
.has-icon-left,
.has-icon-right {
  position: relative;

  .form-icon {
    height: get-var('control-icon-size');
    @include margin('unit-0', 'control-padding-y');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: get-var('control-icon-size');
    @include z-index('0', 1);
  }
}

.has-icon-left {
  .form-icon {
    left: get-var('border-width');
  }

  .form-input {
    padding-left: calc(get-var('control-icon-size') + get-var('control-padding-y') * 2); // TODO: Use the padding mixin
  }
}

.has-icon-right {
  .form-icon {
    right: get-var('border-width');
  }

  .form-input {
    padding-right: calc(get-var('control-icon-size') + get-var('control-padding-y') * 2); // TODO: Use the padding mixin
  }
}

// Form element: Checkbox and Radio
.form-checkbox,
.form-radio,
.form-switch {
  display: block;
  line-height: get-var('line-height');
  margin: calc((get-var('control-size') - get-var('control-size', $suffix: 'sm')) * 0.5) 0;
  min-height: get-var('control-size', $suffix: 'sm');
  padding: calc((get-var('control-size', $suffix: 'sm') - get-var('line-height')) / 2) get-var('control-padding-x') calc((get-var('control-size', $suffix: 'sm') - get-var('line-height')) / 2) calc(get-var('control-icon-size') + get-var('control-padding-x')); // old spectre.css
  position: relative;

  input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    &:focus + .form-icon {
      @include control-shadow();
      border-color: ('primary');
    }
    &:checked + .form-icon {
      @include background('primary');
      border-color: color('primary');
    }
  }

  .form-icon {
    @include border($color: 'border-dark');
    cursor: pointer;
    display: inline-block;
    position: absolute;
    @include transition(background, border, box-shadow, color);
  }

  // Input checkbox, radio and switch sizes
  &.input-sm {
    font-size: get-var('font-size', $suffix: 'sm');
    margin: 0;
  }

  &.input-lg {
    font-size: get-var('font-size', $suffix: 'lg');
    margin: calc((get-var('control-size', $suffix: 'lg') - get-var('control-size', $suffix: 'sm')) / 2) 0;
  }
}

.form-checkbox,
.form-radio {
  .form-icon {
    @include background('bg-light');
    height: get-var('control-icon-size');
    left: 0;
    top: calc((get-var('control-size', $suffix: 'sm') - get-var('control-icon-size')) / 2); // TODO: Use the var-adjust.
    width: get-var('control-icon-size');
  }

  input {
    &:active + .form-icon {
      @include background('bg-dark');
    }
  }
}
.form-checkbox {
  .form-icon {
    border-radius: get-var('border-radius');
  }

  input {
    &:checked + .form-icon {
      &::before {
        background-clip: padding-box;
        @include border('lg', $color: 'light');
        border-left-width: 0;
        border-top-width: 0;
        content: "";
        height: 9px;
        left: 50%;
        margin-left: -3px;
        margin-top: -6px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 6px;
      }
    }
    &:indeterminate + .form-icon {
      @include background('primary');
      border-color: color('primary');
      &::before {
        @include background('bg-light');
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        width: 10px;
      }
    }
  }
}
.form-radio {
  .form-icon {
    border-radius: 50%;
  }

  input {
    &:checked + .form-icon {
      &::before {
        @include background('bg-light');
        border-radius: 50%;
        content: "";
        height: 6px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
      }
    }
  }
}

// Form element: Switch
.form-switch {
  padding-left: calc(get-var('unit-8') + get-var('control-padding-x')); // TODO: Use the padding mixin

  .form-icon {
    @include background('gray');
    background-clip: padding-box;
    border-radius: calc(unit-var('2') + get-var('border-width'));
    height: calc(unit-var('4') + get-var('border-width') * 2);
    left: 0;
    top: calc((get-var('control-size', $suffix: 'sm') - unit-var('4')) / 2 - get-var('border-width'));
    width: unit-var('8');
    &::before {
      @include background('bg-light');
      border-radius: 50%;
      content: "";
      display: block;
      height: unit-var('4');
      left: 0;
      position: absolute;
      top: 0;
      @include transition(background, border, box-shadow, color, left);
      width: unit-var('4');
    }
  }

  input {
    &:checked + .form-icon {
      &::before {
        left: 14px;
      }
    }
    &:active + .form-icon {
      &::before {
        @include background('bg');
      }
    }
  }
}

// Form element: Input groups
.input-group {
  display: flex;

  .input-group-addon {
    @include background('bg');
    @include border($color: 'border-dark');
    border-radius: get-var('border-radius');
    line-height: get-var('line-height');
    @include padding('control-padding-y', 'control-padding-x');

    white-space: nowrap;

    &.addon-sm {
      font-size: get-var('font-size', $suffix: 'sm');
      @include padding('control-padding-y-sm', 'control-padding-x-sm');
    }

    &.addon-lg {
      font-size: get-var('font-size', $suffix: 'lg');
      @include padding('control-padding-y-lg', 'control-padding-x-lg');
    }
  }

  .form-input,
  .form-select {
    flex: 1 1 auto;
    width: 1%;
  }

  .input-group-btn {
    @include z-index('0');
  }

  .form-input,
  .form-select,
  .input-group-addon,
  .input-group-btn {
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: var-negative(get-var('border-width'));
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: var-negative(get-var('border-width'));
    }
    &:focus {
      @include z-index('0', 1);
    }
  }

  .form-select {
    width: auto;
  }

  &.input-inline {
    display: inline-flex;
  }
}

// Form validation states
.form-input,
.form-select {
  .has-success &,
  &.is-success {
    @include background('success', $lightness: +53%);
    border-color: color('success');
    &:focus {
      @include control-shadow('success');
    }
  }

  .has-error &,
  &.is-error {
    @include background('error', $lightness: +53%);
    border-color: color('error');
    &:focus {
      @include control-shadow('error');
    }
  }
}

.form-checkbox,
.form-radio,
.form-switch {
  .has-error &,
  &.is-error {
    .form-icon {
      border-color: color('error');
    }

    input {
      &:checked + .form-icon {
        @include background('error');
        border-color: color('error');
      }

      &:focus + .form-icon {
        @include control-shadow('error');
        border-color: color('error');
      }
    }
  }
}

.form-checkbox {
  .has-error &,
  &.is-error {
    input {
      &:indeterminate + .form-icon {
        @include background('error');
        border-color: color('error');
      }
    }
  }
}

// validation based on :placeholder-shown (Edge doesn't support it yet)
.form-input {
  &:not(:placeholder-shown) {
    &:invalid {
      border-color: color('error');
      &:focus {
        @include control-shadow('error');
        @include background('error', $lightness: +53%);
      }

      & + .form-input-hint {
        @include color('error');
      }
    }
  }
}

// Form disabled and readonly
.form-input,
.form-select {
  &:disabled,
  &.disabled {
    @include background-color('disabled');
    cursor: not-allowed;
    opacity: .5;
  }
}

.form-input {
  &[readonly] {
    @include background-color('bg');
  }
}

input {
  &:disabled,
  &.disabled {
    & + .form-icon {
      @include background-color('disabled');
      cursor: not-allowed;
      opacity: .5;
    }
  }
}

.form-switch {
  input {
    &:disabled,
    &.disabled {
      & + .form-icon::before {
        @include background-color('disabled');
      }
    }
  }
}

// Form horizontal
.form-horizontal {
  @include padding(('layout-spacing', true), 'unit-0');

  .form-group {
    display: flex;
    flex-wrap: wrap;
  }
}

// Form inline
.form-inline {
  display: inline-block;
}
