// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/border/border' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/background-color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// $transition: .2s;

// Forms
.form-group {
  &:not(:last-child) {
    // margin-bottom: $layout-spacing; // old spectre.css
    // margin-bottom: get-var('layout-spacing', $unit: true); // @angular-package/spectre.css
    @include margin-bottom(('layout-spacing', true));
  }
}

fieldset {
  // margin-bottom: $layout-spacing-lg; // old spectre.css
  // margin-bottom: get-var('layout-spacing', $suffix: 'lg', $unit: true); // @angular-package/spectre.css
  @include margin-bottom(('layout-spacing', ('suffix': 'lg', unit: true)));
}

legend {
  // font-size: $font-size-lg; // old spectre.css
  font-size: get-var('font-size', $suffix: 'lg');
  font-weight: 500;
  // margin-bottom: $layout-spacing-lg; // old spectre.css
  // margin-bottom: get-var('layout-spacing', $suffix: 'lg', $unit: true); // @angular-package/spectre.css
  @include margin-bottom(('layout-spacing', ('suffix': 'lg', unit: true)));
}

// Form element: Label
.form-label {
  display: block;
  // line-height: $line-height; // old spectre.css
  line-height: get-var('line-height');
  // padding: $control-padding-y + $border-width 0; // old spectre.css
  padding: calc(get-var('control-padding-y') + get-var('border-width')) 0;

  &.label-sm {
    // font-size: $font-size-sm; // old spectre.css
    font-size: get-var('font-size', $suffix: 'sm');
    // padding: $control-padding-y-sm + $border-width 0; // old spectre.css
    padding: calc(get-var('control-padding-y', $suffix: 'sm') + get-var('border-width')) 0;
  }

  &.label-lg {
    // font-size: $font-size-lg; // old spectre.css
    font-size: get-var('font-size', $suffix: 'lg');
    // padding: $control-padding-y-lg + $border-width 0; // old spectre.css
    padding: calc(get-var('control-padding-y', $suffix: 'lg') + get-var('border-width')) 0;
  }
}

// Form element: Input
.form-input {
  appearance: none;
  // background: $bg-color-light; // old spectre.css
  // background: color('bg-color-light'); // @angular-package/spectre.css
  @include background('bg-light');
  background-image: none;
  // border: $border-width solid $border-color-dark; // old spectre.css
  // border: get-var('border-width') solid color('border-color-dark'); // @angular-package/spectre.css
  // border-radius: $border-radius; // old spectre.css
  // border-radius: get-var('border-radius');
  @include border($color: 'border-dark');
  // color: $body-font-color; // old spectre.css
  // color: color('body-font-color'); // @angular-package/spectre.css
  @include color('body-font');
  display: block;
  // font-size: $font-size; // old spectre.css
  font-size: get-var('font-size');
  // height: $control-size; // old spectre.css
  height: get-var('control-size');
  // line-height: $line-height; // old spectre.css
  line-height: get-var('line-height');
  max-width: 100%;
  outline: none;
  // padding: $control-padding-y $control-padding-x; // old spectre.css
  // padding: get-var('control-padding-y') get-var('control-padding-x'); // @angular-package/spectre.css
  @include padding('control-padding-y', 'control-padding-x');
  position: relative;
  // transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s; // old spectre.css
  // transition: background get-var('transition-duration'),
  //   border get-var('transition-duration'),
  //   box-shadow get-var('transition-duration'),
  //   color get-var('transition-duration');
  @include transition(background, border, box-shadow, color);
  width: 100%;
  &:focus {
    @include control-shadow();
    // border-color: $primary-color; // old spectre.css
    // border-color: color('primary-color'); // @angular-package/spectre.css
    border-color: color('primary');
  }
  &::placeholder {
    // color: $gray-color; // old spectre.css
    // color: color('gray-color'); // @angular-package/spectre.css
    @include color('gray');
  }

  // Input sizes
  &.input-sm {
    // font-size: $font-size-sm; // old spectre.css
    font-size: get-var('font-size', $suffix: 'sm');
    // height: $control-size-sm; // old spectre.css
    height: get-var('control-size', $suffix: 'sm');
    // padding: $control-padding-y-sm $control-padding-x-sm; // old spectre.css
    // padding: get-var('control-padding-y', $suffix: 'sm') get-var('control-padding-x', $suffix: 'sm'); // @angular-package/spectre.css
    @include padding('control-padding-y-sm', 'control-padding-x-sm');
  }

  &.input-lg {
    // font-size: $font-size-lg; // old spectre.css
    font-size: get-var('font-size', $suffix: 'lg');
    // height: $control-size-lg; // old spectre.css
    height: get-var('control-size', $suffix: 'lg');
    // padding: $control-padding-y-lg $control-padding-x-lg; // old spectre.css
    // padding: get-var('control-padding-y', $suffix: 'lg') get-var('control-padding-x', $suffix: 'lg'); // @angular-package/spectre.css
    @include padding('control-padding-y-lg', 'control-padding-x-lg');
  }

  &.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  // Input types
  &[type="file"] {
    height: auto;
  }
}

// Form element: Textarea
textarea.form-input {
  &,
  &.input-lg,
  &.input-sm {
    height: auto;
  }
}

// Form element: Input hint
.form-input-hint {
  // color: $gray-color; // old spectre.css
  // color: color('gray-color'); // @angular-package/spectre.css
  @include color('gray');
  // font-size: $font-size-sm; // old spectre.css
  font-size: get-var('font-size', $suffix: 'sm');
  // margin-top: $unit-1; // old spectre.css
  // margin-top: get-var('unit-1'); // @angular-package/spectre.css
  @include margin-top('unit-1');

  .has-success &,
  .is-success + & {
    // color: $success-color; // old spectre.css
    // color: color('success-color'); // @angular-package/spectre.css
    @include color('success');
  }

  .has-error &,
  .is-error + & {
    // color: $error-color; // old spectre.css
    // color: color('error-color'); // @angular-package/spectre.css
    @include color('error');
  }
}

// Form element: Select
.form-select {
  appearance: none;
  // border: $border-width solid $border-color-dark; // old spectre.css
  // border: get-var('border-width') solid color('border-color-dark'); // @angular-package/spectre.css
  @include border($color: 'border-dark');
  // border-radius: $border-radius; // old spectre.css
  border-radius: get-var('border-radius');
  color: inherit;
  // font-size: $font-size; // old spectre.css
  font-size: get-var('font-size');
  // height: $control-size; // old spectre.css
  height: get-var('control-size');
  // line-height: $line-height; // old spectre.css
  line-height: get-var('line-height');
  outline: none;
  // padding: $control-padding-y $control-padding-x; // old spectre.css
  // padding: get-var('control-padding-y') get-var('control-padding-x'); // @angular-package/spectre.css
  @include padding('control-padding-y', 'control-padding-x');
  vertical-align: middle;
  width: 100%;
  // background: $bg-color-light; // old spectre.css
  // background: color('bg-color-light'); // @angular-package/spectre.css
  @include background('bg-light');
  &:focus {
    @include control-shadow();
    // border-color: $primary-color; // old spectre.css
    // border-color: color('primary-color'); // @angular-package/spectre.css
    border-color: color('primary');
  }
  &::-ms-expand {
    display: none;
  }

  // Select sizes
  &.select-sm {
    // font-size: $font-size-sm; // old spectre.css
    font-size: get-var('font-size', $suffix: 'sm');
    // height: $control-size-sm; // old spectre.css
    height: get-var('control-size', $suffix: 'sm');
    // padding: $control-padding-y-sm ($control-icon-size + $control-padding-x-sm) $control-padding-y-sm $control-padding-x-sm; // old spectre.css
    padding: get-var('control-padding-y', $suffix: 'sm') calc(get-var('control-icon-size') + get-var('control-padding-x', $suffix: 'sm')) get-var('control-padding-y', $suffix: 'sm') get-var('control-padding-x', $suffix: 'sm');
  }

  &.select-lg {
    // font-size: $font-size-lg; // old spectre.css
    font-size: get-var('font-size', $suffix: 'lg');
    // height: $control-size-lg; // old spectre.css
    height: get-var('control-size', $suffix: 'lg');
    // padding: $control-padding-y-lg ($control-icon-size + $control-padding-x-lg) $control-padding-y-lg $control-padding-x-lg; // old spectre.css
    padding: get-var('control-padding-y', $suffix: 'lg') calc(get-var('control-icon-size') + get-var('control-padding-x', $suffix: 'lg')) get-var('control-padding-y', $suffix: 'lg') get-var('control-padding-x', $suffix: 'lg');
  }

  // Multiple select
  &[size],
  &[multiple] {
    height: auto;
    // padding: $control-padding-y $control-padding-x; // old spectre.css
    // padding: get-var('control-padding-y') get-var('control-padding-x'); // @angular-package/spectre.css
    @include padding('control-padding-y', 'control-padding-x');

    option {
      // padding: $unit-h $unit-1; // old spectre.css
      // padding: get-var('unit-h') get-var('unit-1'); // @angular-package/spectre.css
      @include padding('unit-h', 'unit-1');
    }
  }
  &:not([multiple]):not([size]) {
    // background: $bg-color-light url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center / .4rem .5rem; // old spectre.css
    background: color('bg-color-light') url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.35rem center / 0.4rem 0.5rem;
    // padding-right: $control-icon-size + $control-padding-x; // old spectre.css
    padding-right: calc(get-var('control-icon-size') + get-var('control-padding-x'));
  }
}

// Form Icons
.has-icon-left,
.has-icon-right {
  position: relative;

  .form-icon {
    // height: $control-icon-size; // old spectre.css
    height: get-var('control-icon-size');
    // margin: 0 $control-padding-y; // old spectre.css
    // margin: 0 get-var('control-padding-y'); // @angular-package/spectre.css
    @include margin('unit-0', 'control-padding-y');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // width: $control-icon-size; // old spectre.css
    width: get-var('control-icon-size');
    // z-index: $zindex-0 + 1; // old spectre.css
    // z-index: calc(get-var('z-index-0') + 1); // @angular-package/spectre.css
    @include z-index('0', 1);
  }
}

.has-icon-left {
  .form-icon {
    // left: $border-width; // old spectre.css
    left: get-var('border-width');
  }

  .form-input {
    // padding-left: $control-icon-size + $control-padding-y * 2; // old spectre.css
    padding-left: calc(get-var('control-icon-size') + get-var('control-padding-y') * 2);
  }
}

.has-icon-right {
  .form-icon {
    // right: $border-width; // old spectre.css
    right: get-var('border-width');
  }

  .form-input {
    // padding-right: $control-icon-size + $control-padding-y * 2; // old spectre.css
    padding-right: calc(get-var('control-icon-size') + get-var('control-padding-y') * 2);
  }
}

// Form element: Checkbox and Radio
.form-checkbox,
.form-radio,
.form-switch {
  display: block;
  // line-height: $line-height; // old spectre.css
  line-height: get-var('line-height');
  // margin: ($control-size - $control-size-sm) * 0.5 0; // old spectre.css
  margin: calc((get-var('control-size') - get-var('control-size', $suffix: 'sm')) * 0.5) 0;
  // min-height: $control-size-sm; // old spectre.css
  min-height: get-var('control-size', $suffix: 'sm');
  // padding: (($control-size-sm - $line-height) / 2) $control-padding-x (($control-size-sm - $line-height) / 2) ($control-icon-size + $control-padding-x); // old spectre.css
  padding: calc((get-var('control-size', $suffix: 'sm') - get-var('line-height')) / 2) get-var('control-padding-x') calc((get-var('control-size', $suffix: 'sm') - get-var('line-height')) / 2) calc(get-var('control-icon-size') + get-var('control-padding-x')); // old spectre.css
  position: relative;

  input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    &:focus + .form-icon {
      @include control-shadow();
      // border-color: $primary-color; // old spectre.css
      // border-color: color('primary-color'); // @angular-package/spectre.css
      border-color: ('primary');
    }
    &:checked + .form-icon {
      // background: $primary-color; // old spectre.css
      // background: color('primary-color'); // @angular-package/spectre.css
      @include background('primary');
      // border-color: $primary-color; // old spectre.css
      // border-color: color('primary-color'); // @angular-package/spectre.css
      border-color: color('primary');
    }
  }

  .form-icon {
    // border: $border-width solid $border-color-dark; // old spectre.css
    // border: get-var('border-width') solid color('border-color-dark'); // @angular-package/spectre.css
    @include border($color: 'border-dark');
    cursor: pointer;
    display: inline-block;
    position: absolute;
    // transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s; // old spectre.css
    // transition: background get-var('transition-duration'),
    //   border get-var('transition-duration'),
    //   box-shadow get-var('transition-duration'),
    //   color get-var('transition-duration');
    @include transition(background, border, box-shadow, color);
  }

  // Input checkbox, radio and switch sizes
  &.input-sm {
    // font-size: $font-size-sm; // old spectre.css
    font-size: get-var('font-size', $suffix: 'sm');
    margin: 0;
  }

  &.input-lg {
    // font-size: $font-size-lg; // old spectre.css
    font-size: get-var('font-size', $suffix: 'lg');
    // margin: ($control-size-lg - $control-size-sm) / 2 0; // old spectre.css
    margin: calc((get-var('control-size', $suffix: 'lg') - get-var('control-size', $suffix: 'sm')) / 2) 0;
  }
}

.form-checkbox,
.form-radio {
  .form-icon {
    // background: $bg-color-light; // old spectre.css
    // background: color('bg-color-light'); // @angular-package/spectre.css
    @include background('bg-light');
    // height: $control-icon-size; // old spectre.css
    height: get-var('control-icon-size');
    left: 0;
    // top: ($control-size-sm - $control-icon-size) / 2; // old spectre.css
    top: calc((get-var('control-size', $suffix: 'sm') - get-var('control-icon-size')) / 2);
    // width: $control-icon-size; // old spectre.css
    width: get-var('control-icon-size');
  }

  input {
    &:active + .form-icon {
      // background: $bg-color-dark; // old spectre.css
      // background: color('bg-color-dark'); // @angular-package/spectre.css
      @include background('bg-dark');
    }
  }
}
.form-checkbox {
  .form-icon {
    // border-radius: $border-radius; // old spectre.css
    border-radius: get-var('border-radius');
  }

  input {
    &:checked + .form-icon {
      &::before {
        background-clip: padding-box;
        // border: $border-width-lg solid $light-color; // old spectre.css
        // border: get-var('border-width', $suffix: 'lg') solid color('light-color'); // @angular-package/spectre.css
        @include border('lg', $color: 'light');
        border-left-width: 0;
        border-top-width: 0;
        content: "";
        height: 9px;
        left: 50%;
        margin-left: -3px;
        margin-top: -6px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 6px;
      }
    }
    &:indeterminate + .form-icon {
      // background: $primary-color; // old spectre.css
      // background: color('primary-color'); // @angular-package/spectre.css
      @include background('primary');
      // border-color: $primary-color; // old spectre.css
      // border-color: color('primary-color'); // @angular-package/spectre.css
      border-color: color('primary');
      &::before {
        // background: $bg-color-light; // old spectre.css
        // background: color('bg-color-light'); // @angular-package/spectre.css
        @include background('bg-light');
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        width: 10px;
      }
    }
  }
}
.form-radio {
  .form-icon {
    border-radius: 50%;
  }

  input {
    &:checked + .form-icon {
      &::before {
        // background: $bg-color-light; // old spectre.css
        // background: color('bg-color-light'); // @angular-package/spectre.css
        @include background('bg-light');
        border-radius: 50%;
        content: "";
        height: 6px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
      }
    }
  }
}

// Form element: Switch
.form-switch {
  // padding-left: ($unit-8 + $control-padding-x); // old spectre.css
  padding-left: calc(get-var('unit-8') + get-var('control-padding-x'));

  .form-icon {
    // background: $gray-color; // old spectre.css
    // background: color('gray-color'); // @angular-package/spectre.css
    @include background('gray');
    background-clip: padding-box;
    // border-radius: $unit-2 + $border-width; // old spectre.css
    // border-radius: calc(get-var('unit-2') + get-var('border-width')); // @angular-package/spectre.css
    border-radius: calc(unit-var('2') + get-var('border-width'));
    // height: $unit-4 + $border-width * 2; // old spectre.css
    // height: calc(get-var('unit-4') + get-var('border-width') * 2); // @angular-package/spectre.css
    height: calc(unit-var('4') + get-var('border-width') * 2);
    left: 0;
    // top: ($control-size-sm - $unit-4) / 2 - $border-width; // old spectre.css
    // top: calc((get-var('control-size', $suffix: 'sm') - get-var('unit-4')) / 2 - get-var('border-width')); // @angular-package/spectre.css
    top: calc((get-var('control-size', $suffix: 'sm') - unit-var('4')) / 2 - get-var('border-width'));
    // width: $unit-8; // old spectre.css
    // width: get-var('unit-8'); // @angular-package/spectre.css
    width: unit-var('8');
    &::before {
      // background: $bg-color-light; // old spectre.css
      // background: color('bg-color-light'); // @angular-package/spectre.css
      @include background('bg-light');
      border-radius: 50%;
      content: "";
      display: block;
      // height: $unit-4; // old spectre.css
      // height: get-var('unit-4'); // @angular-package/spectre.css
      height: unit-var('4');
      left: 0;
      position: absolute;
      top: 0;
      // transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s, left 0.2s; // old spectre.css
      // transition: background get-var('transition-duration'),
      //   border get-var('transition-duration'),
      //   box-shadow get-var('transition-duration'),
      //   color get-var('transition-duration'),
      //   left get-var('transition-duration');
      @include transition(background, border, box-shadow, color, left);
      // width: $unit-4; // old spectre.css
      // width: get-var('unit-4'); // @angular-package/spectre.css
      width: unit-var('4');
    }
  }

  input {
    &:checked + .form-icon {
      &::before {
        left: 14px;
      }
    }
    &:active + .form-icon {
      &::before {
        // background: $bg-color; // old spectre.css
        // background: color('bg-color'); // old @angular-package/spectre.css
        @include background('bg');
      }
    }
  }
}

// Form element: Input groups
.input-group {
  display: flex;

  .input-group-addon {
    // background: $bg-color; // old spectre.css
    // background: color('bg-color'); // old @angular-package/spectre.css
    @include background('bg');
    // border: $border-width solid $border-color-dark; // old spectre.css
    // border: get-var('border-width') solid color('border-color-dark'); // old @angular-package/spectre.css
    @include border($color: 'border-dark');
    // border-radius: $border-radius; // old spectre.css
    border-radius: get-var('border-radius');
    // line-height: $line-height; // old spectre.css
    line-height: get-var('line-height');
    // padding: $control-padding-y $control-padding-x; // old spectre.css
    // padding: get-var('control-padding-y') get-var('control-padding-x'); // old @angular-package/spectre.css
    @include padding('control-padding-y', 'control-padding-x');

    white-space: nowrap;

    &.addon-sm {
      // font-size: $font-size-sm; // old spectre.css
      font-size: get-var('font-size', $suffix: 'sm');
      // padding: $control-padding-y-sm $control-padding-x-sm; // old spectre.css
      // padding: get-var('control-padding-y', $suffix: 'sm') get-var('control-padding-x', $suffix: 'sm'); // old @angular-package/spectre.css
      @include padding('control-padding-y-sm', 'control-padding-x-sm');
    }

    &.addon-lg {
      // font-size: $font-size-lg; // old spectre.css
      font-size: get-var('font-size', $suffix: 'lg');
      // padding: $control-padding-y-lg $control-padding-x-lg; // old spectre.css
      // padding: get-var('control-padding-y', $suffix: 'lg') get-var('control-padding-x', $suffix: 'lg'); // old @angular-package/spectre.css
      @include padding('control-padding-y-lg', 'control-padding-x-lg');
    }
  }

  .form-input,
  .form-select {
    flex: 1 1 auto;
    width: 1%;
  }

  .input-group-btn {
    // z-index: $zindex-0; // old spectre.css
    // z-index: get-var('z-index-0'); // old @angular-package/spectre.css
    @include z-index('0');
  }

  .form-input,
  .form-select,
  .input-group-addon,
  .input-group-btn {
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      // margin-left: -$border-width; // old spectre.css
      margin-left: var-negative(get-var('border-width'));
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      // margin-left: -$border-width; // old spectre.css
      margin-left: var-negative(get-var('border-width'));
    }
    &:focus {
      // z-index: $zindex-0 + 1; // old spectre.css
      // z-index: calc(get-var('z-index-0') + 1); // old @angular-package/spectre.css
      @include z-index('0', 1);
    }
  }

  .form-select {
    width: auto;
  }

  &.input-inline {
    display: inline-flex;
  }
}

// Form validation states
.form-input,
.form-select {
  .has-success &,
  &.is-success {
    // background: lighten($success-color, 53%); // old spectre.css
    // background: color('success-color', $lightness: +53%); // old @angular-package/spectre.css
    @include background('success', $lightness: +53%);
    // border-color: $success-color; // old spectre.css
    // border-color: color('success-color'); // old @angular-package/spectre.css
    border-color: color('success');
    &:focus {
      // @include control-shadow($success-color); // old spectre.css
      // @include control-shadow('success-color'); // old @angular-package/spectre.css
      @include control-shadow('success');
    }
  }

  .has-error &,
  &.is-error {
    // background: lighten($error-color, 53%); // old spectre.css
    // background: color('error-color', $lightness: +53%); // old @angular-package/spectre.css
    @include background('error', $lightness: +53%);
    // border-color: $error-color; // old spectre.css
    // border-color: color('error-color'); // old @angular-package/spectre.css
    border-color: color('error');
    &:focus {
      // @include control-shadow($error-color); // old spectre.css
      // @include control-shadow('error-color'); // old @angular-package/spectre.css
      @include control-shadow('error');
    }
  }
}

.form-checkbox,
.form-radio,
.form-switch {
  .has-error &,
  &.is-error {
    .form-icon {
      // border-color: $error-color; // old spectre.css
      // border-color: color('error-color'); // old @angular-package/spectre.css
      border-color: color('error');
    }

    input {
      &:checked + .form-icon {
        // background: $error-color; // old spectre.css
        // background: color('error-color'); // old @angular-package/spectre.css
        @include background('error');
        // border-color: $error-color; // old spectre.css
        // border-color: color('error-color'); // old @angular-package/spectre.css
        border-color: color('error');
      }

      &:focus + .form-icon {
        // @include control-shadow($error-color); // old spectre.css
        // @include control-shadow('error-color'); // old @angular-package/spectre.css
        @include control-shadow('error');
        // border-color: $error-color; // old spectre.css
        // border-color: color('error-color'); // old @angular-package/spectre.css
        border-color: color('error');
      }
    }
  }
}

.form-checkbox {
  .has-error &,
  &.is-error {
    input {
      &:indeterminate + .form-icon {
        // background: $error-color; // old spectre.css
        // background: color('error-color'); // old @angular-package/spectre.css
        @include background('error');
        // border-color: $error-color; // old spectre.css
        // border-color: color('error-color'); // old @angular-package/spectre.css
        border-color: color('error');
      }
    }
  }
}

// validation based on :placeholder-shown (Edge doesn't support it yet)
.form-input {
  &:not(:placeholder-shown) {
    &:invalid {
      // border-color: $error-color; // old spectre.css
      // border-color: color('error-color'); // old @angular-package/spectre.css
      border-color: color('error');
      &:focus {
        // @include control-shadow($error-color); // old spectre.css
        // @include control-shadow('error-color'); // old @angular-package/spectre.css
        @include control-shadow('error');
        // background: lighten($error-color, 53%); // old spectre.css
        // background: color('error-color', $lightness: +53%); // old @angular-package/spectre.css
        @include background('error', $lightness: +53%);
      }

      & + .form-input-hint {
        // color: $error-color; // old spectre.css
        // color: color('error-color'); // old @angular-package/spectre.css
        @include color('error');
      }
    }
  }
}

// Form disabled and readonly
.form-input,
.form-select {
  &:disabled,
  &.disabled {
    // background-color: $bg-color-dark; // old spectre.css
    // background-color: color('bg-color-dark');
    // background-color: color('disabled-color'); // old @angular-package/spectre.css
    @include background-color('disabled');
    cursor: not-allowed;
    opacity: .5;
  }
}

.form-input {
  &[readonly] {
    // background-color: $bg-color; // old spectre.css
    // background-color: color('bg-color'); // old @angular-package/spectre.css
    @include background-color('bg');
  }
}

input {
  &:disabled,
  &.disabled {
    & + .form-icon {
      // background: $bg-color-dark; // old spectre.css
      // background: color('bg-color-dark');
      // background-color: color('disabled-color'); // old @angular-package/spectre.css
      @include background-color('disabled');
      cursor: not-allowed;
      opacity: .5;
    }
  }
}

.form-switch {
  input {
    &:disabled,
    &.disabled {
      & + .form-icon::before {
        // background: $bg-color-light; // old spectre.css
        // background: color('bg-color-light');
        // background-color: color('disabled-color'); // old @angular-package/spectre.css
        @include background-color('disabled');
      }
    }
  }
}

// Form horizontal
.form-horizontal {
  // padding: $layout-spacing 0; // old spectre.css
  // padding: get-var('layout-spacing', $unit: true) 0; // old @angular-package/spectre.css
  @include padding(('layout-spacing', true), 'unit-0');

  .form-group {
    display: flex;
    flex-wrap: wrap;
  }
}

// Form inline
.form-inline {
  display: inline-block;
}
