@use 'functions' as *;
@use 'mixins/label' as *;
@use 'variables' as *;

// Labels
.label, .#{$var-prefix}-label {
  @include label-base();
  // @include label-variant(lighten($body-font-color, 5%), $bg-color-dark); // old spectre.css
  // @include label--variant(color('body-font-color', $lightness: +5%), color('bg-color-dark')); // old @angular-package/spectre.css
  @include label-variant(('body-font-color', +5%), 'bg-color-dark');

  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  // Label color variants.
  // - Core colors.
  // -- Accent.
  // &.label-accent { @include label-variant('light-color', 'accent-color'); } // old @angular-package/spectre.css
  @include label-class-variant('accent', 'light-color', 'accent-color');
  // &.label-primary {
    // @include label-variant($light-color, $primary-color); // old spectre.css
    // @include label-variant('light-color', 'primary-color'); // old @angular-package/spectre.css
  // }

  // -- Primary.
  @include label-class-variant('primary', 'light-color', 'primary-color');
  @include label-class-variant('primary-dark', 'light-color', 'primary-color-dark'); // ! New label color variant.
  @include label-class-variant('primary-light', 'light-color', 'primary-color-light'); // ! New label color variant.

  // -- Secondary.
  // &.label-secondary {
    // @include label-variant($primary-color, $secondary-color); // old spectre.css
    // @include label-variant('primary-color', 'secondary-color'); // old @angular-package/spectre.css
  // }
  @include label-class-variant('secondary', 'primary-color', 'secondary-color');
  @include label-class-variant('secondary-dark', 'primary-color', 'secondary-color-dark'); // ! New label color variant.
  @include label-class-variant('secondary-light', 'primary-color', 'secondary-color-light'); // ! New label color variant.

  // - Shades.
  // &.label-dark { @include label-variant('light-color', 'dark-color'); } // old @angular-package/spectre.css
  @include label-class-variant('dark', 'light-color', 'dark-color');
  // &.label-light { @include label-variant('dark-color', 'light-color'); } // old @angular-package/spectre.css
  @include label-class-variant('light', 'body-font-color', 'light-color');

  // - Gray colors.
  @include label-class-variant('gray', 'gray-color-dark', 'gray-color'); // ! New label color variant.
  @include label-class-variant('gray-dark', 'gray-color-light', 'gray-color-dark'); // ! New label color variant.
  @include label-class-variant('gray-light', 'gray-color-dark', 'gray-color-light'); // ! New label color variant.

  // - Link colors.
  @include label-class-variant('link', 'link-color-light', 'link-color'); // ! New label color variant.
  @include label-class-variant('link-dark', 'link-color-light', 'link-color-dark'); // ! New label color variant.
  @include label-class-variant('link-light', 'link-color-dark', 'link-color-light'); // ! New label color variant.

  // - Body colors.
  @include label-class-variant('body-bg', 'body-font-color', 'body-bg-color'); // ! New label color variant.

  // - Bg colors.
  @include label-class-variant('bg', 'body-font-color', 'bg-color'); // ! New label color variant.
  @include label-class-variant('bg-dark', 'body-font-color', 'bg-color-dark'); // ! New label color variant.
  @include label-class-variant('bg-light', 'body-font-color', 'bg-color-light'); // ! New label color variant.

  // - Control colors.
  // &.label-disabled {
    // background-color: color('disabled-color'); // old @angular-package/spectre.css
    // color: color('disabled-color', $lightness: -10%);
  // }
  // @include label-class-variant('disabled', 'disabled-color', 'disabled-color'); // old @angular-package/spectre.css
  @include label-class-variant('disabled', ('disabled-color', -10%), 'disabled-color');

  // &.label-error {
    // @include label-variant($light-color, $error-color); // old spectre.css
    // @include label-variant('light-color', 'error-color'); // old @angular-package/spectre.css
  // }
  @include label-class-variant('error', 'light-color', 'error-color');
  @include label-class-variant('info', ('info-color', -60%), 'info-color');

  // &.label-success {
    // @include label-variant($light-color, $success-color); // old spectre.css
    // @include label-variant('light-color', 'success-color'); // old @angular-package/spectre.css
  // }
  @include label-class-variant('success', 'light-color', 'success-color');
  // &.label-warning {
    // @include label-variant($light-color, $warning-color); // old spectre.css
    // @include label-variant('light-color', 'warning-color'); // old @angular-package/spectre.css
  // }
  @include label-class-variant('warning', 'light-color', 'warning-color');

  // - Other colors.
  @include label-class-variant('code', 'light-color', 'code-color'); // ! New label color variant.
  @include label-class-variant('highlight', ('highlight-color', -50%), 'highlight-color'); // ! New label color variant.
}
