@use 'functions' as *;
@use 'mixins/label' as *;
@use 'variables' as *;

// Labels
.label {
  @include label-base();
  // @include label-variant(lighten($body-font-color, 5%), $bg-color-dark); // old spectre.css
  @include label--variant(color('body-font-color', $lightness: +5%), color('bg-color-dark'));
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  // Label colors
  &.label-accent {
    @include label-variant('light-color', 'accent-color');
  }

  &.label-dark {
    @include label-variant('light-color', 'dark-color');
  }

  &.label-light {
    @include label-variant('dark-color', 'light-color');
  }

  &.label-primary {
    // @include label-variant($light-color, $primary-color); // old spectre.css
    @include label-variant('light-color', 'primary-color');
  }

  &.label-secondary {
    // @include label-variant($primary-color, $secondary-color); // old spectre.css
    @include label-variant('primary-color', 'secondary-color');
  }

  // Control colors
  &.label-disabled {
    background-color: color('disabled-color');
    color: color('disabled-color', $lightness: -10%);
  }

  &.label-error {
    // @include label-variant($light-color, $error-color); // old spectre.css
    @include label-variant('light-color', 'error-color');
  }

  // New color.
  &.label-info {
    background-color: color('info-color');
    color: color('info-color', $lightness: -60%);
  }

  &.label-success {
    // @include label-variant($light-color, $success-color); // old spectre.css
    @include label-variant('light-color', 'success-color');
  }

  &.label-warning {
    // @include label-variant($light-color, $warning-color); // old spectre.css
    @include label-variant('light-color', 'warning-color');
  }
}
