// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// Menus
.menu,
.#{$var-prefix}-menu {
  @include shadow-variant(0.05rem);
  // @include background('bg-light'); // ! Removed background.
  border-radius: get-var('border-radius');
  list-style: none;
  margin: 0;
  min-width: get-var('control-width', $suffix: 'xs');
  @include padding('unit-2');
  transform: translateY(get-var('layout-spacing', $suffix: 'sm', $unit: true));
  @include z-index('3');

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  .menu-item {
    margin-top: 0;
    @include padding('unit-0', 'unit-2');
    position: relative;
    text-decoration: none;

    & > a {
      border-radius: get-var('border-radius');
      color: inherit;
      display: block;
      margin: 0 var-negative(get-var('unit-2')); // TODO: Include margin with the negative
      @include padding('unit-1', 'unit-2');
      text-decoration: none;
      &:focus,
      &:hover {
        // Dark theme.
        @media (prefers-color-scheme: dark) {
          @include background('secondary-light');
          @include color('body-font-color');
        }

        // Light theme.
        @media (prefers-color-scheme: light) {
          @include background('secondary');
          @include color('primary');
        }
      }
      &:active,
      &.active {
        @include background('secondary');
        @include color('primary');
      }
      // Transition.
      @include transition(background, color, box-shadow);
    }

    .form-checkbox,
    .form-radio,
    .form-switch {
      @include margin('unit-h', 'unit-0');
    }

    & + .menu-item {
      @include margin-top('unit-1');
    }
  }

  .menu-badge {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .label {
      @include margin-right('unit-2');
    }
  }
}
