// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/z-index.mixin' as *;

// Modals
.#{$class-prefix}modal {
  // Position.
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Display.
  opacity: 0;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  // Size.
  @include padding(('layout-spacing', true));

  &:target,
  &.active {
    @include z-index('4');
    opacity: 1;
    display: flex;

    .modal-overlay {
      // Position.
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      // Display.
      display: block;
      cursor: default;

      @include background('bg', $alpha: 0.75); // TODO: Check.
    }

    .modal-container {
      @include z-index('0');
      animation: slide-down 0.2s ease 1;
    }
  }

  &.modal-sm {
    .modal-container {
      max-width: get-var('control-width', $suffix: 'sm');
      @include padding('unit-0', 'unit-2');
    }
  }

  &.modal-lg {
    .modal-overlay {
      @include background('bg-light');
    }

    .modal-container {
      max-width: get-var('control-width', $suffix: 'lg');
      box-shadow: none;
    }
  }
}

.modal-container {
  // Display.
  display: flex;
  flex-direction: column;

  // Size.
  width: 100%;
  max-width: get-var('control-width', $suffix: 'md');
  max-height: 75vh;
  @include padding('unit-0', 'unit-4');

  border-radius: get-var('border-radius');
  @include background('bg-light');
  @include shadow-variant(0.2rem);

  &.modal-fullheight {
    max-height: 100vh;
  }

  .modal-header {
    @include padding('unit-4');
    @include color('dark');
  }

  .modal-body {
    position: relative;
    overflow-y: auto;
    @include padding('unit-4');
  }

  .modal-footer {
    @include padding('unit-4');
    text-align: right;
  }
}
