// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/z-index.mixin' as *;

// Modals
.modal,
.#{$var-prefix}-modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  @include padding(('layout-spacing', true));
  position: fixed;
  right: 0;
  top: 0;

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    @include z-index('4');

    .modal-overlay {
      @include background('bg', $alpha: 0.75); // TODO: Check.
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-container {
      animation: slide-down 0.2s ease 1;
      @include z-index('0');
    }
  }

  &.modal-sm {
    .modal-container {
      max-width: get-var('control-width', $suffix: 'sm');
      @include padding('unit-0', 'unit-2');
    }
  }

  &.modal-lg {
    .modal-overlay {
      @include background('bg-light');
    }

    .modal-container {
      box-shadow: none;
      max-width: get-var('control-width', $suffix: 'lg');
    }
  }
}

.modal-container {
  @include shadow-variant(0.2rem);
  @include background('bg-light');
  border-radius: get-var('border-radius');
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  max-width: get-var('control-width', $suffix: 'md');
  @include padding('unit-0', 'unit-4');
  width: 100%;

  &.modal-fullheight {
    max-height: 100vh;
  }

  .modal-header {
    @include color('dark');
    @include padding('unit-4');
  }

  .modal-body {
    overflow-y: auto;
    @include padding('unit-4');
    position: relative;
  }

  .modal-footer {
    @include padding('unit-4');
    text-align: right;
  }
}
