// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Navbar
.#{$class-prefix}navbar {
  // Display.
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  .navbar-section {
    display: flex;
    flex: 1 0 0;
    align-items: center;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }
  }

  .navbar-center {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  .navbar-brand {
    font-size: get-var('font-size', $suffix: 'lg');
    text-decoration: none;
  }
}
