// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;

// Navs
.nav,
.#{$var-prefix}-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  @include margin('unit-1', 'unit-0');

  .nav-item {
    a {
      @include color('gray-dark');
      @include padding('unit-1', 'unit-2');
      text-decoration: none;
      &:focus,
      &:hover {
        @include color('primary');
      }
    }
    &.active {
      & > a {
        @include color('gray-dark', $lightness: -10%);
        font-weight: bold;
        &:focus,
        &:hover {
          @include color('primary');
        }
      }
    }
  }

  & .nav {
    @include margin-bottom('unit-2');
    @include margin-left('unit-4');
  }
}
