@use 'variables' as *;

// Functions.
// @use 'functions/get-var' as *; // @angular-package/spectre.css

// Mixins.
@use 'mixins/border/border' as *;
@use 'mixins/border/border-hover' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/transition.mixin' as *;

// Pagination
.pagination,
.#{$var-prefix}-pagination {
  display: flex;
  list-style: none;
  // margin: $unit-1 0; // old spectre.css
  // margin: get-var('unit-1') 0; // old @angular-package/spectre.css
  @include margin('unit-1', 'unit-0');
  // padding: $unit-1 0; // old spectre.css
  // padding: get-var('unit-1') 0; // old @angular-package/spectre.css
  @include padding('unit-1', 'unit-0');

  // Pagination border.
  &.pagination-border {
    > li.page-item {
      a {
        width: 100%;
        @include border();
        @include border-hover($color: 'primary');
        @include transition((border, 0.2s));
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .page-item {
    // margin: $unit-1 $unit-o; // old spectre.css
    // margin: get-var('unit-1') get-var('unit-o'); // old @angular-package/spectre.css
    @include margin('unit-1', 'unit-o');

    span {
      display: inline-block;
      // padding: $unit-1 $unit-1; // old spectre.css
      // padding: get-var('unit-1') get-var('unit-1'); // old @angular-package/spectre.css
      @include padding('unit-1', 'unit-1');
    }

    a {
      // border-radius: $border-radius; // old spectre.css
      border-radius: get-var('border-radius');
      display: inline-block;
      // padding: $unit-1 $unit-2; // old spectre.css
      // padding: get-var('unit-1') get-var('unit-2'); // old @angular-package/spectre.css
      @include padding('unit-1', 'unit-2');
      text-decoration: none;
      &:focus,
      &:hover {
        // color: $primary-color; // old spectre.css
        // color: color('primary-color'); // old @angular-package/spectre.css
        @include color('primary'); // color code used.
      }
    }

    &.disabled {
      a {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.active {
      a {
        // background: $primary-color; // old spectre.css
        // background: color('primary-color'); // old @angular-package/spectre.css
        @include background('primary');
        // color: $light-color; // old spectre.css
        // color: color('light-color'); // old @angular-package/spectre.css
        @include color('light');
      }
    }

    &.page-prev,
    &.page-next {
      flex: 1 0 50%;
    }

    &.page-next {
      text-align: right;
    }

    .page-item-title {
      margin: 0;
    }

    .page-item-subtitle {
      margin: 0;
      opacity: 0.5;
    }
  }
}
