// Variables.
@use 'variables/core' as *;

// Mixins.
@use 'mixins/border/border.mixin' as *;
@use 'mixins/padding.mixins' as *;

// Panels
.#{$class-prefix}panel {
  // Display.
  display: flex;
  flex-direction: column;

  // Border.
  @include border($radius: 'border-radius');

  .panel-header,
  .panel-footer {
    flex: 0 0 auto;
    @include padding(('layout-spacing', ('suffix': 'lg', 'unit': true)));
  }

  .panel-nav {
    flex: 0 0 auto;
  }

  .panel-body {
    flex: 1 1 auto;
    overflow-y: auto;
    @include padding('unit-0', ('layout-spacing', ('suffix': 'lg', 'unit': true)));
  }
}
