// Variables.
@use 'variables' as *;

// Mixins.
@use 'mixins/border/border.mixin' as *;
@use 'mixins/padding.mixins' as *;

// Panels
.panel,
.#{$var-prefix}-panel {
  @include border();
  display: flex;
  flex-direction: column;

  .panel-header,
  .panel-footer {
    flex: 0 0 auto;
    @include padding(('layout-spacing', ('suffix': 'lg', 'unit': true)));
  }

  .panel-nav {
    flex: 0 0 auto;
  }

  .panel-body {
    flex: 1 1 auto;
    overflow-y: auto;
    @include padding('unit-0', ('layout-spacing', ('suffix': 'lg', 'unit': true)));
  }
}
