// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/padding.mixins' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// Popovers
.#{$class-prefix}popover {
  position: relative;
  display: inline-block;

  .popover-container {
    // Position.
    @include z-index('3');
    position: absolute;
    top: 0;
    left: 50%;

    // Display.
    opacity: 0;

    // Size.
    width: get-var('control-width', $suffix: 'sm');
    @include padding(('layout-spacing', true));

    transform: translate(-50%, -50%) scale(0);
    @include transition(transform);
  }

  *:focus + .popover-container,
  &:hover .popover-container {
    opacity: 1;
    display: block;
    transform: translate(-50%, -100%) scale(1);
  }

  &.popover-right {
    .popover-container {
      top: 50%;
      left: 100%;
    }

    *:focus + .popover-container,
    &:hover .popover-container {
      transform: translate(0, -50%) scale(1);
    }
  }

  &.popover-bottom {
    .popover-container {
      top: 100%;
      left: 50%;
    }

    *:focus + .popover-container,
    &:hover .popover-container {
      transform: translate(-50%, 0) scale(1);
    }
  }

  &.popover-left {
    .popover-container {
      top: 50%;
      left: 0;
    }

    *:focus + .popover-container,
    &:hover .popover-container {
      transform: translate(-100%, -50%) scale(1);
    }
  }

  .card {
    border: 0;
    @include shadow-variant(0.2rem);
  }
}
