// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;

// Progress
// Credit: https://css-tricks.com/html5-progress-element/
.progress,
.#{$var-prefix}-progress {
  appearance: none;
  @include background('bg-dark');
  border: 0;
  border-radius: get-var('border-radius');
  @include color('primary');
  height: unit-var('1');
  position: relative;
  width: 100%;

  &::-webkit-progress-bar {
    background: transparent;
    border-radius: get-var('border-radius');
  }

  &::-webkit-progress-value {
    @include background('primary');
    border-radius: get-var('border-radius');
  }

  &::-moz-progress-bar {
    @include background('primary');
    border-radius: get-var('border-radius');
  }

  &:indeterminate {
    animation: progress-indeterminate 1.5s linear infinite;
    // TODO: Gradient.
    background: color('bg-dark') linear-gradient(to right, color('primary') 30%, color('bg-dark') 30%) top left / 150% 150% no-repeat;

    &::-moz-progress-bar {
      background: transparent;
    }
  }
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
