// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;

// Sliders
// Credit: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
.slider,
.#{$var-prefix}-slider {
  appearance: none;
  background: transparent;
  display: block;
  width: 100%;
  height: unit-var('6'); // old @angular-package/spectre.css

  &:focus {
    @include control-shadow();
    outline: none;
  }

  &.tooltip:not([data-tooltip]) {
    &::after {
      content: attr(value);
    }
  }

  // Slider Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include background('primary');
    border: 0;
    border-radius: 50%;
    height: unit-var('3');
    margin-top: calc(var-negative(unit-var('3') - unit-var('h')) / 2);
    @include transition(transform);
    width: unit-var('3');
  }
  &::-moz-range-thumb {
    @include background('primary');
    border: 0;
    border-radius: 50%;
    height: unit-var('3');
    @include transition(transform);
    width: unit-var('3');
  }
  &::-ms-thumb {
    @include background('primary');
    border: 0;
    border-radius: 50%;
    height: unit-var('3');
    @include transition(transform);
    width: unit-var('3');
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }
    &::-moz-range-thumb {
      transform: scale(1.25);
    }
    &::-ms-thumb {
      transform: scale(1.25);
    }
  }

  &:disabled,
  &.disabled {
    &::-webkit-slider-thumb {
      @include background('gray-light');

      transform: scale(1);
    }
    &::-moz-range-thumb {
      @include background('gray-light');
      transform: scale(1);
    }
    &::-ms-thumb {
      @include background('gray-light');
      transform: scale(1);
    }
  }

  // Slider Track
  &::-webkit-slider-runnable-track {
    @include background('bg-dark');
    border-radius: get-var('border-radius');
    height: unit-var('h');
    width: 100%;
  }
  &::-moz-range-track {
    @include background('bg-dark');
    border-radius: get-var('border-radius');
    height: unit-var('h');
    width: 100%;
  }
  &::-ms-track {
    @include background('bg-dark');
    border-radius: get-var('border-radius');
    height: unit-var('h');
    width: 100%;
  }
  &::-ms-fill-lower {
    @include background('primary');
  }
}
