// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/css-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;

// Sliders
// Credit: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
.#{$class-prefix}slider {
  // Display.
  appearance: none;
  display: block;

  // Size.
  width: 100%;
  height: unit-var('6'); // old @angular-package/spectre.css

  background: transparent;

  &:focus {
    outline: none;
    @include control-shadow();
  }

  &.tooltip:not([data-tooltip]) {
    &::after {
      content: attr(value);
    }
  }

  // Slider Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;

    // Size.
    width: unit-var('3');
    height: unit-var('3');

    // Position.
    margin-top: calc(var-negative(unit-var('3') - unit-var('h')) / 2);

    // Border.
    border: 0;
    border-radius: 50%;

    @include background('primary');
    @include transition(transform);
  }
  &::-moz-range-thumb {
    // Size.
    width: unit-var('3');
    height: unit-var('3');

    // Border.
    border: 0;
    border-radius: 50%;

    @include background('primary');
    @include transition(transform);
  }
  &::-ms-thumb {
    // Size.
    width: unit-var('3');
    height: unit-var('3');

    // Border.
    border: 0;
    border-radius: 50%;

    @include background('primary');
    @include transition(transform);
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }
    &::-moz-range-thumb {
      transform: scale(1.25);
    }
    &::-ms-thumb {
      transform: scale(1.25);
    }
  }

  &:disabled,
  &.disabled {
    &::-webkit-slider-thumb {
      @include background('gray-light');
      transform: scale(1);
    }
    &::-moz-range-thumb {
      @include background('gray-light');
      transform: scale(1);
    }
    &::-ms-thumb {
      @include background('gray-light');
      transform: scale(1);
    }
  }

  // Slider Track
  &::-webkit-slider-runnable-track {
    // Size.
    width: 100%;
    height: unit-var('h');

    border-radius: css-var('border-radius');
    @include background('bg-dark');
  }
  &::-moz-range-track {
    // Size.
    width: 100%;
    height: unit-var('h');

    // Border.
    border-radius: css-var('border-radius');
    @include background('bg-dark');
  }
  &::-ms-track {
    // Size.
    width: 100%;
    height: unit-var('h');

    // Border.
    border-radius: css-var('border-radius');
    @include background('bg-dark');
  }
  &::-ms-fill-lower {
    @include background('primary');
  }
}
