@use 'variables' as *;

// Functions.
// @use 'functions/color/color.function' as *; // @angular-package/spectre.css
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/shadow' as *;
@use 'mixins/transition.mixin' as *;

// Sliders
// Credit: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
.slider,
.#{$var-prefix}-slider {
  appearance: none;
  background: transparent;
  display: block;
  width: 100%;
  // height: $unit-6; // old spectre.css
  height: unit-var('6'); // old @angular-package/spectre.css

  &:focus {
    @include control-shadow();
    outline: none;
  }

  &.tooltip:not([data-tooltip]) {
    &::after {
      content: attr(value);
    }
  }

  // Slider Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    // background: $primary-color; // old spectre.css
    // background: color('primary-color'); // @angular-package/spectre.css
    @include background('primary');
    border: 0;
    border-radius: 50%;
    // height: $unit-3; // old spectre.css
    // height: get-var('unit-3'); // @angular-package/spectre.css
    height: unit-var('3');
    // margin-top: -($unit-3 - $unit-h) / 2; // old spectre.css
    // margin-top: calc(var-negative(get-var('unit-3') - get-var('unit-h')) / 2); // old @angular-package/spectre.css
    margin-top: calc(var-negative(unit-var('3') - unit-var('h')) / 2);
    // transition: transform 0.2s; // old spectre.css
    // transition: transform get-var('transition-duration'); // @angular-package/spectre.css
    @include transition(transform);
    // width: $unit-3; // old spectre.css
    // width: get-var('unit-3'); // @angular-package/spectre.css
    width: unit-var('3');
  }
  &::-moz-range-thumb {
    // background: $primary-color; // old spectre.css
    // background: color('primary-color'); // @angular-package/spectre.css
    @include background('primary');
    border: 0;
    border-radius: 50%;
    // height: $unit-3; // old spectre.css
    // height: get-var('unit-3'); // @angular-package/spectre.css
    height: unit-var('3');
    // transition: transform 0.2s; // old spectre.css
    // transition: transform get-var('transition-duration'); // @angular-package/spectre.css
    @include transition(transform);
    // width: $unit-3; // old spectre.css
    // width: get-var('unit-3'); // @angular-package/spectre.css
    width: unit-var('3');
  }
  &::-ms-thumb {
    // background: $primary-color; // old spectre.css
    // background: color('primary-color'); // @angular-package/spectre.css
    @include background('primary');
    border: 0;
    border-radius: 50%;
    // height: $unit-3; // old spectre.css
    // height: get-var('unit-3'); // @angular-package/spectre.css
    height: unit-var('3');
    // transition: transform 0.2s; // old spectre.css
    // transition: transform get-var('transition-duration'); // @angular-package/spectre.css
    @include transition(transform);
    // width: $unit-3; // old spectre.css
    // width: get-var('unit-3'); // @angular-package/spectre.css
    width: unit-var('3');
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }
    &::-moz-range-thumb {
      transform: scale(1.25);
    }
    &::-ms-thumb {
      transform: scale(1.25);
    }
  }

  &:disabled,
  &.disabled {
    &::-webkit-slider-thumb {
      // background: $gray-color-light; // old spectre.css
      // background: color('gray-color-light'); // @angular-package/spectre.css
      @include background('gray-light');

      transform: scale(1);
    }
    &::-moz-range-thumb {
      // background: $gray-color-light; // old spectre.css
      // background: color('gray-color-light'); // @angular-package/spectre.css
      @include background('gray-light');
      transform: scale(1);
    }
    &::-ms-thumb {
      // background: $gray-color-light; // old spectre.css
      // background: color('gray-color-light'); // @angular-package/spectre.css
      @include background('gray-light');
      transform: scale(1);
    }
  }

  // Slider Track
  &::-webkit-slider-runnable-track {
    // background: $bg-color-dark; // old spectre.css
    // background: color('bg-color-dark'); // @angular-package/spectre.css
    @include background('bg-dark');
    // border-radius: $border-radius; // old spectre.css
    border-radius: get-var('border-radius');
    // height: $unit-h; // old spectre.css
    // height: get-var('unit-h'); // @angular-package/spectre.css
    height: unit-var('h');
    width: 100%;
  }
  &::-moz-range-track {
    // background: $bg-color-dark; // old spectre.css
    // background: color('bg-color-dark'); // @angular-package/spectre.css
    @include background('bg-dark');
    // border-radius: $border-radius; // old spectre.css
    border-radius: get-var('border-radius');
    // height: $unit-h; // old spectre.css
    // height: get-var('unit-h'); // @angular-package/spectre.css
    height: unit-var('h');
    width: 100%;
  }
  &::-ms-track {
    // background: $bg-color-dark; // old spectre.css
    // background: color('bg-color-dark'); // @angular-package/spectre.css
    @include background('bg-dark');
    // border-radius: $border-radius; // old spectre.css
    border-radius: get-var('border-radius');
    // height: $unit-h; // old spectre.css
    // height: get-var('unit-h'); // @angular-package/spectre.css
    height: unit-var('h');
    width: 100%;
  }
  &::-ms-fill-lower {
    // background: $primary-color; // old spectre.css
    // background: color('primary-color'); // @angular-package/spectre.css
    @include background('primary');
  }
}
