@use 'variables' as *;

// Functions.
// @use 'functions/color' as *; // @angular-package/spectre.css
@use 'functions/get-var' as *;
@use 'functions/get-var-unit.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/border/border' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/z-index.mixin' as *;

// Steps
.step,
.#{$var-prefix}-step {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  // margin: $unit-1 0; // old spectre.css
  // margin: get-var('unit-1') 0; // old @angular-package/spectre.css
  @include margin('unit-1', 'unit-0');
  width: 100%;

  .step-item {
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    text-align: center;
    position: relative;

    &:not(:first-child)::before {
      // background: $primary-color; // old spectre.css
      // background: color('primary-color'); // old @angular-package/spectre.css
      @include background('primary');
      content: '';
      height: 2px;
      left: -50%;
      position: absolute;
      top: 9px;
      width: 100%;
    }

    a {
      // color: $primary-color; // old spectre.css
      // color: color('primary-color'); // old @angular-package/spectre.css
      @include color('primary');
      display: inline-block;
      padding: 20px 10px 0;
      text-decoration: none;

      &::before {
        border-radius: 50%;

        // background: $primary-color; // old spectre.css
        // background: color('primary-color'); // old @angular-package/spectre.css
        @include background('primary');
        // border: $border-width-lg solid $light-color; // old spectre.css
        // border: get-var('border-width', $suffix: 'lg') solid color('light-color'); // old @angular-package/spectre.css
        @include border('lg', solid, 'light', false);

        content: '';
        display: block;
        // height: $unit-3; // old spectre.css
        // height: get-var('unit-3'); // old @angular-package/spectre.css
        height: get-var-unit('3');
        left: 50%;
        position: absolute;
        // top: $unit-1; // old spectre.css
        // top: get-var('unit-1'); // old @angular-package/spectre.css
        top: get-var-unit('1');
        transform: translateX(-50%);
        // width: $unit-3; // old spectre.css
        // width: get-var('unit-3'); // old @angular-package/spectre.css
        width: get-var-unit('3');
        // z-index: $zindex-0; // old spectre.css
        // z-index: get-var('z-index-0'); // old @angular-package/spectre.css
        @include z-index('0');
      }
    }

    &.active {
      a {
        &::before {
          // background: $light-color; // old spectre.css
          // background: color('light-color'); // old @angular-package/spectre.css
          @include background('light');
          // border: $border-width-lg solid $primary-color; // old spectre.css
          // border: get-var('border-width', $suffix: 'lg') solid color('primary-color'); // old @angular-package/spectre.css
          @include border('lg', solid, 'primary', false);
        }
      }

      & ~ .step-item {
        &::before {
          // background: $border-color; // old spectre.css
          // background: color('border-color'); // old @angular-package/spectre.css
          @include background('border');
        }

        a {
          // color: $gray-color; // old spectre.css
          // color: color('gray-color'); // old @angular-package/spectre.css
          @include color('gray');

          &::before {
            // background: $border-color; // old spectre.css
            // background: color('border-color'); // old @angular-package/spectre.css
            @include background('border');
          }
        }
      }
    }
  }
}
