@use 'variables' as *;

// Functions.
@use 'functions/get-var' as *;

// Mixins.
@use 'mixins/border/border' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/padding.mixins' as *;

// Tables
.table,
.#{$var-prefix}-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  @if $rtl == true {
    text-align: right;
  } @else {
    text-align: left;
  }

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        // background: $bg-color; // old spectre.css
        // background: color('bg-color'); // old @angular-package/spectre.css
        @include background('bg');
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          // background: $bg-color-dark; // old spectre.css
          // background: color('bg-color-dark'); // old @angular-package/spectre.css
          @include background('bg-dark');
        }
      }
    }
  }

  &.table-hover {
    tbody {
      tr {
        &:hover {
          // background: $bg-color-dark; // old spectre.css
          // background: color('bg-color-dark'); // old @angular-package/spectre.css
          @include background('bg-dark');
        }
      }
    }
  }

  // Scollable tables
  &.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: 0.75rem;
    white-space: nowrap;
  }

  thead > tr > th,
  tbody > tr > td,
  tbody > tr > th {
    // border-bottom: $border-width solid $border-color; // old spectre.css
    // border-bottom: get-var('border-width') solid color('border-color');
    @include border($side: bottom, $radius: false);
    // padding: $unit-3 $unit-2; // old spectre.css
    // padding: get-var('unit-3') get-var('unit-2'); // old @angular-package/spectre.css
    @include padding('unit-3', 'unit-2');
  }
  thead > tr > th {
    // border-bottom-width: $border-width-lg; // old spectre.css
    // border-bottom-width: get-var('border-width', $suffix: 'lg');
    @include border($side: bottom, $radius: false);
  }
  tbody > tr > th {
    a {
      @include color('body-font');
    }
    @include color('body-font');
    @include background('light');
    @include border($side: right);
  }
}
