// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/border/border.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/padding.mixins' as *;

// Tables
.#{$class-prefix}table {
  width: 100%;

  @if $rtl == true {
    text-align: right;
  } @else {
    text-align: left;
  }

  border-collapse: collapse;
  border-spacing: 0;

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        @include background('bg');
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          @include background('bg-dark');
        }
      }
    }
  }

  &.table-hover {
    tbody {
      tr {
        &:hover {
          @include background('bg-dark');
        }
      }
    }
  }

  // Scollable tables
  &.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: 0.75rem;
    white-space: nowrap;
  }

  thead > tr > th,
  tbody > tr > td,
  tbody > tr > th {
    @include padding('unit-3', 'unit-2');
    @include border($side: bottom);
  }
  thead > tr > th {
    @include border($side: bottom);
  }

  tbody {
    tr {
      th {
        a {
          @include color('body-font');
        }
        @include border($side: right);
        @include color('body-font');
      }

      &:last-child {
        td, th {
          border-bottom: none;
        }
      }
    }
  }
}
