// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/border/border.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/margin.mixins' as *;

// Tabs
.tab,
.#{$var-prefix}-tab {
  align-items: center;
  @include border($side: bottom);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: get-var('unit-1') 0 calc(get-var('unit-1') - get-var('border-width')) 0; // TODO: Use the margin

  .tab-item {
    margin-top: 0;
    a {
      border-bottom: get-var('border-width', $suffix: 'lg') solid transparent;
      color: inherit;
      display: block;
      @include margin('unit-0', 'unit-2', 'unit-0', 'unit-0');
      padding: get-var('unit-2') get-var('unit-1') calc(get-var('unit-2') - get-var('border-width', $suffix: 'lg')) get-var('unit-1');
      text-decoration: none;

      &:focus,
      &:hover {
        @include color('link');
      }
      // TODO: color focus.
      // @include color-focus('link');
      // @include color-hover('link');
    }
    &.active a,
    a.active {
      border-bottom-color: color('primary');
      @include color('link');
    }

    &.tab-action {
      flex: 1 0 auto;
      text-align: right;
    }

    .btn-clear {
      margin-top: var-negative(unit-var('1'));
    }
  }

  &.tab-block {
    .tab-item {
      flex: 1 0 0;
      text-align: center;

      a {
        margin: 0;
      }

      .badge {
        &[data-badge]::after {
          position: absolute;
          right: unit-var('h');
          top: unit-var('h');
          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.tab-block) {
    .badge {
      padding-right: 0;
    }
  }
}
