// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/class/class.function' as *;
@use 'functions/var/css-var.function' as *;

// Mixins.
@use 'mixins/padding.mixins' as *;
@use 'text/mixins/text-ellipsis.mixin' as *;

// Tiles
$tile-name: 'tile' !default;

// .#{$class-prefix}tile {
#{class($tile-name)} {
  // Display.
  display: flex;
  align-content: space-between;
  align-items: flex-start;

  // .tile-icon,
  // .tile-action {
  #{class(($tile-name, ('icon',), ('action',)))} {
    flex: 0 0 auto;
  }
  // .tile-content {
  #{class(($tile-name, 'content'))} {
    flex: 1 1 auto;
    &:not(:first-child) {
      @include padding-left(('unit', '2'));

    }
    &:not(:last-child) {
      @include padding-right(('unit', '2'));
    }
  }
  // .tile-title,
  // .tile-subtitle {
  #{class(($tile-name, ('title',), ('subtitle',)))} {
    line-height: css-var('line-height');
  }

  // &.tile-centered {
  #{class(('&', $tile-name, 'centered'))} {
    align-items: center;

    // .tile-content {
    #{class(($tile-name, 'content'))} {
      overflow: hidden;
    }

    // .tile-title,
    // .tile-subtitle {
    #{class(($tile-name, ('title',), ('subtitle',)))} {
      margin-bottom: 0;
      @include text-ellipsis();
    }
  }
}
