// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;

// Mixins.
@use 'mixins/padding.mixins' as *;
@use 'mixins/text.scss' as *;

// Tiles
.tile,
.#{$var-prefix}-tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;

  .tile-icon,
  .tile-action {
    flex: 0 0 auto;
  }
  .tile-content {
    flex: 1 1 auto;
    &:not(:first-child) {
      @include padding-left('unit-2');

    }
    &:not(:last-child) {
      @include padding-right('unit-2');
    }
  }
  .tile-title,
  .tile-subtitle {
    line-height: get-var('line-height');
  }

  &.tile-centered {
    align-items: center;

    .tile-content {
      overflow: hidden;
    }

    .tile-title,
    .tile-subtitle {
      @include text-ellipsis();
      margin-bottom: 0;
    }
  }
}
