// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'mixins/border/border.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/color/background.mixin' as *;
@use 'mixins/margin.mixins' as *;

// Timelines
.timeline,
.#{$var-prefix}-timeline {
  .timeline-item {
    display: flex;
    @include margin-bottom('unit-6');
    position: relative;
    &::before {
      @include background('border');
      content: '';
      height: 100%;
      left: 11px;
      position: absolute;
      top: unit-var('6');
      width: 2px;
    }

    .timeline-left {
      flex: 0 0 auto;
    }

    .timeline-content {
      flex: 1 1 auto;
      padding: 2px 0 2px get-var('layout-spacing', $suffix: 'lg');
    }

    .timeline-icon {
      align-items: center;
      border-radius: 50%;
      @include color('light');
      display: flex;
      height: unit-var('6');
      justify-content: center;
      text-align: center;
      width: unit-var('6');
      &::before {
        @include border('lg', solid, 'primary', false);
        border-radius: 50%;
        content: '';
        display: block;
        height: unit-var('2');
        left: unit-var('2');
        position: absolute;
        top: unit-var('2');
        width: unit-var('2');
      }

      &.icon-lg {
        @include background('primary');
        line-height: get-var('line-height');
        &::before {
          content: none;
        }
      }
    }
  }
}
