@use 'functions/color' as *;
@use 'functions/get-var' as *;
@use 'mixins/toast' as *;

// Toasts
.toast {
  // @include toast-variant($dark-color); // old spectre.css
  @include toast-variant($color: 'dark-color');

  // border: $border-width solid $dark-color; // old spectre.css
  border: get-var('border-width') solid color('dark-color');
  // border-radius: $border-radius; // old spectre.css
  border-radius: get-var('border-radius');
  // color: $light-color; // old spectre.css
  color: color('light-color');
  display: block;
  // padding: $layout-spacing; // old spectre.css
  padding: get-var('layout-spacing', $unit: 1);
  width: 100%;

  /*
    Toast color variants.
  */
  // Core colors.
  @include toast-class-variant($name: 'accent', $color: 'accent-color');
  @include toast-class-variant($name: 'light', $color: 'light-color');

  // Primary colors.
  @include toast-class-variant($name: 'primary', $color: 'primary-color');
  @include toast-class-variant($name: 'primary-dark', $color: 'primary-color-dark'); // ! New toast variant.
  @include toast-class-variant($name: 'primary-light', $color: 'primary-color-light'); // ! New toast variant.

  // Secondary colors.
  @include toast-class-variant($name: 'secondary', $color: 'secondary-color');
  @include toast-class-variant($name: 'secondary-dark', $color: 'secondary-color-dark'); // ! New toast variant.
  @include toast-class-variant($name: 'secondary-light', $color: 'secondary-color-light'); // ! New toast variant.

  // Body & bg colors.
  @include toast-class-variant($name: 'body-bg', $color: 'body-bg-color'); // ! New toast variant.
  @include toast-class-variant($name: 'bg', $color: 'bg-color'); // ! New toast variant.
  @include toast-class-variant($name: 'bg-dark', $color: 'bg-color-dark'); // ! New toast variant.
  @include toast-class-variant($name: 'bg-light', $color: 'bg-color-light'); // ! New toast variant.

  // Link colors.
  @include toast-class-variant($name: 'link', $color: 'link-color'); // ! New toast variant.
  @include toast-class-variant($name: 'link-dark', $color: 'link-color-dark'); // ! New toast variant.
  @include toast-class-variant($name: 'link-light', $color: 'link-color-light'); // ! New toast variant.

  // Gray colors.
  @include toast-class-variant($name: 'gray', $color: 'gray-color'); // ! New toast variant.
  @include toast-class-variant($name: 'gray-dark', $color: 'gray-color-dark'); // ! New toast variant.
  @include toast-class-variant($name: 'gray-light', $color: 'gray-color-light'); // ! New toast variant.

  // Control colors.
  @include toast-class-variant($name: 'disabled', $color: 'disabled-color');
  @include toast-class-variant($name: 'error', $color: 'error-color');
  @include toast-class-variant($name: 'info', $color: 'info-color');
  @include toast-class-variant($name: 'success', $color: 'success-color');
  @include toast-class-variant($name: 'warning', $color: 'warning-color');

  // Other colors.
  @include toast-class-variant($name: 'code', $color: 'code-color'); // ! New toast variant.
  @include toast-class-variant($name: 'highlight', $color: 'highlight-color'); // ! New toast variant.

  &.toast-disabled {
    color: color('disabled-color', $lightness: -10%);
  }

  &.toast-gray-light {
    color: color('gray-color-dark');
  }

  &.toast-info {
    color: color('info-color', $lightness: -60%);
  }

  &.toast-light {
    color: color('body-font-color');
  }

  &.toast-secondary {
    color: color('primary-color');
  }

  a {
    // color: $light-color; // old spectre.css
    color: color('light-color');
    text-decoration: underline;

    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: 0.75;
    }
  }

  .btn-clear {
    // margin: $unit-h; // old spectre.css
    margin: get-var('unit-h');
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
