// Variables.
@use 'variables/core' as *;

// Functions.
@use 'functions/is-scheme-dark.function' as *;
@use 'functions/is-scheme-light.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/disabled.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/transition.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// Tooltips
.#{$class-prefix}tooltip {
  position: relative;
  @include disabled(('.'));

  &::after {
    // Position.
    @include z-index('3');
    position: absolute;
    bottom: 100%;
    left: 50%;

    // Display.
    content: attr(data-tooltip);
    opacity: 0;
    display: block;
    pointer-events: none;
    overflow: hidden;

    // Size.
    max-width: get-var('control-width', $suffix: 'sm');
    @include padding('unit-1', 'unit-2');

    transform: translate(-50%, unit-var('2'));

    border-radius: get-var('border-radius');
    @if is-scheme-dark() == true {
      @media (prefers-color-scheme: dark) {
        @include background('dark', $alpha: 0.95);
        @include color('light');
      }
    }
    @if is-scheme-light() == true {
      @media (prefers-color-scheme: light) {
        @include background('dark', $alpha: 0.95);
        @include color('light');
      }
    }
    @if $color-scheme == normal {
      @include background('dark', $alpha: 0.95);
      @include color('light');
    }

    @include transition(opacity, transform);

    font-size: get-var('font-size', $suffix: 'sm');
    text-overflow: ellipsis;
    white-space: pre;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%, var-negative(unit-var('1')));
    }
  }

  // Directions.
  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: translate(var-negative(unit-var('1')), 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(unit-var('1'), 50%);
      }
    }
  }

  &.tooltip-bottom {
    &::after {
      top: 100%;
      bottom: auto;
      transform: translate(-50%, var-negative(unit-var('2')));
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, unit-var('1'));
      }
    }
  }

  &.tooltip-left {
    &::after {
      right: 100%;
      bottom: 50%;
      left: auto;
      transform: translate(unit-var('2'), 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(var-negative(unit-var('1')), 50%);
      }
    }
  }
}
