// Variables.
@use 'variables' as *;

// Functions.
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;
@use 'functions/var/var-negative.function' as *;

// Mixins.
@use 'mixins/color/background.mixin' as *;
@use 'mixins/color/color.mixin' as *;
@use 'mixins/padding.mixins' as *;
@use 'mixins/transition.mixin' as *;
@use 'mixins/z-index.mixin' as *;

// Tooltips
.tooltip,
.#{$var-prefix}-tooltip {
  position: relative;
  &::after {
    @include background('dark', $alpha: 0.95);
    border-radius: get-var('border-radius');
    bottom: 100%;
    @include color('light');
    content: attr(data-tooltip);
    display: block;
    font-size: get-var('font-size', $suffix: 'sm');
    left: 50%;
    max-width: get-var('control-width', $suffix: 'sm');
    opacity: 0;
    overflow: hidden;
    @include padding('unit-1', 'unit-2');
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, unit-var('2'));
    @include transition(opacity, transform);
    white-space: pre;
    @include z-index('3');
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%, var-negative(unit-var('1')));
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: translate(var-negative(unit-var('1')), 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(unit-var('1'), 50%);
      }
    }
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, var-negative(unit-var('2')));
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, unit-var('1'));
      }
    }
  }

  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: translate(unit-var('2'), 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(var-negative(unit-var('1')), 50%);
      }
    }
  }
}
