// Functions.
@use 'functions/color/color.function' as *;
@use 'functions/var/get-var.function' as *;
@use 'functions/var/unit-var.function' as *;

// Mixins.
@use 'labels/mixins' as *;
@use 'mixins/border/border.mixin' as *;
@use 'mixins/margin.mixins' as *;
@use 'mixins/padding.mixins' as *;

// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
  color: inherit;
  font-weight: 500;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.6rem;
}
h3,
.h3 {
  font-size: 1.4rem;
}
h4,
.h4 {
  font-size: 1.2rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: 0.8rem;
}

// Paragraphs
p {
  @include margin('unit-0', 'unit-0', 'line-height');
}

// Semantic text elements
a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  cursor: help;
  @include border($style: 'dotted', $side: 'bottom');
  text-decoration: none;
}

kbd {
  @include label-base();
  @include label-color-variant('light', 'dark');
  font-size: get-var('font-size', $suffix: 'sm');
}

mark {
  @include label-color-variant('body-font', 'highlight');
  border-bottom: unit-var('o') solid color('highlight', $lightness: -15%); // TODO: border unit-o
  @include padding('unit-o', 'unit-h', 'unit-0');
  border-radius: get-var('border-radius');
}

// Blockquote
blockquote {
  margin-left: 0;
  @include padding('unit-2', 'unit-4');
  @include border('lg', $side: left);

  p:last-child {
    margin-bottom: 0;
  }
}

// Lists
ul,
ol {
  @include margin('unit-4', 'unit-0', 'unit-4', 'unit-4');
  padding: 0;

  ul,
  ol {
    @include margin('unit-4', 'unit-0', 'unit-4', 'unit-4');
  }

  li {
    @include margin-top('unit-2');
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    @include margin('unit-2', 'unit-0', 'unit-4', 'unit-0');
  }
}
