// Mixin: Viewer slider sizes
@use 'sass:math';

// Variables.
@use 'variables/core' as *;

// 360 Degree Viewer

// Mixin: Viewer slider sizes
@mixin viewer-slider-size($image-number: 36) {
  @for $s from 1 through ($image-number) {
    .viewer-slider[max='#{$image-number}'][value='#{$s}'] + .viewer-image {
      background-position-y: percentage(math.div((($s)-1) * 1, ($image-number)-1));
    }
  }
}

.#{$class-prefix}viewer-360 {
  display: flex;
  align-items: center;
  flex-direction: column;

  // Copy and add more numbers if you need
  @include viewer-slider-size(36);

  .viewer-slider {
    cursor: ew-resize;
    width: 60%;
    margin: 1rem;
    order: 2;
  }

  .viewer-image {
    max-width: 100%;
    order: 1;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
