@use '../variables/core' as *;

// Functions.
@use '../functions/var/css-var.function' as *;

// Mixins.
@use '../mixins/padding.mixins' as *;

// Button Sizes
.#{$class-prefix}btn {
  &.btn-sm {
    height: css-var('control-size', $suffix: 'sm');
    @include padding('control-padding-y-sm', 'control-padding-x-sm');
    font-size: css-var('font-size', $suffix: 'sm');
  }

  &.btn-lg {
    height: css-var('control-size', $suffix: 'lg');
    @include padding('control-padding-y-lg', 'control-padding-x-lg');
    font-size: css-var('font-size', $suffix: 'lg');
  }
}
