// Variables.
@use '../variables/core' as *;

// Functions.
@use '../functions/var/css-var.function' as *;
@use '../functions/var/get-var.function' as *;

// Mixins.
@use '../mixins/disabled.mixin' as *;
@use '../mixins/border/border.mixin' as *;
@use '../mixins/padding.mixins' as *;
@use '../mixins/shadow' as *;
@use '../mixins/transition.mixin' as *;

// Buttons
.#{$class-prefix}btn {
  user-select: none;

  // Display.
  display: inline-block;
  appearance: none;
  cursor: pointer;
  @include disabled('button');

  // Height & Line height.
  height: css-var('control-size');

  // Padding.
  @include padding('control-padding-y', 'control-padding-x');

  // Border.
  @include border();
  outline: none;

  // Text & Font.
  font-size: get-var('font-size');
  line-height: css-var('line-height');
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  @include transition(background, border, box-shadow, color);

  // States.
  &:focus {
    @include control-shadow();
  }
  &:focus,
  &:hover,
  &:active,
  &.active {
    text-decoration: none;
  }

  // Button Block
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Button raised
  &.btn-raised { // TODO: button raised
    @include shadow-variant(0.05rem);
  }
}
