@use '../variables' as *;

// Functions.
@use '../functions/var/unit-var.function' as *;

// Mixins.
@use '../mixins/color/background.mixin' as *;
@use '../mixins/margin.mixins' as *;
@use '../mixins/padding.mixins' as *;

// Button Clear
// Button color variants
@mixin s-button-clear() {
  .btn,
  .#{$var-prefix}-btn {
    &.btn-clear {
      background: transparent;
      border: 0;
      color: currentColor;
      height: unit-var('5');
      line-height: unit-var('4');
      @include margin-left('unit-1');
      margin-right: -2px;
      opacity: 1;
      @include padding('unit-h');
      text-decoration: none;
      width: unit-var('5');

      &:focus,
      &:hover {
        @include background('bg', $alpha: 0.5);
        opacity: 0.95;
      }

      &::before {
        content: '\2715';
      }
    }
  }
}
