@use '../variables' as *;

// Functions.
@use '../functions/get-var' as *;

// Mixins.
@use '../mixins/padding.mixins' as *;

// Button Sizes
.btn,
.#{$var-prefix}-btn {
  &.btn-sm {
    // font-size: $font-size-sm; // old spectre.css
    font-size: get-var('font-size', $suffix: 'sm');
    // height: $control-size-sm; // old spectre.css
    height: get-var('control-size', $suffix: 'sm');
    // padding: $control-padding-y-sm $control-padding-x-sm; // old spectre.css
    // padding: get-var('control-padding-y', $suffix: 'sm') get-var('control-padding-x', $suffix: 'sm'); // old @angular-package/spectre.css
    @include padding('control-padding-y-sm', 'control-padding-x-sm');
  }

  &.btn-lg {
    // font-size: $font-size-lg; // old spectre.css
    font-size: get-var('font-size', $suffix: 'lg');
    // height: $control-size-lg; // old spectre.css
    height: get-var('control-size', $suffix: 'lg');
    // padding: $control-padding-y-lg $control-padding-x-lg; // old spectre.css
    // padding: get-var('control-padding-y', $suffix: 'lg') get-var('control-padding-x', $suffix: 'lg'); // old @angular-package/spectre.css
    @include padding('control-padding-y-lg', 'control-padding-x-lg');
  }
}
