// Sass.
@use 'sass:map';

// Variables.
@use 'variables/hero.var' as *;

// Mixins.
@use 'mixins/hero-theme.mixin' as *;
@use 'functions/hero-class.function' as *;

// Hero theme initialize.
.#{hero-class()} {
  @include hero-theme(
    $dark: map.get($hero-theme, 'dark'),
    $light: map.get($hero-theme, 'light'),
    $normal: map.get($hero-theme, 'normal')  
  );
 }
