// Functions.
@use 'scheme.pick-theme-palette.function' as *;

$-theme: (
  dark: (),
  basic: (
    // core: (dark, light, accent, [primary [color, dark, light]], [secondary [color, dark, light]]),
    core: ((dark, 15%), light, accent, primary, primary dark, primary light, ),
    // core: (
    //   dark: (dark color, -15%),
    //   light: light color,
    //   accent: accent color,
    //   primary: primary color,
    //   primary dark: primary dark,
    //   primary light: primary light,
    //   secondary: secondary color,
    //   secondary dark: secondary dark,
    //   secondary light: secondary light
    // ),

    // build variant
    ['gray', secondary, primary large]: [xs [color, dark, light]],
    // ['secondary']: [xs [color, dark, light]],
    // 'gray': (
    //   'gray': 'gray' color,
    //   'gray' dark: 'gray' dark,
    //   'gray' light: 'gray' light
    // ),

    // [bg]: [color, dark, light],
    bg: (
      bg: bg color,
      bg dark: (bg dark, -30%),
      bg light: bg light
    ),

    // [border]: [color, dark, light],
    border: (
      border dark: border dark,
      border light: border light
    ),

    // [link]: [color, dark, light],
    link: (
      link: link color,
      link dark: link dark,
      link light: link light
    ),

    // variant
    (chat, sidebar, footer large): (disabled, error, info, success, warning),
    // control: (disabled, error, info, success, warning),

    (control,): (
      disabled: disabled color,
      error: error color,
      info: info color,
      success: success color,
      warning: warning color
    ),

    'body.palette': (
      body bg: body bg color,
      body font: body font color
    ),

    'other.palette': (
      code: code color,
      highlight: highlight color
    )
  )
) !default;

// input data
// [bracketed list] - build color variant
// '*' - all from the given theme
// '*.palette' ends with .palette
// (class variant)

// @debug pick-theme-palette($-theme, (basic: core bg));
// @debug pick-theme-palette($-theme, (basic: '*.palette'));
// @debug pick-theme-palette($-theme, (basic: [secondary, 'gray']), (basic: '*.palette'));

// all * indicator
// @debug pick-theme-palette($-theme, (basic: '*', dark: '*'));

// all *.palette indicator
// @debug pick-theme-palette($-theme, (basic: '*.palette'));
// @debug pick-theme-palette($-theme, (basic: '*.palette' '*.colors'));

// variant
// @debug pick-theme-palette($-theme, (basic: (control big,)));
// @debug pick-theme-palette($-theme, (basic: (control big, control,)));

// direct .palette
// @debug pick-theme-palette($-theme, (basic: 'core.palette' 'control.palette'));
// @debug pick-theme-palette($-theme, (basic: [bg 'gray'])); // bracketed indicates .palette suffix in the key

// bracketed palette
// @debug pick-theme-palette($-theme, (basic: [primary xs,]));
// @debug pick-theme-palette($-theme, (basic: [primary xs, secondary]));

// multiple
// @debug pick-theme-palette($-theme, (basic: ('*.palette', control big)));
// @debug pick-theme-palette($-theme, (basic: [primary xs, secondary] '*.palette' (control big)));
