// Sass.
@use 'sass:list';
@use 'sass:map';

// Modules.
@use 'palette';

// Functions.
@use 'scheme.pick.function' as *;

// Status: DONE
// The `build()` function.
@function build($scheme, $pick...) {
  $result: ();
  @if type-of($scheme) == map {
    @if list.length($pick) > 0 {
      @each $pick in $pick {
        @each $name, $palette in pick($scheme, $pick) {
          $result: map.deep-merge($result, ($name: palette.create($palette)));
        }
      }
    } @else {
      @each $name, $palette in $scheme {
        $result: map.deep-merge($result, ($name: palette.create($palette)));
      }
    }
  }
  @return $result;
}
