// Sass.
@use 'sass:map';

// Functions.
@use 'scheme.convert-to-palette.function' as *;
@use 'scheme.pick.function' as *;

// Status: DONE
// The `build()` function.
@function build($scheme...) {
  $result: ();
  @each $variant in $scheme {
    @if type-of($variant) == list {
      $-variant: ();
      @each $variant, $pick in ($variant,) {
        $-variant: map.deep-merge($-variant, pick($variant, $pick));
      }

      $variant: $-variant;
    }

    @if type-of($variant) == map {
      @each $name, $palette in $variant {
        $result: map.deep-merge($result, ($name: convert-to-palette($palette)));
      }
    }
  }
  @return $result;
}
