// Sass.
@use 'sass:list';
@use 'sass:map';

// Functions.
@use '../functions/compare.function' as *;
@use 'nth/list.nth-first.function' as *;

// Status: DONE
// The `index()` function.
@function index($list, $occurrence: all, $operator: '==', $values...) {
  $result: ();
  @each $value in $values {
    $index: -list-index($list, $occurrence, $operator, $value);
    $result: list.append($result, if(list.length($index) > 0, $index, null), list.separator($list));
  }
  @return if(list.length($result) > 0, nth-first($result), null);
}

// Private `-list-index()` function.
@function -list-index($list, $occurrence, $operator, $operand) {
  $result: ();
  $i: 1;
  @each $element in $list {
    $result: if(
      compare($element, $operator, $operand),
      list.join($result, $i, list.separator($list)),
      $result
    );
    $i: $i + 1;
  }
  @if list.length($result) > 0 {
    @if list.index(any first start, $occurrence) {
      $result: list.nth($result, 1);
    } @else if list.index(end last length, $occurrence) {
      $result: list.nth($result, list.length($result));
    }
  }
  @return nth-first($result);
}
