@use 'sass:string';
@use 'border.mixin' as *;
@use '../../variables/core' as *;

@mixin border-class-variant(
  $name,
  $size,
  $color: 'border-color-light',
  $radius: 'border-radius',
  $prefix: $var-prefix
) {
  @if (string.length($size) > 0) {
    .#{$name}-border-#{$size},
    .#{$prefix}-#{$name}-border-#{$size} {
      @include border(border-width-#{$size}, solid, $color, $radius);
    }
  } @else {
    .#{$name}-border,
    .#{$prefix}-#{$name}-border {
      @include border(border-width, solid, $color, $radius);
    }
  }
}
