@use 'border.mixin' as *;

@mixin border-hover(
  $width: '',
  $style: solid,
  $color: 'border',
  $radius: 'border-radius',
) {
  &:hover {
    @include border($width, $style, $color, $radius);
  }
}
