// Sass.
@use 'sass:string';

// Variables.
@use '../../variables/core' as *;

// Mixins.
@use 'border.mixin' as *;

@mixin border-class-variant(
  $name,
  $size,
  $color: 'border-color-light',
  $radius: 'border-radius',
  $prefix: $class-prefix
) {
  @if (string.length($size) > 0) {
    .#{$prefix}#{$name}-border-#{$size} {
      @include border(border-width-#{$size}, solid, $color, $radius);
    }
  } @else {
    .#{$prefix}#{$name}-border {
      @include border(border-width, solid, $color, $radius);
    }
  }
}
