// Sass.
@use 'sass:string';

// Mixin.
@use 'border.mixin' as *;

@mixin border-variant(
  $size,
  $style: solid,
  $color: 'border',
  $radius: 'border-radius',
) {
  @if (string.length($size) > 0) {
    &.border-#{$size} {
      @include border(border-width-#{$size}, solid, $color, $radius);
    }
  } @else {
    &.border {
      @include border(border-width, solid, $color, $radius);
    }
  }
}
