// Sass.
@use 'sass:list';

// Modules.
@use '../functions/var.get.function' as *;

// Status: DONE
// The `property()` mixin.
@mixin property($name, $values...) {
  $property-value: ();
  @each $value in $values {
    @if $value != '!important' {
      $property-value: list.append($property-value, get($value));
    }
  }
  @if list.index($values, '!important') {
    $property-value: list.append($property-value, '!important');
  }

  #{$name}: #{$property-value}
}

// Examples.
// div {
  // @include property(padding, 5px, 10px); //  padding: 5px 10px;
  // @include property(padding, unit 1 ('+' 15), unit 2); //  padding: calc(var(--s-unit-1) + 15) var(--s-unit-2) ;
// }
