// Sass.
@use 'sass:list';

// Modules.
@use '../scheme/scheme.is.function' as *;

// Status: DONE
// The `color-scheme-content()` mixin.
// $relative: boolean if true then it's sensitive to the `$color-scheme` argument.
@mixin color-scheme-content($color-scheme, $relative: false) {
  @if list.index(dark light normal, $color-scheme) {
    @if list.index(dark light, $color-scheme)  {
      @if not $relative or ($relative and is($color-scheme)) {
        @media (prefers-color-scheme: $color-scheme) {
          @content;
        }
      }
    } @else {
      @if not $relative or ($relative and is($color-scheme)) {
        @content;
      }
    }
  } @else {
    @content;
  }
}

// Examples.
// div {
  // @include color-scheme-content(dark) { color: orange; }
  // @include color-scheme-content(light) { color: red; }
  // @include color-scheme-content(light, true) { color: red; }
// }
